<configuration>
    <components>
        <!--
        The chosen search provider.
        A Lucene provider is provided out-of-the-box.
        Other providers can be imported or written to support other search engines.
        -->
        <component id="SearchProvider"
                   service="Ucommerce.Search.ISearchProvider, Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.SearchProvider, Ucommerce.Search.Lucene">
            <forwardedTypes>
                <add service="Ucommerce.Search.Lucene.IIndexToggle, Ucommerce.Search.Lucene" />
            </forwardedTypes>
        </component>

        <!-- 
        Lucene stores indexes on a disk. 
        You can customize the location using the basePath parameter.
         -->
        <component id="LuceneSearchProviderSettings"
                   service="Ucommerce.Search.Lucene.ISettings, Ucommerce.Search.Lucene"
                   type="Ucommerce.Search.Lucene.Settings, Ucommerce.Search.Lucene">
            <parameters>
                <basePath>App_Data/Ucommerce/Indexes</basePath>
            </parameters>
        </component>


        <!-- Scratch Indexers -->

        <component id="DefaultScratchIndexer"
                   service="Ucommerce.Search.Indexers.IScratchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexers.ScratchIndexer, Ucommerce.Search.Lucene" />


        <!-- Batch Indexers -->

        <component id="DefaultBatchIndexer"
                   service="Ucommerce.Search.Indexers.IBatchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexers.BatchIndexer, Ucommerce.Search.Lucene" />

    </components>
</configuration>