<configuration>
    <include-folder path="Indexes" />
    <components>
        <!--
        The chosen search provider.
        A Lucene provider is provided out-of-the-box.
        Other providers can be imported or written to support other search engines.
        -->
        <component id="SearchProvider"
                   service="Ucommerce.Search.ISearchProvider, Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.SearchProvider, Ucommerce.Search.Lucene">
            <forwardedTypes>
                <add service="Ucommerce.Search.Lucene.IIndexToggle, Ucommerce.Search.Lucene" />
            </forwardedTypes>
        </component>

        <!-- 
        Lucene stores indexes on a disk. 
        You can customize the location using the basePath parameter.
         -->
        <component id="LuceneSearchProviderSettings"
                   service="Ucommerce.Search.Lucene.ISettings, Ucommerce.Search.Lucene"
                   type="Ucommerce.Search.Lucene.Settings, Ucommerce.Search.Lucene">
            <parameters>
                <basePath>App_Data/Ucommerce/Indexes</basePath>
            </parameters>
        </component>

        <component id="SqlConnector"
                   service="Ucommerce.SqlMultiReaderConnector.Interfaces.ISqlMultiReaderConnector, Ucommerce.SqlMultiReaderConnector"
                   type="Ucommerce.SqlMultiReaderConnector.Implementations.Dapper.SqlConnector, Ucommerce.SqlMultiReaderConnector" />



        <!-- Scratch Indexers -->

        <component id="DefaultScratchIndexer"
                   service="Ucommerce.Search.Indexers.IScratchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexers.ScratchIndexer, Ucommerce.Search.Lucene" />



        <!-- Batch Indexers -->

        <component id="DefaultBatchIndexer"
                   service="Ucommerce.Search.Indexers.IBatchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexers.BatchIndexer, Ucommerce.Search.Lucene" />



        <!-- Individual Indexers -->

        <component id="ProductIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search" />

        <component id="SingleProductIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search" />

        <component id="ProductDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search" />

        <component id="SingleProductDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search" />



        <component id="CategoryIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search" />

        <component id="SingleCategoryIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search" />

        <component id="CategoryDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search" />

        <component id="SingleCategoryDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search" />



        <component id="ProductCatalogIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search" />

        <component id="SingleProductCatalogIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search" />

        <component id="ProductCatalogDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search" />

        <component id="SingleProductCatalogDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search" />



        <component id="ProductCatalogGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search" />

        <component id="SingleProductCatalogGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search" />

        <component id="ProductCatalogGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search" />

        <component id="SingleProductCatalogGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search" />



        <component id="PriceGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search" />

        <component id="SinglePriceGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search" />

        <component id="PriceGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search" />

        <component id="SinglePriceGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search" />
    </components>
</configuration>