<configuration>
  <components>

    <component
      id="HtmlSanitizer"
      service="UCommerce.Security.IHtmlSanitizer, UCommerce"
      type="UCommerce.Sanitization.HtmlSanitizer, UCommerce.Sanitization"/>

    <component
      id="TextSanitizer"
      service="UCommerce.Security.ITextSanitizer, UCommerce"
      type="UCommerce.Sanitization.TextSanitizer, UCommerce.Sanitization"/>

    </components>

</configuration>
