<configuration>
  <components>

    <component
      id="HtmlSanitizer"
      service="Ucommerce.Security.IHtmlSanitizer, Ucommerce"
      type="Ucommerce.Sanitization.HtmlSanitizer, Ucommerce.Sanitization"/>

    <component
      id="TextSanitizer"
      service="Ucommerce.Security.ITextSanitizer, Ucommerce"
      type="Ucommerce.Sanitization.TextSanitizer, Ucommerce.Sanitization"/>

    </components>

</configuration>
