<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="InstallApp"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.InstallApp.InstallAppArgs, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.InstallApp.InstallAppPipeline, Ucommerce">
			<parameters>
				<tasks>
					<array>
						<value>${InstallApp.UninstallExistingApp}</value>
						<value>${InstallApp.UnpackApp}</value>
						<value>${InstallApp.RefactorBinFolder}</value>
						<value>${InstallApp.MigrateDatabase}</value>
						<value>${InstallApp.IISReset}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="InstallApp.UninstallExistingApp"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.InstallApp.InstallAppArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.InstallApp.UninstallExistingAppTask, Ucommerce" />

		<component id="InstallApp.UnpackApp"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.InstallApp.InstallAppArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.InstallApp.UnpackAppTask, Ucommerce" />

		<component id="InstallApp.RefactorBinFolder"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.InstallApp.InstallAppArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.InstallApp.RefactorBinFolderTask, Ucommerce" />

		<component id="InstallApp.MigrateDatabase"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.InstallApp.InstallAppArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.InstallApp.MigrateDatabaseTask, Ucommerce" />

		<component id="InstallApp.IISReset"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.InstallApp.InstallAppArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.InstallApp.IISResetTask, Ucommerce" />
	</components>
</configuration>