<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="UninstallApp"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.UninstallApp.UninstallAppPipelineArgs, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.UninstallApp.UninstallAppPipeline, UCommerce">
			<parameters>
				<tasks>
					<array>
						<value>${UninstallApp.RemoveApp}</value>
						<value>${UninstallApp.IISReset}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="UninstallApp.RemoveApp"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.UninstallApp.UninstallAppPipelineArgs, UCommerce]], UCommerce"
				type="UCommerce.Pipelines.UninstallApp.RemoveAppTask, UCommerce" />
		
		<component id="UninstallApp.IISReset"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.UninstallApp.UninstallAppPipelineArgs, UCommerce]], UCommerce"
				type="UCommerce.Pipelines.UninstallApp.IISResetTask, UCommerce" />
		
	</components>
</configuration>