<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="UploadApp"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UploadApp.UploadAppRequest, UCommerce],[UCommerce.Pipelines.UploadApp.UploadAppResponse, UCommerce]], UCommerce]], UCommerce"
					 type="UCommerce.Pipelines.UploadApp.UploadAppPipeline, UCommerce">
			<parameters>
				<tasks>
					<array>
						<value>${UploadApp.ValidateApp}</value>
						<value>${UploadApp.SaveAppPackage}</value>
						<value>${UploadApp.CreateManifest}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="UploadApp.ValidateApp"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UploadApp.UploadAppRequest, UCommerce],[UCommerce.Pipelines.UploadApp.UploadAppResponse, UCommerce]], UCommerce]], UCommerce"
				type="UCommerce.Pipelines.UploadApp.ValidateAppTask, UCommerce" />
		
		<component id="UploadApp.SaveAppPackage"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UploadApp.UploadAppRequest, UCommerce],[UCommerce.Pipelines.UploadApp.UploadAppResponse, UCommerce]], UCommerce]], UCommerce"
				type="UCommerce.Pipelines.UploadApp.SaveAppPackageTask, UCommerce" />

    <component id="UploadApp.CreateManifest"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UploadApp.UploadAppRequest, UCommerce],[UCommerce.Pipelines.UploadApp.UploadAppResponse, UCommerce]], UCommerce]], UCommerce"
				type="UCommerce.Pipelines.UploadApp.CreateManifestTask, UCommerce">
      <parameters>
        <appsService>${AppsService}</appsService>
      </parameters>
    </component>
		
	</components>
</configuration>