<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="GetAllInstalledAppManifest"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.GetAllInstalledAppManifests.GetAllInstalledAppManifestArgs, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.GetAllInstalledAppManifests.GetAllInstalledAppManifestPipeline, UCommerce">
			<parameters>
				<tasks>
					<array>
						<value>${GetAllInstalledAppManifest.CreateManifests}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="GetAllInstalledAppManifest.CreateManifests"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.GetAllInstalledAppManifests.GetAllInstalledAppManifestArgs, UCommerce]], UCommerce"
				type="UCommerce.Pipelines.GetAllInstalledAppManifests.CreateManifestsTask, UCommerce" />
		
	</components>
</configuration>