<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="UploadApp"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UploadApp.UploadAppRequest, Ucommerce],[Ucommerce.Pipelines.UploadApp.UploadAppResponse, Ucommerce]], Ucommerce]], Ucommerce"
					 type="Ucommerce.Pipelines.UploadApp.UploadAppPipeline, Ucommerce">
			<parameters>
				<tasks>
					<array>
						<value>${UploadApp.ValidateApp}</value>
						<value>${UploadApp.SaveAppPackage}</value>
						<value>${UploadApp.CreateManifest}</value>
                        <value>${UploadApp.FindInstalledUcommerceRuntimeVersion}</value>
						<value>${UploadApp.ValidateAppCompatibility}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="UploadApp.ValidateApp"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UploadApp.UploadAppRequest, Ucommerce],[Ucommerce.Pipelines.UploadApp.UploadAppResponse, Ucommerce]], Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.UploadApp.ValidateAppTask, Ucommerce" />
		
		<component id="UploadApp.SaveAppPackage"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UploadApp.UploadAppRequest, Ucommerce],[Ucommerce.Pipelines.UploadApp.UploadAppResponse, Ucommerce]], Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.UploadApp.SaveAppPackageTask, Ucommerce" />

    <component id="UploadApp.CreateManifest"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UploadApp.UploadAppRequest, Ucommerce],[Ucommerce.Pipelines.UploadApp.UploadAppResponse, Ucommerce]], Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.UploadApp.CreateManifestTask, Ucommerce">
      <parameters>
        <appsService>${AppsService}</appsService>
      </parameters>
    </component>
    
    <component id="UploadApp.FindInstalledUcommerceRuntimeVersion"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UploadApp.UploadAppRequest, Ucommerce],[Ucommerce.Pipelines.UploadApp.UploadAppResponse, Ucommerce]], Ucommerce]], Ucommerce"
                type="Ucommerce.Pipelines.UploadApp.FindInstalledUcommerceRuntimeVersionTask, Ucommerce" />
                
    <component id="UploadApp.ValidateAppCompatibility"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UploadApp.UploadAppRequest, Ucommerce],[Ucommerce.Pipelines.UploadApp.UploadAppResponse, Ucommerce]], Ucommerce]], Ucommerce"
                type="Ucommerce.Pipelines.UploadApp.ValidateAppCompatibilityTask, Ucommerce" />
		
	</components>
</configuration>