<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="UninstallApp"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.UninstallApp.UninstallAppPipelineArgs, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.UninstallApp.UninstallAppPipeline, Ucommerce">
			<parameters>
				<tasks>
					<array>
						<value>${UninstallApp.RemoveApp}</value>
						<value>${UninstallApp.IISReset}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="UninstallApp.RemoveApp"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.UninstallApp.UninstallAppPipelineArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.UninstallApp.RemoveAppTask, Ucommerce" />
		
		<component id="UninstallApp.IISReset"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.UninstallApp.UninstallAppPipelineArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.UninstallApp.IISResetTask, Ucommerce" />
		
	</components>
</configuration>