<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="GetAllInstalledAppManifest"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.GetAllInstalledAppManifests.GetAllInstalledAppManifestArgs, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.GetAllInstalledAppManifests.GetAllInstalledAppManifestPipeline, Ucommerce">
			<parameters>
				<tasks>
					<array>
						<value>${GetAllInstalledAppManifest.CreateManifests}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="GetAllInstalledAppManifest.CreateManifests"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.GetAllInstalledAppManifests.GetAllInstalledAppManifestArgs, Ucommerce]], Ucommerce"
				type="Ucommerce.Pipelines.GetAllInstalledAppManifests.CreateManifestsTask, Ucommerce" />
		
	</components>
</configuration>