<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveProductCatalog"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductCatalogPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${SaveProductCatalogTask.UpdateRevision}</value>
						<value>${SaveProductCatalogTask.save}</value>
						<value>${SaveProductCatalogTask.IndexAsync}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="SaveProductCatalogTask.UpdateRevision"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductCatalogSave.UpdateProductCatalogRevisionTask, UCommerce.Pipelines" />

		<component id="SaveProductCatalogTask.save"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductCatalogSave.SaveProductCatalogTask, UCommerce.Pipelines" />

		<component id="SaveProductCatalogTask.Index"
						 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
						 type="UCommerce.Pipelines.Search.SearchIndexerTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce.Pipelines" />

		<component id="SaveProductCatalogTask.IndexAsync"
				 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				 type="UCommerce.Pipelines.PipelineTaskAsync`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce" >
			<parameters>
				<pipelineTaskName>SaveProductCatalogTask.Index</pipelineTaskName>
				<MaxNumberOfTries>3</MaxNumberOfTries>
			</parameters>
		</component>

	</components>
</configuration>