<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProductCatalogGroup"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductCatalogGroupPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductCatalogGroup.RunDeleteProductCatalog}</value>
						<value>${ProductCatalogGroup.delete}</value>
						<value>${ProductCatalogGroup.Deindex}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductCatalogGroup.RunDeleteProductCatalog"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductCatalogGroupDelete.RunDeleteProductCatalogTask, Ucommerce.Pipelines" >
			<parameters>
				<deleteProductCatalogPipeline>${DeleteProductCatalog}</deleteProductCatalogPipeline>
			</parameters>
		</component>

		<component id="ProductCatalogGroup.delete"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductCatalogGroupDelete.DeleteProductCatalogGroupTask, Ucommerce.Pipelines" />

		<component id="ProductCatalogGroup.Deindex"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Search.SearchDeindexerTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce.Pipelines" />

	</components>
</configuration>