<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveCategory"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.CategoryPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Category.UpdateRevision}</value>
						<value>${Category.Save}</value>
						<value>${Category.IndexAsync}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Category.UpdateRevision"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.CategorySave.UpdateCategoryRevisionTask, UCommerce.Pipelines" />

		<component id="Category.Save"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.CategorySave.SaveCategoryTask, UCommerce.Pipelines" />

		<component id="Category.Index"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Search.SearchIndexerTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce.Pipelines" />

		<component id="Category.IndexAsync"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
			   type="UCommerce.Pipelines.PipelineTaskAsync`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce">
			<parameters>
				<pipelineTaskName>Category.Index</pipelineTaskName>
				<MaxNumberOfTries>3</MaxNumberOfTries>
			</parameters>
		</component>

	</components>
</configuration>