<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProductCatalogGroup"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductCatalogGroup, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductCatalogGroupPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductCatalogGroup.RunDeleteProductCatalog}</value>
						<value>${ProductCatalogGroup.delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductCatalogGroup.RunDeleteProductCatalog"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalogGroup, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductCatalogGroupDelete.RunDeleteProductCatalogTask, UCommerce.Pipelines" >
			<parameters>
				<deleteProductCatalogPipeline>${DeleteProductCatalog}</deleteProductCatalogPipeline>
			</parameters>
		</component>

		<component id="ProductCatalogGroup.delete"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalogGroup, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductCatalogGroupDelete.DeleteProductCatalogGroupTask, UCommerce.Pipelines" />

	</components>
</configuration>