<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteCategory"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.CategoryPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Category.Delete}</value>
						<value>${Category.Deindex}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Category.Delete"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.CategoryDelete.DeleteCategoryTask, Ucommerce.Pipelines" />
		<component id="Category.Deindex"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Search.SearchDeindexerTask`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce.Pipelines" />
	</components>
</configuration>