<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProduct"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Product.Delete}</value>
						<value>${Product.Deindex}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Product.Delete"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductDelete.DeleteProductTask, UCommerce.Pipelines" />
		<component id="Product.Deindex"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Search.SearchDeindexerTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce.Pipelines" />
	</components>
</configuration>