<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteVariant"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
	</components>
</configuration>