<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveProductCatalog"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductCatalogPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${SaveProductCatalogTask.UpdateRevision}</value>
						<value>${SaveProductCatalogTask.save}</value>
						<value>${SaveProductCatalogTask.IndexAsync}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="SaveProductCatalogTask.UpdateRevision"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductCatalogSave.UpdateProductCatalogRevisionTask, Ucommerce.Pipelines" />

		<component id="SaveProductCatalogTask.save"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductCatalogSave.SaveProductCatalogTask, Ucommerce.Pipelines" />

		<component id="SaveProductCatalogTask.Index"
						 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
						 type="Ucommerce.Pipelines.Search.SearchIndexerTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce.Pipelines" />

		<component id="SaveProductCatalogTask.IndexAsync"
				 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
				 type="Ucommerce.Pipelines.PipelineTaskAsync`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce" >
			<parameters>
				<pipelineTaskName>SaveProductCatalogTask.Index</pipelineTaskName>
				<MaxNumberOfTries>3</MaxNumberOfTries>
			</parameters>
		</component>

	</components>
</configuration>