<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProductCatalog"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductCatalogPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductCatalog.delete}</value>
						<value>${ProductCatalog.Deindex}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductCatalog.delete"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductCatalogDelete.DeleteProductCatalogTask, UCommerce.Pipelines" />
		<component id="ProductCatalog.Deindex"
						 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
						 type="UCommerce.Pipelines.Search.SearchDeindexerTask`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce.Pipelines" />
	</components>
</configuration>