<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveProductCatalogGroup"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductCatalogGroup, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductCatalogGroupPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductCatalogGroup.UpdateRevision}</value>
						<value>${ProductCatalogGroup.save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductCatalogGroup.UpdateRevision"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalogGroup, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductCatalogGroupSave.UpdateProductCatalogGroupRevisionTask, UCommerce.Pipelines" />

		<component id="ProductCatalogGroup.save"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductCatalogGroup, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductCatalogGroupSave.SaveProductCatalogGroupTask, UCommerce.Pipelines" />

	</components>
</configuration>