<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteCategory"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.CategoryPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Category.Delete}</value>
						<value>${Category.Deindex}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Category.Delete"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.CategoryDelete.DeleteCategoryTask, UCommerce.Pipelines" />
		<component id="Category.Deindex"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Search.SearchDeindexerTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce.Pipelines" />
	</components>
</configuration>