<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProduct"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Product.Delete}</value>
						<value>${Product.Deindex}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Product.Delete"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductDelete.DeleteProductTask, Ucommerce.Pipelines" />
		<component id="Product.Deindex"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Search.SearchDeindexerTask`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce.Pipelines" />
	</components>
</configuration>