<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveProduct"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Product.UpdateRevision}</value>
						<value>${Product.Save}</value>
						<value>${Product.IndexAsync}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Product.UpdateRevision"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductSave.UpdateProductRevisionTask, UCommerce.Pipelines" />

		<component id="Product.Save"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.Admin.ProductSave.SaveProductTask, UCommerce.Pipelines" />
		
		<component id="Product.Index"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Search.SearchIndexerTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce.Pipelines" />

		<component id="Product.IndexAsync"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
			   type="UCommerce.Pipelines.PipelineTaskAsync`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce" >
				<parameters>
					<pipelineTaskName>Product.Index</pipelineTaskName>
					<MaxNumberOfTries>3</MaxNumberOfTries>
				</parameters>
		</component>
	</components>
</configuration>