<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveProductCatalogGroup"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductCatalogGroupPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductCatalogGroup.UpdateRevision}</value>
						<value>${ProductCatalogGroup.save}</value>
						<value>${ProductCatalogGroup.IndexAsync}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductCatalogGroup.UpdateRevision"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductCatalogGroupSave.UpdateProductCatalogGroupRevisionTask, Ucommerce.Pipelines" />

		<component id="ProductCatalogGroup.save"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductCatalogGroupSave.SaveProductCatalogGroupTask, Ucommerce.Pipelines" />
		
		<component id="ProductCatalogGroup.Index"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Search.SearchIndexerTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce.Pipelines" />

		<component id="ProductCatalogGroup.IndexAsync"
			   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce"
			   type="Ucommerce.Pipelines.PipelineTaskAsync`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce" >
				<parameters>
					<pipelineTaskName>ProductCatalogGroup.Index</pipelineTaskName>
					<MaxNumberOfTries>3</MaxNumberOfTries>
				</parameters>
		</component>

	</components>
</configuration>