<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteVariant"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
	</components>
</configuration>