<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProductCatalog"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductCatalogPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductCatalog.delete}</value>
						<value>${ProductCatalog.Deindex}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductCatalog.delete"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.Admin.ProductCatalogDelete.DeleteProductCatalogTask, Ucommerce.Pipelines" />
		<component id="ProductCatalog.Deindex"
						 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
						 type="Ucommerce.Pipelines.Search.SearchDeindexerTask`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce.Pipelines" />
	</components>
</configuration>