<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteDataType"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.DataType, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.GenericPipeline`1[[Ucommerce.EntitiesV2.DataType, Ucommerce]], Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DataType.Delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DataType.Delete"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.DataType, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.DataTypeDelete.DeleteDataTypeTask, Ucommerce.Pipelines" />
	</components>
</configuration>