<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveDefinitionField"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Definitions.IDefinitionField, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.GenericPipeline`1[[Ucommerce.EntitiesV2.Definitions.IDefinitionField, Ucommerce]], Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DefinitionField.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DefinitionField.Save"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Definitions.IDefinitionField, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.DefintionFieldSave.SaveDefinitionFieldTask, Ucommerce.Pipelines" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>

	</components>
</configuration>