<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveDefinitionField"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Definitions.IDefinitionField, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.GenericPipeline`1[[UCommerce.EntitiesV2.Definitions.IDefinitionField, UCommerce]], UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DefinitionField.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DefinitionField.Save"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Definitions.IDefinitionField, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Definitions.Admin.DefintionFieldSave.SaveDefinitionFieldTask, UCommerce.Pipelines" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>

	</components>
</configuration>