<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProductDefinitionField"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductDefinitionField, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductDefinitionFieldPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductDefinitionField.Delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductDefinitionField.Delete"
					 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductDefinitionField, Ucommerce]], Ucommerce"
					 type="Ucommerce.Pipelines.Definitions.Admin.ProductDefinitionFieldDelete.DeleteProductDefinitionFieldTask, Ucommerce.Pipelines">
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>
		
	</components>
</configuration>