<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteDefinition"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Definitions.IDefinition, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.GenericPipeline`1[[Ucommerce.EntitiesV2.Definitions.IDefinition, Ucommerce]], Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Definition.Delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Definition.Delete"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Definitions.IDefinition, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.DefinitionDelete.DeleteDefinitionTask, Ucommerce.Pipelines" />

	</components>
</configuration>