<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveProductDefinitionField"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductDefinitionFieldPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductDefinitionField.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductDefinitionField.Save"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Definitions.Admin.ProductDefinitionFieldSave.SaveProductDefinitionFieldTask, UCommerce.Pipelines" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>

	</components>
</configuration>