<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveDataType"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.GenericPipeline`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DataType.UpdateRevision}</value>
						<value>${DataType.Save}</value>
						<value>${DataType.Index}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DataType.UpdateRevision"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Definitions.Admin.DataTypeSave.UpdateDataTypeRevisionTask, UCommerce.Pipelines" />

		<component id="DataType.Save"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Definitions.Admin.DataTypeSave.SaveDataTypeTask, UCommerce.Pipelines" />

		<component id="DataType.Index"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Search.SearchIndexerTask`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce.Pipelines" />
	</components>
</configuration>