<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveDataType"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.DataType, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.GenericPipeline`1[[Ucommerce.EntitiesV2.DataType, Ucommerce]], Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DataType.UpdateRevision}</value>
						<value>${DataType.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DataType.UpdateRevision"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.DataType, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.DataTypeSave.UpdateDataTypeRevisionTask, Ucommerce.Pipelines" />

		<component id="DataType.Save"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.DataType, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.DataTypeSave.SaveDataTypeTask, Ucommerce.Pipelines" />

	</components>
</configuration>