<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveDefinition"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Definitions.IDefinition, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.GenericPipeline`1[[Ucommerce.EntitiesV2.Definitions.IDefinition, Ucommerce]], Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Definition.UpdateRevision}</value>
						<value>${Definition.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Definition.UpdateRevision"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Definitions.IDefinition, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.DefinitionSave.UpdateDefinitionRevisionTask, Ucommerce.Pipelines" />

		<component id="Definition.Save"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Definitions.IDefinition, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.DefinitionSave.SaveDefinitionTask, Ucommerce.Pipelines" />

	</components>
</configuration>