<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveProductDefinitionField"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductDefinitionField, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductDefinitionFieldPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductDefinitionField.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductDefinitionField.Save"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductDefinitionField, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Definitions.Admin.ProductDefinitionFieldSave.SaveProductDefinitionFieldTask, Ucommerce.Pipelines" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>

	</components>
</configuration>