<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveDefinition"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.GenericPipeline`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Definition.UpdateRevision}</value>
						<value>${Definition.Save}</value>
						<value>${Definition.Index}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Definition.UpdateRevision"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Definitions.Admin.DefinitionSave.UpdateDefinitionRevisionTask, UCommerce.Pipelines" />

		<component id="Definition.Save"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Definitions.Admin.DefinitionSave.SaveDefinitionTask, UCommerce.Pipelines" />

		<component id="Definition.Index"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Search.SearchIndexerTask`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce.Pipelines" />
	</components>
</configuration>