<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteProductDefinitionField"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductDefinitionFieldPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductDefinitionField.Delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductDefinitionField.Delete"
					 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
					 type="UCommerce.Pipelines.Definitions.Admin.ProductDefinitionFieldDelete.DeleteProductDefinitionFieldTask, UCommerce.Pipelines">
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>
		
	</components>
</configuration>