<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteDataType"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.GenericPipeline`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DataType.Deindex}</value>
						<value>${DataType.Delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DataType.Delete"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Definitions.Admin.DataTypeDelete.DeleteDataTypeTask, UCommerce.Pipelines" />

		<component id="DataType.Deindex"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Search.SearchDeindexerTask`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce.Pipelines" />
	</components>
</configuration>