<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteLanguage"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
				   type="UCommerce.Pipelines.Globalization.LanguagePipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
					</array>
				</tasks>
			</parameters>
		</component>

	</components>
</configuration>