<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveLanguage"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Infrastructure.Globalization.Language, Ucommerce.Infrastructure]], Ucommerce"
				   type="Ucommerce.Pipelines.Globalization.LanguagePipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
					</array>
				</tasks>
			</parameters>
		</component>

	</components>
</configuration>