<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveCampaign"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Campaign, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Marketing.CampaignPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${SaveCampaign.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="SaveCampaign.Save"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Campaign, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Marketing.Admin.CampaignSave.SaveCampaignTask, Ucommerce.Pipelines" />

	</components>
</configuration>