<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteCampaignItem"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.CampaignItem, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Marketing.CampaignItemPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DeleteCampaignItem.Delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DeleteCampaignItem.Delete"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.CampaignItem, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Marketing.Admin.CampaignItemDelete.DeleteCampaignItemTask, UCommerce.Pipelines" />

	</components>
</configuration>