<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="DeleteCampaignItem"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.CampaignItem, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Marketing.CampaignItemPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${DeleteCampaignItem.Delete}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="DeleteCampaignItem.Delete"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.CampaignItem, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Marketing.Admin.CampaignItemDelete.DeleteCampaignItemTask, Ucommerce.Pipelines" />

	</components>
</configuration>