<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveCampaign"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Campaign, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Marketing.CampaignPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${SaveCampaign.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="SaveCampaign.Save"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Campaign, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Marketing.Admin.CampaignSave.SaveCampaignTask, UCommerce.Pipelines" />

	</components>
</configuration>