<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveOrder"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.BasketPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>

						<!-- Calculate order level discount total based on applied discounts -->
						<value>${Order.CalculateOrderLinesUnitDiscounts}</value>

						<!-- Calculcate order line discounts based on applied discounts -->
						<value>${Order.CalculateOrderDiscount}</value>
						<value>${Order.CalculateOrderLinesDiscounts}</value>
						
						<!--Ensures that the order line Discout exceed the order line total-->
						<value>${Order.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotal}</value>

						<!-- Calculate total value of items excluding taxes -->
						<value>${Order.CalculateOrderSubTotal}</value>

						<!-- Recalculate tax for order lines based on reduced unit prices -->
						<value>${Order.CalculateOrderLineTax}</value>

						<!-- Recalculate tax rate for order lines. -->
						<value>${Order.CalculateOrderLineTaxRate}</value>

					  <!-- Calculate shipping fees and tax -->
					  <value>${Order.CalculateShippingCostForShipments}</value>
					  <value>${Order.CalculateShippingTaxForShipments}</value>
					  <value>${Order.CalculateShippingTotalForShipments}</value>
            
						<!-- Calculate totals for order lines and order -->
						<value>${Order.CalculateOrderLinesTotals}</value>
					  <value>${Order.CalculateShippingTotal}</value>
						<value>${Order.CalculatePaymentTotal}</value>

						<value>${Order.CalculateVATTotal}</value>
						<value>${Order.CalculateOrderDiscountTotal}</value>

						<value>${Order.CalculateOrderTaxTotal}</value>
						<value>${Order.CalculateOrderTotal}</value>

						<value>${Order.DecrementPayments}</value>
						<value>${Order.CleanUp}</value>
						<value>${Order.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Order.CalculateOrderLinesUnitDiscounts"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLinesUnitDiscountsTask, Ucommerce.Pipelines" />
		
		<component id="Order.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotalTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateOrderLinesDiscounts"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLinesDiscountsTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateOrderLinesTotals"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTotalsTask, Ucommerce.Pipelines" />

    <component id="Order.CalculateShippingTaxForShipments"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Transactions.Orders.CalculateShippingTaxForShipmentsWithDefaultPriceGroupForStoreTask, Ucommerce.Pipelines" />

	  <component id="Order.CalculateShippingCostForShipments"
	             service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
	             type="Ucommerce.Pipelines.Transactions.Orders.CalculateShippingCostForShipmentsWithDefaultPriceGroupForStoreTask, Ucommerce.Pipelines" />

	  <component id="Order.CalculateShippingTotalForShipments"
	             service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
	             type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTotalForShipmentsTask, Ucommerce.Pipelines" />

    <component id="Order.CalculateShippingTotal"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTotalTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculatePaymentTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculatePaymentTotalTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateVATTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderVatTotalTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateOrderSubTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderSubTotalTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateOrderLineTax"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTaxTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateOrderTaxTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderTaxTotalTask, Ucommerce.Pipelines" />

		<component id="Order.CalculateOrderLineTaxRate"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTaxRateTask, Ucommerce.Pipelines" />

		<component id="Order.CalculateOrderDiscount"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderDiscountTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateOrderDiscountTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderDiscountTotalTask, Ucommerce.Pipelines" />
		
		<component id="Order.CalculateOrderTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderTotalTask, Ucommerce.Pipelines" />
		
		<component id="Order.DecrementPayments"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.DecrementPaymentsTask, Ucommerce.Pipelines" />
		
		<component id="Order.CleanUp"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Basket.CleanUpTask, Ucommerce.Pipelines" />
		
		<component id="Order.Save"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Common.SavePurchaseOrderTask, Ucommerce.Pipelines" />
	</components>
</configuration>