<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveOrder"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.BasketPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>

						<!-- Calculate order level discount total based on applied discounts -->
						<value>${Order.CalculateOrderLinesUnitDiscounts}</value>

						<!-- Calculcate order line discounts based on applied discounts -->
						<value>${Order.CalculateOrderDiscount}</value>
						<value>${Order.CalculateOrderLinesDiscounts}</value>
						
						<!--Ensures that the order line Discout exceed the order line total-->
						<value>${Order.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotal}</value>

						<!-- Calculate total value of items excluding taxes -->
						<value>${Order.CalculateOrderSubTotal}</value>

						<!-- Recalculate tax for order lines based on reduced unit prices -->
						<value>${Order.CalculateOrderLineTax}</value>

						<!-- Recalculate tax rate for order lines. -->
						<value>${Order.CalculateOrderLineTaxRate}</value>

					  <!-- Calculate shipping fees and tax -->
					  <value>${Order.CalculateShippingCostForShipments}</value>
					  <value>${Order.CalculateShippingTaxForShipments}</value>
					  <value>${Order.CalculateShippingTotalForShipments}</value>
            
						<!-- Calculate totals for order lines and order -->
						<value>${Order.CalculateOrderLinesTotals}</value>
					  <value>${Order.CalculateShippingTotal}</value>
						<value>${Order.CalculatePaymentTotal}</value>

						<value>${Order.CalculateVATTotal}</value>
						<value>${Order.CalculateOrderDiscountTotal}</value>

						<value>${Order.CalculateOrderTaxTotal}</value>
						<value>${Order.CalculateOrderTotal}</value>

						<value>${Order.DecrementPayments}</value>
						<value>${Order.CleanUp}</value>
						<value>${Order.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Order.CalculateOrderLinesUnitDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLinesUnitDiscountsTask, UCommerce.Pipelines" />
		
		<component id="Order.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotalTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateOrderLinesDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLinesDiscountsTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateOrderLinesTotals"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTotalsTask, UCommerce.Pipelines" />

    <component id="Order.CalculateShippingTaxForShipments"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTaxForShipmentsTask, UCommerce.Pipelines" />

	  <component id="Order.CalculateShippingCostForShipments"
	             service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
	             type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingCostForShipmentsTask, UCommerce.Pipelines" />

	  <component id="Order.CalculateShippingTotalForShipments"
	             service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
	             type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTotalForShipmentsTask, UCommerce.Pipelines" />

    <component id="Order.CalculateShippingTotal"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTotalTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculatePaymentTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculatePaymentTotalTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateVATTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderVatTotalTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateOrderSubTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderSubTotalTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateOrderLineTax"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTaxTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateOrderTaxTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderTaxTotalTask, UCommerce.Pipelines" />

		<component id="Order.CalculateOrderLineTaxRate"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTaxRateTask, UCommerce.Pipelines" />

		<component id="Order.CalculateOrderDiscount"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderDiscountTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateOrderDiscountTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderDiscountTotalTask, UCommerce.Pipelines" />
		
		<component id="Order.CalculateOrderTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderTotalTask, UCommerce.Pipelines" />
		
		<component id="Order.DecrementPayments"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.DecrementPaymentsTask, UCommerce.Pipelines" />
		
		<component id="Order.CleanUp"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CleanUpTask, UCommerce.Pipelines" />
		
		<component id="Order.Save"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Common.SavePurchaseOrderTask, UCommerce.Pipelines" />
	</components>
</configuration>