<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteProductRelationType"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductRelationType, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.ProductRelationType, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteProductRelationType.DeleteProductRelationType}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteProductRelationType.DeleteProductRelationType"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductRelationType, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.ProductRelationTypeTasks.DeleteProductRelationTypeTask, Ucommerce.Pipelines" />
  </components>
</configuration>