<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeletePaymentMethod"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.PaymentMethod, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.PaymentMethod, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeletePaymentMethod.DeletePaymentMethod}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeletePaymentMethod.DeletePaymentMethod"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PaymentMethod, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.PaymentMethodTasks.DeletePaymentMethodTask, Ucommerce.Pipelines" />
  </components>
</configuration>