<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteEmailType"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.EmailType, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.EmailType, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${EmailType.EmailType}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="EmailType.EmailType"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.EmailType, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.EmailSettingsTasks.DeleteEmailTypeTask, Ucommerce.Pipelines" />
  </components>
</configuration>