<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteProductRelationType"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductRelationType, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.ProductRelationType, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteProductRelationType.DeleteProductRelationType}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteProductRelationType.DeleteProductRelationType"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductRelationType, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.ProductRelationTypeTasks.DeleteProductRelationTypeTask, UCommerce.Pipelines" />
  </components>
</configuration>