<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteEmailProfile"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.EmailProfile, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.EmailProfile, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteEmailProfile.DeleteEmailProfile}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteEmailProfile.DeleteEmailProfile"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.EmailProfile, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.EmailSettingsTasks.DeleteEmailProfileTask, Ucommerce.Pipelines" />
  </components>
</configuration>