<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveUserRoles"
				  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
					type="Ucommerce.Pipelines.Settings.Security.SaveUserRolesPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${SaveUserRoles.ClearAllRolesForUser}</value>
						<value>${SaveUserRoles.AddUserToRoles}</value>
						<value>${SaveUserRoles.SaveUser}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="SaveUserRoles.ClearAllRolesForUser"
								 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
								 type="Ucommerce.Pipelines.Settings.Security.ClearAllRolesForUserTask, Ucommerce.Pipelines" />

		<component id="SaveUserRoles.AddUserToRoles"
								 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
								 type="Ucommerce.Pipelines.Settings.Security.AddUserToRolesTask, Ucommerce.Pipelines" />

		<component id="SaveUserRoles.SaveUser"
								 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserRoles.SaveUserRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
								 type="Ucommerce.Pipelines.Settings.Security.SaveUserTask, Ucommerce.Pipelines" />
	</components>
</configuration>
