<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteShippingMethod"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ShippingMethod, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.ShippingMethod, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteShippingMethod.DeleteShippingMethod}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteShippingMethod.DeleteShippingMethod"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ShippingMethod, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.ShippingMethodTasks.DeleteShippingMethodTask, Ucommerce.Pipelines" />
  </components>
</configuration>