<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteOrderNumberSerie"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.OrderNumberSerie, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.OrderNumberSerie, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteOrderNumberSerie.DeleteOrderNumberSerie}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteOrderNumberSerie.DeleteOrderNumberSerie"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.OrderNumberSerie, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.OrderNumberSerieTasks.DeleteOrderNumberSerieTask, UCommerce.Pipelines" />
  </components>
</configuration>