<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeletePriceGroup"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PriceGroup, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.PriceGroup, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeletePriceGroup.DeletePriceGroup}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeletePriceGroup.DeletePriceGroup"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PriceGroup, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.PriceGroupTasks.DeletePriceGroupTask, UCommerce.Pipelines" />
  </components>
</configuration>