<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteShippingMethod"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ShippingMethod, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.ShippingMethod, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteShippingMethod.DeleteShippingMethod}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteShippingMethod.DeleteShippingMethod"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ShippingMethod, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.ShippingMethodTasks.DeleteShippingMethodTask, UCommerce.Pipelines" />
  </components>
</configuration>