<configuration>
  <components>
    <!--Pipeline Instance-->
    <component id="SaveEmailProfileInformation"
      service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationRequest, Ucommerce],[Ucommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationResponse, Ucommerce]], Ucommerce]], Ucommerce"
      type="Ucommerce.Pipelines.Settings.SaveEmailProfileInformationPipeline, Ucommerce.Pipelines">
      <parameters>
        <tasks>
          <array>
            <value>${SaveEmailProfileInformation.SetEmailProfileInformationPipelineResponse}</value>
            <value>${SaveEmailProfileInformation.SaveEmailProfileInformation}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!--Pipeline Tasks-->
    <component id="SaveEmailProfileInformation.SetEmailProfileInformationPipelineResponse"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationRequest, Ucommerce],[Ucommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationResponse, Ucommerce]], Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Settings.Admin.EmailSettingsTasks.SetEmailProfileInformationPipelineResponseTask, Ucommerce.Pipelines"/>

    <component id="SaveEmailProfileInformation.SaveEmailProfileInformation"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationRequest, Ucommerce],[Ucommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationResponse, Ucommerce]], Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Settings.Admin.EmailSettingsTasks.SaveEmailProfileInformationTask, Ucommerce.Pipelines"/>

  </components>
</configuration>