<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="SavePriceGroup"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${SavePriceGroup.SavePriceGroup}</value>
			<value>${SavePriceGroup.Index}</value>
        </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="SavePriceGroup.SavePriceGroup"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.PriceGroupTasks.SavePriceGroupTask, Ucommerce.Pipelines" />
    <component id="SavePriceGroup.Index"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Search.SearchIndexerTask`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce.Pipelines" />
  </components>
</configuration>