<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteEmailProfile"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.EmailProfile, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.EmailProfile, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteEmailProfile.DeleteEmailProfile}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteEmailProfile.DeleteEmailProfile"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.EmailProfile, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.EmailSettingsTasks.DeleteEmailProfileTask, UCommerce.Pipelines" />
  </components>
</configuration>