<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteCurrency"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Currency, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.Currency, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteCurrency.DeleteCurrency}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteCurrency.DeleteCurrency"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Currency, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.CurrencyTasks.DeleteCurrencyTask, UCommerce.Pipelines" />
  </components>
</configuration>