<configuration>
  <components>
    <!--Pipeline Instance-->
    <component id="SaveEmailProfileInformation"
      service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationRequest, UCommerce],[UCommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationResponse, UCommerce]], UCommerce]], UCommerce"
      type="UCommerce.Pipelines.Settings.SaveEmailProfileInformationPipeline, UCommerce.Pipelines">
      <parameters>
        <tasks>
          <array>
            <value>${SaveEmailProfileInformation.SetEmailProfileInformationPipelineResponse}</value>
            <value>${SaveEmailProfileInformation.SaveEmailProfileInformation}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!--Pipeline Tasks-->
    <component id="SaveEmailProfileInformation.SetEmailProfileInformationPipelineResponse"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationRequest, UCommerce],[UCommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationResponse, UCommerce]], UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Settings.Admin.EmailSettingsTasks.SetEmailProfileInformationPipelineResponseTask, UCommerce.Pipelines"/>

    <component id="SaveEmailProfileInformation.SaveEmailProfileInformation"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationRequest, UCommerce],[UCommerce.Pipelines.SaveEmailProfile.SaveEmailProfileInformationResponse, UCommerce]], UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Settings.Admin.EmailSettingsTasks.SaveEmailProfileInformationTask, UCommerce.Pipelines"/>

  </components>
</configuration>