<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteOrderNumberSerie"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.OrderNumberSerie, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.OrderNumberSerie, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteOrderNumberSerie.DeleteOrderNumberSerie}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteOrderNumberSerie.DeleteOrderNumberSerie"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.OrderNumberSerie, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.OrderNumberSerieTasks.DeleteOrderNumberSerieTask, Ucommerce.Pipelines" />
  </components>
</configuration>