<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="SaveUserGroupRoles"
				  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
					type="Ucommerce.Pipelines.Settings.Security.Group.SaveUserGroupRolesPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${SaveUserGroupRoles.ClearAllRolesForUser}</value>
						<value>${SaveUserGroupRoles.AddUserToRoles}</value>
						<value>${SaveUserGroupRoles.SaveUser}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="SaveUserGroupRoles.ClearAllRolesForUser"
								 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
								 type="Ucommerce.Pipelines.Settings.Security.Group.ClearAllRolesForUserGroupTask, Ucommerce.Pipelines" />

		<component id="SaveUserGroupRoles.AddUserToRoles"
								 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
								 type="Ucommerce.Pipelines.Settings.Security.Group.AddUserGroupToRolesTask, Ucommerce.Pipelines" />

		<component id="SaveUserGroupRoles.SaveUser"
								 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesRequest, Ucommerce],[Ucommerce.Pipelines.SaveUserGroupRoles.SaveUserGroupRolesResponse, Ucommerce]], Ucommerce]], Ucommerce"
								 type="Ucommerce.Pipelines.Settings.Security.Group.SaveUserGroupTask, Ucommerce.Pipelines" />
	</components>
</configuration>