<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteCountry"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Country, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.Country, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteCountry.DeleteCountry}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteCountry.DeleteCountry"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Country, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.CountryTasks.DeleteCountryTask, Ucommerce.Pipelines" />
  </components>
</configuration>