<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeletePaymentMethod"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PaymentMethod, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.PaymentMethod, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeletePaymentMethod.DeletePaymentMethod}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeletePaymentMethod.DeletePaymentMethod"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PaymentMethod, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.PaymentMethodTasks.DeletePaymentMethodTask, UCommerce.Pipelines" />
  </components>
</configuration>