<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteCountry"
		  service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.Country, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Pipeline`1[[UCommerce.EntitiesV2.Country, UCommerce]], UCommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteCountry.DeleteCountry}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteCountry.DeleteCountry"
			service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Country, UCommerce]], UCommerce"
			type="UCommerce.Pipelines.Settings.Admin.CountryTasks.DeleteCountryTask, UCommerce.Pipelines" />
  </components>
</configuration>