<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeleteCurrency"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.Currency, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.Currency, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeleteCurrency.DeleteCurrency}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeleteCurrency.DeleteCurrency"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.Currency, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.CurrencyTasks.DeleteCurrencyTask, Ucommerce.Pipelines" />
  </components>
</configuration>