<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component
      id="DeletePriceGroup"
		  service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Pipeline`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce">
      <parameters>
        <tasks>
          <array>
            <value>${DeletePriceGroup.DeletePriceGroup}</value>
			<value>${DeletePriceGroup.Deindex}</value>
        </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks-->
    <component
      id="DeletePriceGroup.DeletePriceGroup"
			service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce"
			type="Ucommerce.Pipelines.Settings.Admin.PriceGroupTasks.DeletePriceGroupTask, Ucommerce.Pipelines" />
    <component id="DeletePriceGroup.Deindex"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Search.SearchDeindexerTask`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce.Pipelines" />
  </components>
</configuration>