<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup xdt:Locator="Condition(@name='commerce')" xdt:Transform="Remove" />
    <section xdt:Locator="Condition(@name='syscache')" xdt:Transform="Remove" />
    <section xdt:Locator="Condition(@name='SubsonicService')" xdt:Transform="Remove" />
  </configSections>
  <commerce xdt:Transform="Remove" />
  <UCommerce xdt:Transform="Remove" />
  <syscache xdt:Transform="Remove" />
  <SubSoniService xdt:Transform="Remove" />
  <appSettings>
    <add xdt:Locator="Condition(@key='Raven/AnonymousAccess')" xdt:Transform="Remove"/>
    <add xdt:Locator="Condition(@key='castleIgnoreAssemblies')" xdt:Transform="Remove"/>
    <add xdt:Locator="Condition(@key='nhibernate-logger')" xdt:Transform="Remove"/>
  </appSettings>
  <system.webServer>
    <modules>
      <add xdt:Locator="Condition(@name='PerRequestLifestyle')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='InitializeAppAssemblies')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='UCommerceAppsInitializeModule')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='EnsureUCommerceInit')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='UCommerceInitializeModule')" xdt:Transform="Remove"/>
    </modules>
    <handlers>
      <add xdt:Locator="Condition(@name='PaymentRequest')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='PaymentProcessor')" xdt:Transform="Remove"/>
    </handlers>
  </system.webServer>
  <system.web>
    <pages>
      <controls>
        <add xdt:Transform="Remove" xdt:Locator="Condition(@tagPrefix='commerce')"/>
      </controls>
    </pages>
    <httpModules>
      <add xdt:Locator="Condition(@name='PerRequestLifestyle')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='EnsureUCommerceInit')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='UCommerceInitializeModule')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='UCommerceInstallationModule')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@name='ClientDependencyModule')" xdt:Transform="Remove"/>
    </httpModules>
    <httpHandlers>
      <add xdt:Locator="Condition(@path='PaymentRequest.axd')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@path='PaymentProcessor.axd')" xdt:Transform="Remove"/>
      <add xdt:Locator="Condition(@path='DependencyHandler.axd')" xdt:Transform="Remove"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(./_defaultNamespace:codeBase/@href, 'ucommerce'))" />
    </assemblyBinding>
  </runtime>
  <location xdt:Locator="Condition(@path='ucommerceapi')" xdt:Transform="Remove"/>
  <location xdt:Locator="Condition(@path='sitecore modules/Shell/ucommerce')" xdt:Transform="Remove"/>
  <sitecore database="SqlServer">
    <events timingLevel="custom">
      <event name="user:deleted">
        <handler xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type,'UCommerce'))" />
      </event>
      <event name="item:created">
        <handler xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type,'UCommerce'))" />
      </event>
      <event name="item:deleting">
        <handler xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type,'UCommerce'))" />
      </event>
    </events>
    <pipelines>
      <preprocessRequest>
        <processor>
          <param desc="Allowed extensions (comma separated)" xdt:Transform="Replace" xdt:Locator="XPath(/configuration/sitecore/pipelines/preprocessRequest/processor/param[@desc='Allowed extensions (comma separated)'])">aspx, ashx, asmx</param>
        </processor>
      </preprocessRequest>
      <httpRequestBegin>
        <processor xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type, 'UCommerce'))" />
        <processor xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type, 'UCommerce'))" />
        <processor xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type, 'UCommerce'))" />
        <processor xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type, 'UCommerce'))" />
      </httpRequestBegin>
      <getItemPersonalizationVisibility>
        <processor xdt:Transform="Remove" xdt:Locator="Condition(starts-with(@type, 'UCommerce'))" />
      </getItemPersonalizationVisibility>
    </pipelines>
    <dataProviders>
      <ucommerceprovider xdt:Transform="Remove" />
      <ucommerceprovidermaster xdt:Transform="Remove" />
      <ucommerceprovidercore xdt:Transform="Remove" />
    </dataProviders>
    <databases>
      <database>
        <dataProviders>
          <dataProvider xdt:Transform="Remove" xdt:Locator="Condition(@ref='dataProviders/ucommerceprovider')" />
          <dataProvider xdt:Transform="Remove" xdt:Locator="Condition(@ref='dataProviders/ucommerceprovidermaster')" />
          <dataProvider xdt:Transform="Remove" xdt:Locator="Condition(@ref='dataProviders/ucommerceprovidercore')" />
        </dataProviders>
      </database>
    </databases>
    <IDTable type="Sitecore.Data.$(database).$(database)IDTable, Sitecore.Kernel" xdt:Transform="SetAttributes"/>
    <IDTable>
      <param desc="cacheSize" xdt:Transform="Replace" xdt:Locator="XPath(/configuration/sitecore/IDTable/param[@desc='cacheSize'])">500KB</param>
    </IDTable>
    <settings>
      <setting name="ContentEditor.CheckSecurityOnTreeNodes" value="true" xdt:Transform="SetAttributes" xdt:Locator="XPath(/configuration/sitecore/settings/setting[@name='ContentEditor.CheckSecurityOnTreeNodes'])"/>
    </settings>
  </sitecore>
  <log4net>
    <logger xdt:Transform="Remove" xdt:Locator="Condition(@name='Sitecore.Diagnostics.UCommerceLogFileAppender')">
    </logger>
  </log4net>
</configuration>