<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <globalization xdt:Transform="Remove" xdt:Locator="Match(resourceProviderFactoryType)" resourceProviderFactoryType="Telerik.Sitefinity.Localization.ExtendedResourceProviderFactory, Telerik.Sitefinity" />
    <globalization uiCulture="auto" xdt:Transform="InsertIfMissing" xdt:Locator="Match(resourceProviderFactoryType)"  culture="auto" resourceProviderFactoryType="UCommerce.Sitefinity.Localization.ExtendedResourceProviderFactory2, UCommerce.Sitefinity" />
  </system.web>
</configuration>