<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<httpModules>
			<add xdt:Locator="Condition(@name='UcommerceInstallationModule')" xdt:Transform="Remove"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<modules>
			<add xdt:Locator="Condition(@name='UcommerceInstallationModule')" xdt:Transform="Remove"/>
			<remove xdt:Locator="Condition(@name='UcommerceInstallationModule')" xdt:Transform="Remove"/>
		</modules>
	</system.webServer>
</configuration>