<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<handlers>
			<add  xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@path='PaymentRequest.axd')" verb="*" path="PaymentRequest.axd" preCondition="integratedMode" name="PaymentRequest" type="Ucommerce.Transactions.Payments.PaymentRequestForm, Ucommerce" />
			<add  xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@path='PaymentProcessor.axd')" verb="*" path="PaymentProcessor.axd" preCondition="integratedMode" name="PaymentProcessor" type="Ucommerce.Transactions.Payments.PaymentProcessor, Ucommerce" />
		</handlers>
	</system.webServer>
</configuration>