<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<section xdt:Transform="Remove" xdt:Locator="Condition(@name='syscache')"/>
		<section xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='syscache')" name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache, Version=5.5.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443" requirePermission="false" />
		<section xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='clientDependency')" name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core, Version=1.8.2.1" requirePermission="false"/>
	</configSections>
	<system.web>
		<pages xdt:Transform="InsertIfMissing">

		</pages>
		<pages enableEventValidation="false" xdt:Transform="SetAttributes(enableEventValidation)">
			<controls xdt:Transform="InsertIfMissing">
				<add xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@tagPrefix='commerce')" tagPrefix="commerce" namespace="Ucommerce.Presentation.Web.Controls" assembly="Ucommerce.Presentation" />
			</controls>
		</pages>
	</system.web>

	<syscache xdt:Transform="Insert">
		<!-- Cache catalog objects for 60 mins before refreshing -->
		<cache region="CatalogFoundation" expiration="3600" priority="5" />
		<cache region="MarketingFoundation" expiration="3600" priority="5" />
		<cache region="SecurityFoundation" expiration="3600" priority="5" />
		<cache region="Backend" expiration="3600" priority="5" />
	</syscache>
	<location path="ucommerceapi" xdt:Transform="Insert" xdt:Locator="Condition(@path='ucommerceapi')">
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="true">
				<add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core, Version=1.8.2.1, Culture=neutral" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='ClientDependencyModule')"/>
			</modules>
			<validation validateIntegratedModeConfiguration="false" />
		</system.webServer>
	</location>
</configuration>
