<configuration>
  <components>
    <!-- eWay -->
    <component id="eWAY"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.EWay.EWayPaymentMethodService, Ucommerce.Transactions.Payments.EWay" />

  </components>
</configuration>