<configuration>
  <components>
    <!-- eWay -->
    <component id="eWAY"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.EWay.EWayPaymentMethodService, Ucommerce.Transactions.Payments.EWay, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

  </components>
</configuration>