<!-- Configuration for the default payment method service-->
<configuration>
  <components>
    <component id="Default Payment Method Service"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.DefaultPaymentMethodService, Ucommerce" />
  </components>
</configuration>
