<!-- Configuration for the default payment method service-->
<configuration>
  <components>
    <component id="Default Payment Method Service"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.DefaultPaymentMethodService, UCommerce" />
  </components>
</configuration>
