<configuration>
  <components>
    <!-- Payer -->
    <component id="Payer"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Payer.PayerPaymentMethodService, UCommerce.Transactions.Payments.Payer" />

    <component id="PayerPageBuilder"
               service="UCommerce.Transactions.Payments.Payer.PayerPageBuilder, UCommerce.Transactions.Payments.Payer"
               type="UCommerce.Transactions.Payments.Payer.PayerPageBuilder, UCommerce.Transactions.Payments.Payer" />

    <component id="PayerMd5Computer"
               service="UCommerce.Transactions.Payments.Payer.PayerMd5Computer, UCommerce.Transactions.Payments.Payer"
               type="UCommerce.Transactions.Payments.Payer.PayerMd5Computer, UCommerce.Transactions.Payments.Payer" />

  </components>
</configuration>