<configuration>
  <components>
    <!-- Payer -->
    <component id="Payer"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Payer.PayerPaymentMethodService, Ucommerce.Transactions.Payments.Payer" />

    <component id="PayerPageBuilder"
               service="Ucommerce.Transactions.Payments.Payer.PayerPageBuilder, Ucommerce.Transactions.Payments.Payer"
               type="Ucommerce.Transactions.Payments.Payer.PayerPageBuilder, Ucommerce.Transactions.Payments.Payer" />

    <component id="PayerMd5Computer"
               service="Ucommerce.Transactions.Payments.Payer.PayerMd5Computer, Ucommerce.Transactions.Payments.Payer"
               type="Ucommerce.Transactions.Payments.Payer.PayerMd5Computer, Ucommerce.Transactions.Payments.Payer" />

  </components>
</configuration>