<!--
	Core configuration for Ucommerce components.
-->
<configuration>
	<include uri="Presenters.config" />
	<include uri="DataTypes.config" />
	<include uri="Marketing.config" />
	<include uri="Shipping.config" />
    <include uri="Settings/Settings.config" />
    <include uri="Core.config" />
	<include uri="Shell.config" />
    <include uri="Synchronization.config" />

	<!-- Pipelines -->
	<include uri="../pipelines/Admin/Catalogs.Category.Delete.config" />
	<include uri="../pipelines/Admin/Catalogs.Category.Save.config" />
	<include uri="../pipelines/Admin/Catalogs.Product.Delete.config" />
	<include uri="../pipelines/Admin/Catalogs.Product.Save.config" />
	<include uri="../pipelines/Admin/Catalogs.Variant.Delete.config" />
	<include uri="../pipelines/Admin/Catalogs.ProductCatalog.Delete.config" />
	<include uri="../pipelines/Admin/Catalogs.ProductCatalog.Save.config" />
	<include uri="../pipelines/Admin/Catalogs.ProductCatalogGroup.Delete.config" />
	<include uri="../pipelines/Admin/Catalogs.ProductCatalogGroup.Save.config" />
	<include uri="../pipelines/Admin/Definitions.DataType.Delete.config" />
	<include uri="../pipelines/Admin/Definitions.DataType.Save.config" />
	<include uri="../pipelines/Admin/Definitions.Definition.Delete.config" />
	<include uri="../pipelines/Admin/Definitions.Definition.Save.config" />
	<include uri="../pipelines/Admin/Definitions.DefinitionField.Save.config" />
	<include uri="../pipelines/Admin/Definitions.ProductDefinitionField.Delete.config" />
	<include uri="../pipelines/Admin/Definitions.ProductDefinitionField.Save.config" />
	<include uri="../pipelines/Admin/Globalization.Language.Delete.config" />
	<include uri="../pipelines/Admin/Globalization.Language.Save.config" />
	<include uri="../pipelines/Admin/Marketing.CampaignItem.Delete.config" />
    <include uri="../pipelines/Admin/Marketing.CampaignItem.Save.config" />
    <include uri="../pipelines/Admin/Marketing.Campaign.Delete.config" />
    <include uri="../pipelines/Admin/Marketing.Campaign.Save.config" />
    <include uri="../pipelines/Admin/Orders.Order.Save.config" />
    <include uri="../pipelines/Admin/Settings.Country.Delete.config" />
    <include uri="../pipelines/Admin/Settings.Currency.Delete.config" />
    <include uri="../pipelines/Admin/Settings.EmailProfile.Delete.config" />
    <include uri="../pipelines/Admin/Settings.EmailType.Delete.config" />
    <include uri="../pipelines/Admin/Settings.OrderNumberSerie.Delete.config" />
    <include uri="../pipelines/Admin/Settings.PaymentMethod.Delete.config" />
    <include uri="../pipelines/Admin/Settings.PriceGroup.Save.config" />
    <include uri="../pipelines/Admin/Settings.PriceGroup.Delete.config" />
    <include uri="../pipelines/Admin/Settings.ProductRelationType.Delete.config" />
	<include uri="../pipelines/Admin/Settings.Roles.SaveUser.config" />
	<include uri="../pipelines/Admin/Settings.Roles.SaveUserGroup.config" />
	<include uri="../pipelines/Admin/Settings.ShippingMethod.Delete.config" />
	<include uri="../pipelines/Admin/Apps.Upload.config" />
	<include uri="../pipelines/Admin/Apps.Install.config" />
	<include uri="../pipelines/Admin/Apps.GetInstalledAppManifests.config" />
	<include uri="../pipelines/Admin/Apps.Uninstall.config" />
	<include uri="../pipelines/System/Initialize.config" />
	<include uri="../pipelines/Baskets.AddAddress.config" />
	<include uri="../pipelines/Baskets.AddToBasket.config" />
	<include uri="../pipelines/Baskets.Basket.config" />
	<include uri="../pipelines/Baskets.Checkout.config" />
	<include uri="../pipelines/Baskets.GetBasket.config" />
	<include uri="../pipelines/Baskets.CreateBasket.config" />
	<include uri="../pipelines/Baskets.CreateShipment.config" />
	<include uri="../pipelines/Baskets.RemoveShipment.config" />
	<include uri="../pipelines/Baskets.UpdateLineItem.config" />
	<include uri="../pipelines/Catalogs.GetProduct.config" />
	<include uri="../pipelines/Catalogs.ProductReview.config" />
	<include uri="../pipelines/Catalogs.ProductReviewComment.config" />
    <include uri="../pipelines/Catalogs.UpdateCurrencyExchangeRates.config" />
	<include uri="../pipelines/Customers.CreateCustomer.config" />
	<include uri="../pipelines/Customers.CreateMember.config" />
	<include uri="../pipelines/Orders.Processing.config" />
	<include uri="../pipelines/Orders.ToCancelled.config" />
	<include uri="../pipelines/Orders.ToCompletedOrder.config" />
	<include uri="../pipelines/UI/PageBuilder.config" />
    <include uri="../pipelines/Admin/Settings.EmailProfileInformation.Save.config" />
	
	<!-- Apps configuration-->
	<include-folder path="../Apps" />

    <!-- Custom configuration-->
    <include uri="Custom.config"/>
</configuration>