<!--
	Core configuration for uCommerce components.
-->
<configuration>

  <components>

    <component
      id="TextSanitizer"
      service="UCommerce.Security.ITextSanitizer, UCommerce"
      type="UCommerce.SystemWeb.Security.TextSanitizer, UCommerce.SystemWeb" />

    <component
      id="HtmlSanitizer"
      service="UCommerce.Security.IHtmlSanitizer, UCommerce"
      type="UCommerce.SystemWeb.Security.HtmlSanitizer, UCommerce.SystemWeb" />

    <component
      id="CatalogConfiguration"
      service="UCommerce.Infrastructure.Configuration.CatalogConfiguration"
      type="UCommerce.Infrastructure.Configuration.CatalogConfiguration">
      <parameters>
        <DefaultCultureCode>#{defaultCultureCode}</DefaultCultureCode>
        <EnforceCategoryNameUniquenessWithinCatalogs>#{enforceCategoryNameUniquenessWithinCatalogs}</EnforceCategoryNameUniquenessWithinCatalogs>
      </parameters>
    </component>

    <!-- Data Access -->
		<component
			id="SessionProvider"
			service="UCommerce.EntitiesV2.ISessionProvider, UCommerce"
			type="UCommerce.EntitiesV2.SessionProvider, UCommerce">
		  <parameters>
        <EnableCache>#{enableCache}</EnableCache>
        <CacheProvider>#{cacheProvider}</CacheProvider>
		    <ConnectionIsolation>#{databaseConnectionIsolationLevel}</ConnectionIsolation>
		  </parameters>
			<interceptors>
				<interceptor>${ExceptionLoggingInterceptor}</interceptor>
			</interceptors>
		</component>

    <component
      id="ConnectionStringLocator"
      service="UCommerce.Infrastructure.Configuration.IConnectionStringLocator, UCommerce.Infrastructure"
      type="UCommerce.Infrastructure.Configuration.ConnectionStringLocator, UCommerce.Infrastructure">
      <parameters>
        <connectionString>#{connectionString}</connectionString>
      </parameters>
    </component>

		<component
			id="StatelessSessionProvider"
			service="UCommerce.EntitiesV2.IStatelessSessionProvider, UCommerce"
			type="UCommerce.EntitiesV2.SessionProvider, UCommerce">
		  <parameters>
		    <EnableCache>#{enableCache}</EnableCache>
		    <CacheProvider>#{cacheProvider}</CacheProvider>
		    <ConnectionIsolation>#{databaseConnectionIsolationLevel}</ConnectionIsolation>
		  </parameters>
			<interceptors>
				<interceptor>${ExceptionLoggingInterceptor}</interceptor>
			</interceptors>
		</component>

		<component
			id="CacheProvider"
			service="UCommerce.EntitiesV2.ICacheProvider, UCommerce"
			type="UCommerce.EntitiesV2.CacheProvider, UCommerce"/>

		<component
			id="UCommerce.CoreDataMappings"
			service="UCommerce.EntitiesV2.IContainsNHibernateMappingsTag, UCommerce"
			type="UCommerce.EntitiesV2.MappingAssemblyTag, UCommerce"/>

		<component
			id="Repository"
			service="UCommerce.EntitiesV2.IRepository`1, UCommerce"
			type="UCommerce.EntitiesV2.Repository`1, UCommerce"/>

		<component
			id="SoftDeletableRepository"
			service="UCommerce.EntitiesV2.ISoftDeletableRepository`1, UCommerce"
			type="UCommerce.EntitiesV2.SoftDeletableRepository`1, UCommerce"/>

		<!-- Internal libraries-->
		<component
			id="CatalogLibraryInternal"
			service="UCommerce.Catalog.CatalogLibraryInternal, UCommerce"
			type="UCommerce.Catalog.CatalogLibraryInternal, UCommerce">
			<interceptors>
				<interceptor>${ExceptionLoggingInterceptor}</interceptor>
			</interceptors>
		</component>

		<component
			id="MarketingLibraryInternal"
			service="UCommerce.Marketing.MarketingLibraryInternal, UCommerce"
			type="UCommerce.Marketing.MarketingLibraryInternal, UCommerce">
			<interceptors>
				<interceptor>${ExceptionLoggingInterceptor}</interceptor>
			</interceptors>
		</component>

		<component
			id="TransactionLibraryInternal"
			service="UCommerce.Transactions.TransactionLibraryInternal, UCommerce"
			type="UCommerce.Transactions.TransactionLibraryInternal, UCommerce">
			<interceptors>
				<interceptor>${ExceptionLoggingInterceptor}</interceptor>
			</interceptors>
		</component>

		<component
			id="SearchLibraryInternal"
			service="UCommerce.Search.SearchLibraryInternal, UCommerce"
			type="UCommerce.Search.SearchLibraryInternal, UCommerce">
			<interceptors>
				<interceptor>${ExceptionLoggingInterceptor}</interceptor>
			</interceptors>
		</component>

		<component
			id="LibraryImpl"
			service="UCommerce.Xslt.LibraryImpl, UCommerce"
			type="UCommerce.Xslt.LibraryImpl, UCommerce"/>

		<!-- Interceptors -->
		<component
			id="ExceptionLoggingInterceptor"
			service="UCommerce.Infrastructure.Interceptor.ExceptionLoggingInterceptor, UCommerce.Infrastructure"
			type="UCommerce.Infrastructure.Interceptor.ExceptionLoggingInterceptor, UCommerce.Infrastructure"/>

		<component
			id="XmlExceptionInterceptor"
			service="UCommerce.Xslt.Interceptors.XmlExceptionInterceptor, UCommerce.Infrastructure"
			type="UCommerce.Xslt.Interceptors.XmlExceptionInterceptor, UCommerce.Infrastructure"/>

		<component
			id="TimingInterceptor"
			service="UCommerce.Infrastructure.Interceptor.TimingInterceptor, UCommerce.Infrastructure"
			type="UCommerce.Infrastructure.Interceptor.TimingInterceptor, UCommerce.Infrastructure"/>

		<!-- Context API -->
		<component
			id="SiteContext"
			service="UCommerce.Runtime.ISiteContext, UCommerce"
			type="UCommerce.Runtime.SiteContext, UCommerce"/>

		<component
			id="CatalogContext"
			service="UCommerce.Runtime.ICatalogContext, UCommerce"
			type="UCommerce.Runtime.CatalogContext, UCommerce"/>

		<component
			id="OrderContext"
			service="UCommerce.Runtime.IOrderContext, UCommerce"
			type="UCommerce.Runtime.OrderContext, UCommerce"/>

    <component
			id="LocalizationContext"
			service="UCommerce.Infrastructure.Globalization.ILocalizationContext, UCommerce.Infrastructure"
			type="UCommerce.Infrastructure.Globalization.Globalization, UCommerce.Infrastructure">
      <parameters>
        <DefaultCultureCode>#{defaultCultureCode}</DefaultCultureCode>
      </parameters>
    </component>

		<component
			id="ClientContext"
			service="UCommerce.Xslt.IClientContext, UCommerce"
			type="UCommerce.Xslt.ClientContext, UCommerce"/>

		<!-- Services -->
		<component
			id="OrderService"
			service="UCommerce.Transactions.IOrderService, UCommerce"
			type="UCommerce.Transactions.OrderService, UCommerce"/>

		<component
			id="PriceService"
			service="UCommerce.Catalog.IPricingService, UCommerce"
			type="UCommerce.Catalog.PricingService, UCommerce"/>

		<component
			id="TaxService"
			service="UCommerce.Catalog.ITaxService, UCommerce"
			type="UCommerce.Catalog.TaxService, UCommerce"/>

		<component
			id="UrlService"
			service="UCommerce.Catalog.IUrlService, UCommerce"
			type="UCommerce.Catalog.UrlService, UCommerce"/>

		<component
			id="ProductReviewService"
			service="UCommerce.Catalog.ProductReviewService, UCommerce"
			type="UCommerce.Catalog.ProductReviewService, UCommerce"/>

		<component
			id="CheckoutService"
			service="UCommerce.Transactions.CheckoutService, UCommerce"
			type="UCommerce.Transactions.CheckoutService, UCommerce"/>

		<component
			id="EmailService"
			service="UCommerce.Transactions.IEmailService, UCommerce"
			type="UCommerce.Transactions.EmailService, UCommerce"/>

		<component
		  id="NumberSeriesService"
		  service ="UCommerce.Transactions.INumberSeriesService, UCommerce"
		  type="UCommerce.Transactions.NumberSeriesService, UCommerce"/>

		<component
		  id="RoundingService"
		  service ="UCommerce.Transactions.IRoundingService, UCommerce"
		  type="UCommerce.Transactions.RoundingService, UCommerce"/>

		<component
			id="AbsoluteUrlService"
			service="UCommerce.Web.IAbsoluteUrlService, UCommerce"
			type="UCommerce.Web.Impl.AbsoluteUrlService, UCommerce">
			<parameters>
				<includeLanguage>False</includeLanguage>
				<includePort>False</includePort>
			</parameters>
		</component>

		<component
			id="uCommercePathService"
			service="UCommerce.Infrastructure.Runtime.IPathService, UCommerce.Infrastructure"
			type="UCommerce.Infrastructure.Runtime.uCommercePathService, UCommerce.Infrastructure"/>

		<component
			id="CallbackUrl"
			service="UCommerce.Web.ICallbackUrl, UCommerce"
			type="UCommerce.Web.Impl.CallbackUrl, UCommerce" />

    <component
      id="RequestPaymentUrl"
      service="UCommerce.Web.IRequestPaymentUrl, UCommerce"
      type="UCommerce.Web.Impl.RequestPaymentUrl, UCommerce" />

		<component
			id="AppsService"
			service="UCommerce.Apps.IAppsService, UCommerce"
			type="UCommerce.Apps.AppsService, UCommerce"/>

    <component
        id="ProductPriceCalculationService"
        service="UCommerce.Catalog.IProductPriceCalculationService, UCommerce"
        type="UCommerce.Catalog.Impl.ProductPriceCalculationService, UCommerce"/>

    <!-- Product Price queries-->
    <component
        id="ProductPriceQuery"
        service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.ProductPriceQueryArgs, UCommerce][UCommerce.Catalog.Models.ProductPriceQueryResult, UCommerce]]"
        type="UCommerce.NHibernate.Impl.DiscountAppliedProductPriceQuery, UCommerce.NHibernate"/>

    <component
      id="DashboardOverviewQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.DashboardOverviewQueryArgs, UCommerce][UCommerce.Catalog.Models.DashboardOverviewQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.DashboardOverviewQuery, UCommerce.NHibernate"/>

    <component
      id="BasketConversionQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.DashboardOverviewQueryArgs, UCommerce][UCommerce.Catalog.Models.BasketConversionQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.BasketConversionQuery, UCommerce.NHibernate"/>

    <!-- Infrastructure -->
		<component
			id="WebRuntimeInspector"
			service="UCommerce.Infrastructure.Environment.IWebRuntimeInspector, UCommerce.Infrastructure"
			type="UCommerce.Infrastructure.Environment.WebRuntimeInspector, UCommerce.Infrastructure" />

		<!-- Shell services -->
		<component
			id="TreeServiceShell"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>root</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>Ucommerce</RootNodeName>
				<RootNodeIcon>ucommerce-logo-icon.svg</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-1</RootNodeId>
				<RootNodeParentId>10</RootNodeParentId>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${DefaultDashboardSectionProvider}</item>
						<item>${DefaultShellCatalogSectionProvider}</item>
						<item>${DefaultCatalogsSectionProvider}</item>
						<item>${DefaultCatalogSearchItemProvider}</item>
						<item>${DefaultOrdersSectionProvider}</item>
						<item>${DefaultMarketingSectionProvider}</item>
						<item>${DefaultAnalyticsSectionProvider}</item>
						<item>${DefaultAppsRootSectionProvider}</item>
						<item>${DefaultRootSectionProvider}</item>
						<item>${DefaultSettingsAppsProvider}</item>
						<item>${DefaultSettingsAppsInstallerProvider}</item>
						<item>${DefaultSettingsAppsInstalledProvider}</item>
						<item>${DefaultSettingsRootSectionProvider}</item>
						<item>${DefaultSettingsCatalogProvider}</item>
						<item>${DefaultSettingsOrdersProvider}</item>
						<item>${DefaultSettingsEmailsProvider}</item>
						<item>${DefaultSettingsDefinitionsProvider}</item>
						<item>${DefaultSettingsSecurityProvider}</item>
					</list>
				</contentProviders>
			</parameters>
		</component>

		<component
						id ="DefaultCatalogsSectionProvider"
						service="UCommerce.Tree.ITreeContentProvider, UCommerce"
						type="UCommerce.Tree.Impl.Providers.CatalogsSectionProvider, UCommerce" />

		<component
			id ="DefaultRootSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsRootSectionsProvider, UCommerce" />

		<component
			id ="DefaultDashboardSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.DashboardSectionProvider, UCommerce" />

		<component
			id ="DefaultCatalogSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.CatalogSectionProvider, UCommerce">
			<parameters>
				<considerProductsAsChildren>true</considerProductsAsChildren>
			</parameters>
		</component>

		<component
			id ="DefaultCatalogSearchItemProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.CatalogSearchNodeProvider, UCommerce">
		</component>

		<component
			id ="DefaultShellCatalogSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.CatalogSectionProvider, UCommerce">
			<parameters>
				<considerProductsAsChildren>false</considerProductsAsChildren>
			</parameters>
		</component>

		<component
			id="DefaultProductSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.ProductSectionProvider, UCommerce" />

		<component
			id ="DefaultOrdersSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.OrdersSectionProvider, UCommerce" />

		<component
			id ="DefaultMarketingSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.MarketingSectionProvider, UCommerce" />

		<component
			id ="DefaultAnalyticsSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.AnalyticsSectionProvider, UCommerce" />

		<component
			id ="DefaultSettingsRootSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsRootSectionProvider, UCommerce" />

		<component
			id ="DefaultSettingsCatalogProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsCatalogProvider, UCommerce" />

		<component
			id ="DefaultSettingsOrdersProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsOrdersProvider, UCommerce" />

		<component
			id ="DefaultSettingsEmailsProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsEmailsProvider, UCommerce" />

		<component
			id="DefaultSettingsDefinitionsProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
		  type="UCommerce.Tree.Impl.Providers.SettingsDefinitionsProvider, UCommerce" />

		<component
			id ="DefaultSettingsSecurityProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsSecurityProvider, UCommerce" />

		<component
			id="DefaultAppsRootSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.AppsRootSectionProvider, UCommerce" />

	<component
			id="DefaultSettingsAppsProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsAppsProvider, UCommerce" />

		<component
		id ="DefaultSettingsAppsInstalledProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsAppsInstalledProvider, UCommerce" />


		<component
			id ="DefaultSettingsAppsInstallerProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.SettingsAppsInstallerProvider, UCommerce" />

		<component
			id="WebRuntimeInspector"
			service="UCommerce.Infrastructure.Environment.IWebRuntimeInspector, UCommerce.Infrastructure"
			type="UCommerce.Infrastructure.Environment.WebRuntimeInspector, UCommerce.Infrastructure" />

		<component
			id="TreeNodeConverterService"
			service="UCommerce.Web.ITreeNodeContentToTreeNodeConverter, UCommerce"
			type="UCommerce.Web.Impl.TreeNodeContentToTreeNodeConverter, UCommerce">
			<parameters>
				<urlConverters>
					<list type="UCommerce.Tree.ITreeNodeTypeToUrlConverter, UCommerce">
						<item>${DefaultUrlConverter}</item>
						<item>${AppActionUrlConverter}</item>
						<item>${ActionUrlConverter}</item>
					</list>
				</urlConverters>
				<optionConverters>
					<list type="UCommerce.Tree.ITreeNodeOptionToOptionItemConverter, UCommerce">
						<item>${DefaultOptionConverter}</item>
					</list>
				</optionConverters>
			</parameters>
		</component>

		<component
			id="DefaultUrlConverter"
			service="UCommerce.Tree.ITreeNodeTypeToUrlConverter, UCommerce"
			type="UCommerce.Tree.Impl.Converters.TreeNodeTypeToUrlConverter, UCommerce" />

		<component
			id="AppActionUrlConverter"
			service="UCommerce.Tree.ITreeNodeTypeToUrlConverter, UCommerce"
			type="UCommerce.Tree.Impl.Converters.TreeNodeAppActionToUrlConverter, UCommerce" />

		<component
			id="ActionUrlConverter"
			service="UCommerce.Tree.ITreeNodeTypeToUrlConverter, UCommerce"
			type="UCommerce.Tree.Impl.Converters.TreeNodeActionToUrlConverter, UCommerce" />

		<component
			id="DefaultOptionConverter"
			service="UCommerce.Tree.ITreeNodeOptionToOptionItemConverter, UCommerce"
			type="UCommerce.Tree.Impl.Converters.TreeNodeOptionToOptionItemConverter, UCommerce" />

		<!-- TreeNodeService providers-->
		<component id="TreeNodeServiceProvider"
			service="UCommerce.Web.ITreeNodeServiceProvider, UCommerce"
			type="UCommerce.Web.Impl.TreeNodeServiceProvider, UCommerce">
		</component>

		<component id="CatalogNodeService"
			service="UCommerce.Web.ITreeNodeService, UCommerce"
			type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
			<parameters>
				<serviceType>Catalog</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${CatalogTreeService}</treeContentService>
			</parameters>
		</component>

		<component id="TreeNodeService" service="UCommerce.Web.ITreeNodeService, UCommerce" type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
			<parameters>
				<serviceType>Tree</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceShell}</treeContentService>
			</parameters>
		</component>

		<component
			id="CatalogTreeService"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>root</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>uCommerce</RootNodeName>
				<RootNodeIcon>ucommerce-logo-icon.png</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-1</RootNodeId>
				<RootNodeParentId>10</RootNodeParentId>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${DefaultShellCatalogSectionProvider}</item>
					</list>
				</contentProviders>
			</parameters>
		</component>

		<component id="ProductNodeService"
			service="UCommerce.Web.ITreeNodeService, UCommerce"
			type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
			<parameters>
				<serviceType>Products</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${CatalogProductTreeService}</treeContentService>
			</parameters>
		</component>

		<component
			id="CatalogProductTreeService"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>root</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>uCommerce</RootNodeName>
				<RootNodeIcon>ucommerce-logo-icon.png</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-1</RootNodeId>
				<RootNodeParentId>10</RootNodeParentId>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${DefaultCatalogSectionProvider}</item>
						<item>${DefaultProductSectionProvider}</item>
					</list>
				</contentProviders>
			</parameters>
		</component>

    <component id="DefinitionNodeService"
			service="UCommerce.Web.ITreeNodeService, UCommerce"
			type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
      <parameters>
        <serviceType>Definition</serviceType>
        <treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
        <treeContentService>${DefinitionTreeService}</treeContentService>
      </parameters>
    </component>

    <component
			id="DefinitionTreeService"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
      <parameters>
        <RootNodeType>root</RootNodeType>
        <RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
        <RootNodeHasChildren>true</RootNodeHasChildren>
        <RootNodeName>uCommerce</RootNodeName>
        <RootNodeIcon>ucommerce-logo-icon.png</RootNodeIcon>
        <RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
        <RootNodeId>-1</RootNodeId>
        <RootNodeParentId>10</RootNodeParentId>
        <contentProviders>
          <list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
            <item>${DefaultRootSectionProvider}</item>
            <item>${DefaultSettingsDynamicDefinitionsProvider}</item>
          </list>
        </contentProviders>
      </parameters>
    </component>

    <component
			id ="DefaultSettingsDynamicDefinitionsProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.DefaultSettingsDynamicDefinitionsProvider, UCommerce" >
      <parameters>
        <settingsDefinitionsProvider>${DefaultSettingsDefinitionsProvider}</settingsDefinitionsProvider>
      </parameters>
    </component>

    <component id="CampaignItemNodeService"
			service="UCommerce.Web.ITreeNodeService, UCommerce"
			type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
      <parameters>
        <serviceType>CampaignItem</serviceType>
        <treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
        <treeContentService>${MarketingTreeService}</treeContentService>
      </parameters>
    </component>

    <component
			id="MarketingTreeService"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
      <parameters>
        <RootNodeType>root</RootNodeType>
        <RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
        <RootNodeHasChildren>true</RootNodeHasChildren>
        <RootNodeName>uCommerce</RootNodeName>
        <RootNodeIcon>ucommerce-logo-icon.png</RootNodeIcon>
        <RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
        <RootNodeId>-1</RootNodeId>
        <RootNodeParentId>10</RootNodeParentId>
        <contentProviders>
          <list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
            <item>${DefaultMarketingSectionProvider}</item>
          </list>
        </contentProviders>
      </parameters>
    </component>

		<!-- List providers to initiate data from a list of preselected values-->
		<component
			id="TreeNodesListProviderFactory"
			service="UCommerce.Tree.ITreeNodesListProviderFactory, UCommerce"
			type="UCommerce.Tree.Impl.Providers.TreeNodesListProviderFactory, UCommerce" />


		<component
			id="ProductTreeNodesListProvider"
			service="UCommerce.Tree.ITreeNodesListProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.ProductTreeNodesListProvider, UCommerce" />

		<component
			id="CategoriesTreeNodesListProvider"
			service="UCommerce.Tree.ITreeNodesListProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.CategoriesTreeNodesListProvider, UCommerce" />

		<component
			id="ContentTreeNodesListProvider"
			service="UCommerce.Tree.ITreeNodesListProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.ContentTreeNodesListProvider, Ucommerce" />

    <component
      id="MediaTreNodesListProvider"
      service="UCommerce.Tree.ITreeNodesListProvider, UCommerce"
      type="UCommerce.Tree.Impl.Providers.MediaTreeNodesListProvider, Ucommerce"/>

		<component
			id="ProductCatalogGroupTreeNodesListProvider"
			service="UCommerce.Tree.ITreeNodesListProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.ProductCatalogGroupTreeNodesListProvider, UCommerce" />

    <component
			id="CampaignItemTreeNodesListProvider"
			service="UCommerce.Tree.ITreeNodesListProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.CampaignItemTreeNodesListProvider, UCommerce" />

    <component
			id="DefinitionTreeNodesListProvider"
			service="UCommerce.Tree.ITreeNodesListProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.DefinitionTreeNodesListProvider, UCommerce" />

    <!-- Other -->
    <component
			id="SectionBuilder"
			service="UCommerce.Presentation.Web.Pages.ITabViewBuilder, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Pages.TabViewBuilder, UCommerce.Presentation">
      <parameters>
        <DefaultCultureCode>#{defaultCultureCode}</DefaultCultureCode>
      </parameters>
    </component>

    <component
      id="SectionGroupFactory"
      service="UCommerce.Presentation.Web.Pages.ISectionGroupFactory, UCommerce.Presentation"
      type="UCommerce.Presentation.Web.Pages.SectionGroupFactory, UCommerce.Presentation" />

		<component
			id="ResourceManager"
			service="UCommerce.Infrastructure.Globalization.IResourceManager, UCommerce.Infrastructure"
			type="UCommerce.Infrastructure.Globalization.GlobalResourceManager, UCommerce.Infrastructure" />

		<component
			id="UpdateAuditModifiedData"
			service="UCommerce.EntitiesV2.Revisions.IUpdateAuditModifiedData, UCommerce"
			type="UCommerce.EntitiesV2.Revisions.Impl.UpdateAuditModifiedData, UCommerce" />

		<!--- Security -->
		<component
			id="RoleService"
			service="UCommerce.Security.IRoleService, UCommerce"
			type="UCommerce.Security.RoleService, UCommerce"/>

		<component
				id="EnsureRolesService"
				service="UCommerce.Security.IEnsureRolesAreUpToDateService, UCommerce"
				type="UCommerce.Security.EnsureRolesAreUpToDateService, UCommerce"/>

    <component
				id="SecurityService"
				service="UCommerce.Security.ISecurityService, UCommerce"
				type="UCommerce.Security.SecurityService, UCommerce">
      <parameters>
        <Enabled>#{securityFoundationEnabled}</Enabled>
      </parameters>
    </component>

		<component
				id="WidgetService"
				service="UCommerce.Presentation.UI.IWidgetService, UCommerce.Presentation"
				type="UCommerce.Presentation.UI.Impl.WidgetService, UCommerce.Presentation">
		</component>

    <component
      id="EntityPropertyValueService"
      service="UCommerce.EntitiesV2.Definitions.IEntityPropertyValueService, UCommerce"
      type="UCommerce.EntitiesV2.Definitions.EntityPropertyValueService, UCommerce"/>

    <component
      id="DataTypeDefinitionInspector"
      service="UCommerce.EntitiesV2.Definitions.IDataTypeDefinitionInspector, UCommerce"
      type="UCommerce.EntitiesV2.Definitions.DataTypeDefinitionInspector, UCommerce"/>

    <!-- Services -->
    <component
      id="DefinitionGraphService"
      service="UCommerce.Services.IDefinitionGraphService, UCommerce"
      type="UCommerce.Services.Impl.DefinitionGraphService, UCommerce"/>

    <!-- Currency Conversion Service -->
    <component
      id="CurrencyConversionService"
      service="UCommerce.Transactions.ICurrencyConversionService, UCommerce"
      type="UCommerce.Transactions.CurrencyConversionService, UCommerce"/>


    <!-- Feed Service -->
    <component
      id="FeedService"
      service="UCommerce.Dashboard.IFeedService, UCommerce"
      type="UCommerce.Dashboard.Impl.InMemoryFeed, UCommerce">
      <parameters>
        <FeedSize>20</FeedSize>
      </parameters>
    </component>


    <!--Currency Exchange Rate Service -->
    <component
      id="CurrencyExchangeRateService"
      service="UCommerce.Catalog.ICurrencyExchangeRateService, UCommerce"
      type="UCommerce.Catalog.Impl.DefaultCurrencyExchangeRateService, UCommerce"/>

    <component
      id="ExchangeRateQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.ExchangeRateQueryArgs, UCommerce][UCommerce.Catalog.Models.ExchangeRateQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.ExchangeRateQuery, UCommerce.NHibernate"/>


    <!-- ProductCatalogQuery -->
    <component
      id="ProductCatalogPropertiesQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.ProductCatalogPropertiesQueryArgs, UCommerce][UCommerce.Catalog.Models.ProductCatalogPropertiesQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.ProductCatalogPropertiesQuery, UCommerce.NHibernate"/>

    <!-- ProductCategoryQuery -->
    <component
      id="CategoryPropertiesQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.CategoryPropertiesQueryArgs, UCommerce][UCommerce.Catalog.Models.CategoryPropertiesQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.CategoryPropertiesQuery, UCommerce.NHibernate"/>

    <!-- PriceGroupsQuery -->
    <component
      id="PriceGroupsQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.PriceGroupsQueryArgs, UCommerce][UCommerce.Catalog.Models.PriceGroupsQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.PriceGroupsQuery, UCommerce.NHibernate"/>

    <!-- DefinitionsForTypeQuery -->
    <component
      id="DefinitionsForTypeQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.DefinitionsForTypeQueryArgs, UCommerce][UCommerce.Catalog.Models.DefinitionsForTypeQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.DefinitionsForTypeQuery, UCommerce.NHibernate"/>

    <!-- CategoriesQuery -->
    <component
      id="CategoriesQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.CategoriesQueryArgs, UCommerce][UCommerce.Catalog.Models.CategoriesQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.CategoriesQuery, UCommerce.NHibernate"/>

    <!-- CatalogsQuery -->
    <component
      id="CatalogsQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.CatalogsQueryArgs, UCommerce][UCommerce.Catalog.Models.CatalogsQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.CatalogsQuery, UCommerce.NHibernate"/>

    <!-- Tree Service for listing all Catalogs-->
    <component
      id="CatalogsRootSectionProvider"
      service="UCommerce.Tree.ITreeContentProvider, UCommerce"
      type="UCommerce.Tree.Impl.Providers.CatalogsRootSectionProvider, UCommerce"/>

    <component
      id="CatalogBuilderCatalogsTreeService"
      service="UCommerce.Tree.ITreeContentService, UCommerce"
      type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
      <parameters>
        <RootNodeType>root</RootNodeType>
        <RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
        <RootNodeHasChildren>true</RootNodeHasChildren>
        <RootNodeName>Product Catalogs</RootNodeName>
        <RootNodeIcon>fa fa-folder-open</RootNodeIcon>
        <RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
        <RootNodeId>-1</RootNodeId>
        <RootNodeParentId>-1</RootNodeParentId>
        <contentProviders>
          <list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
            <item>${CatalogsRootSectionProvider}</item>
          </list>
        </contentProviders>
      </parameters>
    </component>

    <component id="TreeNodeServiceCatalogBuilderCatalogs"
               service="UCommerce.Web.ITreeNodeService, UCommerce"
               type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
      <parameters>
        <serviceType>CatalogBuilderCatalogs</serviceType>
        <treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
        <treeContentService>${CatalogBuilderCatalogsTreeService}</treeContentService>
      </parameters>
    </component>


    <component
			id="CreateCategory"
			service="UCommerce.Catalog.ICreateCategory, UCommerce"
			type="UCommerce.Catalog.Impl.CreateCategory, UCommerce">
		<parameters>
			<EnforceCategoryNameUniquenessWithinCatalogs>#{enforceCategoryNameUniquenessWithinCatalogs}</EnforceCategoryNameUniquenessWithinCatalogs>
			<SaveCategoryPipeline>${SaveCategory}</SaveCategoryPipeline>
		</parameters>
	</component>
    <component id="CategoryFactory" service="UCommerce.EntitiesV2.Factories.ICategoryFactory, UCommerce" type="UCommerce.EntitiesV2.Factories.CategoryFactory, UCommerce" />


    <!-- SortProductCatalogs -->
    <component
      id="SortProductCatalogs"
      service="UCommerce.Catalog.ISortProductCatalogs, UCommerce"
      type="UCommerce.Catalog.Impl.SortProductCatalogs, UCommerce">
      <parameters>
        <SaveProductCatalogPipeline>${SaveProductCatalog}</SaveProductCatalogPipeline>
      </parameters>
    </component>

    <!-- SortCategories -->
    <component
      id="SortCategories"
      service="UCommerce.Catalog.ISortCategories, UCommerce"
      type="UCommerce.Catalog.Impl.SortCategories, UCommerce">
      <parameters>
        <SaveCategoryPipeline>${SaveCategory}</SaveCategoryPipeline>
      </parameters>
    </component>

    <!-- MoveCategory -->
    <component
      id="MoveCategory"
      service="UCommerce.Catalog.IMoveCategory, UCommerce"
      type="UCommerce.Catalog.Impl.MoveCategory, UCommerce"/>

    <!-- Normalize Sort Orders-->
    <component
      id="NormalizeCatalogSortOrderQuery"
      service="UCommerce.IQuery`1[[System.Boolean, mscorlib]], UCommerce"
      type="UCommerce.NHibernate.Impl.NormalizeCatalogSortOrderQuery, UCommerce.NHibernate"/>

    <component
      id="NormalizeCategorySortOrderQuery"
      service="UCommerce.IQuery`1[[System.Boolean, mscorlib]]"
      type="UCommerce.NHibernate.Impl.NormalizeCategorySortOrderQuery, UCommerce.NHibernate"/>

    <!-- Dynamic Properties-->
    <component
      id="DynamicPropertiesService"
      service="UCommerce.Catalog.IDynamicPropertiesService, UCommerce"
      type="UCommerce.Catalog.Impl.DynamicPropertiesService, UCommerce">
      <parameters>
        <DynamicPropertyProviders>
          <list type="UCommerce.Catalog.IDynamicPropertyProvider, UCommerce">
            <item>${ProductCatalogDynamicPropertyProvider}</item>
            <item>${DataTypeDynamicPropertyProvider}</item>
            <item>${CategoryDynamicPropertyProvider}</item>
          </list>
        </DynamicPropertyProviders>
      </parameters>
    </component>

    <component
      id="ProductCatalogDynamicPropertyProvider"
      service="UCommerce.Catalog.IDynamicPropertyProvider, UCommerce"
      type="UCommerce.Catalog.Impl.ProductCatalogDynamicPropertyProvider, UCommerce">
      <parameters>
        <ProductCatalogPropertiesQuery>${ProductCatalogEntityPropertiesQuery}</ProductCatalogPropertiesQuery>
      </parameters>
    </component>

    <component
        id="DataTypeDynamicPropertyProvider"
        service="UCommerce.Catalog.IDynamicPropertyProvider, UCommerce"
        type="UCommerce.Catalog.Impl.DataTypeDynamicPropertyProvider, UCommerce">
      <parameters>
        <DataTypePropertiesQuery>${DataTypeEntityPropertiesQuery}</DataTypePropertiesQuery>
      </parameters>
    </component>

    <component
        id="CategoryDynamicPropertyProvider"
        service="UCommerce.Catalog.IDynamicPropertyProvider, UCommerce"
        type="UCommerce.Catalog.Impl.CategoryDynamicPropertyProvider, UCommerce">
      <parameters>
        <CategoryPropertiesQuery>${CategoryEntityPropertiesQuery}</CategoryPropertiesQuery>
      </parameters>
    </component>

    <!-- ProductCatalogEntityPropertiesQuery -->
    <component
      id="ProductCatalogEntityPropertiesQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.EntityPropertiesQueryArgs, UCommerce][UCommerce.Catalog.Models.EntityPropertiesQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.ProductCatalogEntityPropertiesQuery, UCommerce.NHibernate"/>

    <!-- DataTypeEntityPropertiesQuery -->
    <component
      id="DataTypeEntityPropertiesQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.EntityPropertiesQueryArgs, UCommerce][UCommerce.Catalog.Models.EntityPropertiesQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.DataTypeEntityPropertiesQuery, UCommerce.NHibernate"/>

    <!-- CategoryEntityPropertiesQuery -->
    <component
      id="CategoryEntityPropertiesQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.CategoryEntityPropertiesQueryArgs, UCommerce][UCommerce.Catalog.Models.CategoryEntityPropertiesQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.CategoryEntityPropertiesQuery, UCommerce.NHibernate"/>

    <!-- EntityPropertiesWithValuesQuery -->
    <component
      id="EntityPropertiesValueQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.EntityPropertiesValueQueryArgs, UCommerce][UCommerce.Catalog.Models.EntityPropertiesValueQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.EntityPropertiesValueQuery, UCommerce.NHibernate"/>

    <!-- DefinitionFieldsQuery -->
    <component
      id="DefinitionFieldsQuery"
      service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.DefinitionFieldsQueryArgs, UCommerce][UCommerce.Catalog.Models.DefinitionFieldsQueryResult, UCommerce]]"
      type="UCommerce.NHibernate.Impl.DefinitionFieldsQuery, UCommerce.NHibernate"/>

	  <component
			id="OptionsAndSelectedValuesQuery"
			service="UCommerce.IQuery`2[[UCommerce.Catalog.Models.OptionsAndSelectedValuesQueryArgs, UCommerce][UCommerce.Catalog.Models.OptionsAndSelectedValuesQueryResult, UCommerce]]"
			type="UCommerce.NHibernate.Impl.OptionsAndSelectedValuesQuery, UCommerce.NHibernate"/>

	  <component
			id="CategoryValidator"
			service="FluentValidation.AbstractValidator`1[[UCommerce.EntitiesV2.Category, UCommerce]], FluentValidation"
			type="UCommerce.SystemHttp.Validators.CategoryValidator, UCommerce.SystemHttp">
		  <parameters>
			  <EnforceCategoryNameUniquenessWithinCatalogs>#{enforceCategoryNameUniquenessWithinCatalogs}</EnforceCategoryNameUniquenessWithinCatalogs>
		  </parameters>
	  </component>

		<component
			id="CatalogValidator"
			service="FluentValidation.AbstractValidator`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], FluentValidation"
			type="UCommerce.SystemHttp.Validators.CatalogValidator, UCommerce.SystemHttp">
		</component>

		<component
			id="CatalogDescriptionValidator"
			service="FluentValidation.AbstractValidator`1[[UCommerce.EntitiesV2.ProductCatalogDescription, UCommerce]], FluentValidation"
			type="UCommerce.SystemHttp.Validators.CatalogDescriptionValidator, UCommerce.SystemHttp">
		</component>

		<component
						id="CategoryDescriptionValidator"
						service="FluentValidation.AbstractValidator`1[[UCommerce.EntitiesV2.CategoryDescription, UCommerce]], FluentValidation"
						type="UCommerce.SystemHttp.Validators.CategoryDescriptionValidator, UCommerce.SystemHttp">
		</component>
  </components>
</configuration>