<configuration>
	<!-- Configuration for data type control factories and adapters -->
	<!-- CMS specific factories and adapters are found in relevant Shell.XXX.config file, e.g. Shell.Umbraco4.config -->
	<components>

		<component 
			id="PropertyControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IPropertyControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.PropertyControlFactory, Ucommerce.Presentation"/>
		
		<!-- Control Factories, generic -->
		<component	
			id="DatePickerControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.DatePickerControlFactory, Ucommerce.Presentation" />
		
		<component	
			id="DateTimeControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.DateTimePickerControlFactory, Ucommerce.Presentation" />
		
		<component	
			id="NumberControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.NumberControlFactory, Ucommerce.Presentation" />
		
		<component	
			id="RichTextControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.RichTextControlFactory, Ucommerce.Presentation" />
		
		<component	
			id="CheckBoxControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.CheckBoxControlFactory, Ucommerce.Presentation" />

		<component
			id="DropDownListMultiSelectControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.DropDownListMultiSelectControlFactory, Ucommerce.Presentation" />

		<component	
			id="DropDownListControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.DropDownListControlFactory, Ucommerce.Presentation" />
		
		<component	
			id="LongTextControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.LongTextControlFactory, Ucommerce.Presentation" />

		<component 
			id="ShortTextControlFactory"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.ShortTextControlFactory, Ucommerce.Presentation" />

		<component 
			id="ContentPickerMultiSelect"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.ContentPickerMultiSelectControlFactory, Ucommerce.Presentation" />

    <component
			id="ImagePickerMultiSelect"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.ImagePickerMultiSelectControlFactory, Ucommerce.Presentation" />

    <component
			id="DefinitionTypePicker"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.DefinitionTypePickerControlFactory, Ucommerce.Presentation" />

    <component
			id="DefinitionPicker"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.DefinitionPickerControlFactory, Ucommerce.Presentation" />

    <component
        id="ComponentTypePicker"
        service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
        type="Ucommerce.Presentation.Web.Controls.Factories.ComponentTypePickerControlFactory, Ucommerce.Presentation" />
    
  <component
			id="List"
			service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Factories.ListControlFactory, Ucommerce.Presentation" />

    <!-- Generic Control Adapters -->
	  <component
	    id="TextBoxControlAdapter"
	    service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
	    type="Ucommerce.Presentation.Web.Controls.Adapters.TextBoxControlAdapter, Ucommerce.Presentation" />

	  <component
	    id="RichTextControlAdapter"
	    service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
	    type="Ucommerce.Presentation.Web.Controls.Adapters.RichTextControlAdapter" />

    <component id="DateTimePickerControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.DateTimePickerControlAdapter, Ucommerce.Presentation" />

		<component id="DatePickerControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.DatePickerControlAdapter, Ucommerce.Presentation" />

		<component
			id="NumberControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.NumberControlAdapter, Ucommerce.Presentation" />
		
		<component 
			id="CheckBoxControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.CheckBoxControlAdapter, Ucommerce.Presentation" />

		<component
			id="DropDownListMultiSelectControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.DropDownListMultiSelectControlAdapter, Ucommerce.Presentation" />

		<component 
			id="DropDownListControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.DropDownListControlAdapter, Ucommerce.Presentation" />

    <component
			id="multiPickerDialogControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.MultiPickerDialogControlAdapter, Ucommerce.Presentation"/>

    <component
			id="MultiPickerControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.MultiPickerControlAdapter, Ucommerce.Presentation"/>

    <component
			id="SinglePickerControlAdapter"
			service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
			type="Ucommerce.Presentation.Web.Controls.Adapters.SinglePickerControlAdapter, Ucommerce.Presentation"/>

	  <component
	    id="EmailContentControlFactory"
	    service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
	    type="Ucommerce.Presentation.Web.Controls.Factories.EmailContentPickerControlFactory, Ucommerce.Presentation" />
		
	</components>
</configuration>