<configuration>
	<!-- Configuration for data type control factories and adapters -->
	<!-- CMS specific factories and adapters are found in relevant Shell.XXX.config file, e.g. Shell.Umbraco4.config -->
	<components>

		<component 
			id="PropertyControlFactory"
			service="UCommerce.Presentation.Web.Controls.IPropertyControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.PropertyControlFactory, UCommerce.Presentation"/>
		
		<!-- Control Factories, generic -->
		<component	
			id="DatePickerControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.DatePickerControlFactory, UCommerce.Presentation" />
		
		<component	
			id="DateTimeControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.DateTimePickerControlFactory, UCommerce.Presentation" />
		
		<component	
			id="NumberControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.NumberControlFactory, UCommerce.Presentation" />
		
		<component	
			id="RichTextControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.RichTextControlFactory, UCommerce.Presentation" />
		
		<component	
			id="CheckBoxControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.CheckBoxControlFactory, UCommerce.Presentation" />

		<component
			id="DropDownListMultiSelectControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.DropDownListMultiSelectControlFactory, UCommerce.Presentation" />

		<component	
			id="DropDownListControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.DropDownListControlFactory, UCommerce.Presentation" />
		
		<component	
			id="LongTextControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.LongTextControlFactory, UCommerce.Presentation" />

		<component 
			id="ShortTextControlFactory"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.ShortTextControlFactory, UCommerce.Presentation" />

		<component 
			id="ContentPickerMultiSelect"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.ContentPickerMultiSelectControlFactory, UCommerce.Presentation" />

    <component
			id="ImagePickerMultiSelect"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.ImagePickerMultiSelectControlFactory, UCommerce.Presentation" />

    <component
			id="DefinitionTypePicker"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.DefinitionTypePickerControlFactory, UCommerce.Presentation" />

    <component
			id="DefinitionPicker"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.DefinitionPickerControlFactory, UCommerce.Presentation" />

    <component
        id="ComponentTypePicker"
        service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
        type="UCommerce.Presentation.Web.Controls.Factories.ComponentTypePickerControlFactory, UCommerce.Presentation" />
    
  <component
			id="List"
			service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Factories.ListControlFactory, UCommerce.Presentation" />

    <!-- Generic Control Adapters -->
	  <component
	    id="TextBoxControlAdapter"
	    service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
	    type="UCommerce.Presentation.Web.Controls.Adapters.TextBoxControlAdapter, UCommerce.Presentation" />

	  <component
	    id="RichTextControlAdapter"
	    service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
	    type="UCommerce.Presentation.Web.Controls.Adapters.RichTextControlAdapter" />

    <component id="DateTimePickerControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.DateTimePickerControlAdapter, UCommerce.Presentation" />

		<component id="DatePickerControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.DatePickerControlAdapter, UCommerce.Presentation" />

		<component
			id="NumberControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.NumberControlAdapter, UCommerce.Presentation" />
		
		<component 
			id="CheckBoxControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.CheckBoxControlAdapter, UCommerce.Presentation" />

		<component
			id="DropDownListMultiSelectControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.DropDownListMultiSelectControlAdapter, UCommerce.Presentation" />

		<component 
			id="DropDownListControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.DropDownListControlAdapter, UCommerce.Presentation" />

    <component
			id="multiPickerDialogControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.MultiPickerDialogControlAdapter, UCommerce.Presentation"/>

    <component
			id="MultiPickerControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.MultiPickerControlAdapter, UCommerce.Presentation"/>

    <component
			id="SinglePickerControlAdapter"
			service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
			type="UCommerce.Presentation.Web.Controls.Adapters.SinglePickerControlAdapter, UCommerce.Presentation"/>

	  <component
	    id="EmailContentControlFactory"
	    service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
	    type="UCommerce.Presentation.Web.Controls.Factories.EmailContentPickerControlFactory, UCommerce.Presentation" />
		
	</components>
</configuration>