<!--
	Configuration for Marketing Foundation
-->
<configuration>
	<components>
		<component
			id="TargetingService"
			service="UCommerce.Marketing.ITargetingService, UCommerce"
			type="UCommerce.Marketing.MarketingService, UCommerce" />

		<component
			id="DiscountService"
			service="UCommerce.Marketing.IDiscountService, UCommerce"
			type="UCommerce.Marketing.MarketingService, UCommerce"/>

		<!-- Targeting Context -->
		<component
			id="TargetingContextAggregator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextAggregator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.TargetingContextAggregator, UCommerce"/>

		<component
			id="MemberPopulator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.MemberPopulator, UCommerce" />

		<component
			id="PagePopulator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.PagePopulator, UCommerce" />

		<component
			id="ProductCatalogGroupPopulator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.ProductCatalogGroupPopulator, UCommerce" />

		<component
			id="ProductCatalogPopulator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.ProductCatalogPopulator, UCommerce" />

		<component
			id="CategoryPopulator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.CategoryPopulator, UCommerce" />

		<component
			id="ProductPopulator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.ProductPopulator, UCommerce" />

    <component
			id="PriceGroupPopulator"
			service="UCommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, UCommerce"
			type="UCommerce.Marketing.TargetingContextAggregators.PriceGroupPopulator, UCommerce" />

    <!-- Targets -->
		<component
			id="TargetResolverAggregator"
			service="UCommerce.Marketing.Targets.TargetResolvers.ITargetAggregator, UCommerce"
			type="UCommerce.Marketing.Targets.TargetResolvers.TargetAggregator, UCommerce" />

		<component
			id="DefaultTargetResolver"
			service="UCommerce.Marketing.Targets.TargetResolvers.ITargetResolver, UCommerce"
			type="UCommerce.Marketing.Targets.TargetResolvers.DefaultTargetResolver, UCommerce" />

		<!-- Awards -->
		<component
			id="AwardResolverAggregator"
			service="UCommerce.Marketing.Awards.AwardResolvers.IAwardAggregator, UCommerce"
			type="UCommerce.Marketing.Awards.AwardResolvers.AwardAggregator, UCommerce"/>

		<component
			id="DefaultAwardResolver"
			service="UCommerce.Marketing.Awards.AwardResolvers.IAwardResolver, UCommerce"
			type="UCommerce.Marketing.Awards.AwardResolvers.DefaultAwardResolver, UCommerce" />

		<component
			id="DefaultVoucherCodeGenerator"
			service="UCommerce.Marketing.Targets.IVoucherCodeGenerator, UCommerce"
			type="UCommerce.Marketing.Targets.DefaultVoucherCodeGenerator, UCommerce"/>
		
		<component
			id="VoucherCodeBulkInsertQuery"
			service="UCommerce.EntitiesV2.Queries.Marketing.IVoucherCodeBulkInsertQuery, UCommerce"
			type="UCommerce.EntitiesV2.Queries.Marketing.VoucherCodeBulkInsertQuery, UCommerce" />
		
		<component
			id="DeleteAllVoucherCodeDuplicatesQuery"
			service="UCommerce.EntitiesV2.Queries.Marketing.IDeleteAllVoucherCodeDuplicatesQuery, UCommerce"
			type="UCommerce.EntitiesV2.Queries.Marketing.DeleteAllVoucherCodeDuplicatesQuery, UCommerce" />
	</components>
</configuration>