<!--
	Configuration for Marketing Foundation
-->
<configuration>
	<components>
		<component
			id="TargetingService"
			service="Ucommerce.Marketing.ITargetingService, Ucommerce"
			type="Ucommerce.Marketing.MarketingService, Ucommerce" />

		<component
			id="DiscountService"
			service="Ucommerce.Marketing.IDiscountService, Ucommerce"
			type="Ucommerce.Marketing.MarketingService, Ucommerce"/>

		<!-- Targeting Context -->
		<component
			id="TargetingContextAggregator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextAggregator, Ucommerce"
			type="Ucommerce.Marketing.TargetingContextAggregators.TargetingContextAggregator, Ucommerce"/>

		<component
			id="MemberPopulator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, Ucommerce"
			type="Ucommerce.Api.Marketing.TargetingContextPopulators.MemberPopulator, Ucommerce.Api" />

		<component
			id="PagePopulator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, Ucommerce"
			type="Ucommerce.Api.Marketing.TargetingContextPopulators.PagePopulator, Ucommerce.Api" />

		<component
			id="ProductCatalogGroupPopulator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, Ucommerce"
			type="Ucommerce.Api.Marketing.TargetingContextPopulators.ProductCatalogGroupPopulator, Ucommerce.Api" />

		<component
			id="ProductCatalogPopulator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, Ucommerce"
			type="Ucommerce.Api.Marketing.TargetingContextPopulators.ProductCatalogPopulator, Ucommerce.Api" />

		<component
			id="CategoryPopulator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, Ucommerce"
			type="Ucommerce.Api.Marketing.TargetingContextPopulators.CategoryPopulator, Ucommerce.Api" />

		<component
			id="ProductPopulator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, Ucommerce"
			type="Ucommerce.Api.Marketing.TargetingContextPopulators.ProductPopulator, Ucommerce.Api" />

    <component
			id="PriceGroupPopulator"
			service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextPopulator, Ucommerce"
			type="Ucommerce.Api.Marketing.TargetingContextPopulators.PriceGroupPopulator, Ucommerce.Api" />

    <!-- Targets -->
		<component
			id="TargetResolverAggregator"
			service="Ucommerce.Marketing.Targets.TargetResolvers.ITargetAggregator, Ucommerce"
			type="Ucommerce.Marketing.Targets.TargetResolvers.TargetAggregator, Ucommerce" />

		<component
			id="DefaultTargetResolver"
			service="Ucommerce.Marketing.Targets.TargetResolvers.ITargetResolver, Ucommerce"
			type="Ucommerce.Marketing.Targets.TargetResolvers.DefaultTargetResolver, Ucommerce" />

		<!-- Awards -->
		<component
			id="AwardResolverAggregator"
			service="Ucommerce.Marketing.Awards.AwardResolvers.IAwardAggregator, Ucommerce"
			type="Ucommerce.Marketing.Awards.AwardResolvers.AwardAggregator, Ucommerce"/>

		<component
			id="DefaultAwardResolver"
			service="Ucommerce.Marketing.Awards.AwardResolvers.IAwardResolver, Ucommerce"
			type="Ucommerce.Marketing.Awards.AwardResolvers.DefaultAwardResolver, Ucommerce" />

		<component
			id="DefaultVoucherCodeGenerator"
			service="Ucommerce.Marketing.Targets.IVoucherCodeGenerator, Ucommerce"
			type="Ucommerce.Marketing.Targets.DefaultVoucherCodeGenerator, Ucommerce"/>
		
		<component
			id="VoucherCodeBulkInsertQuery"
			service="Ucommerce.EntitiesV2.Queries.Marketing.IVoucherCodeBulkInsertQuery, Ucommerce"
			type="Ucommerce.EntitiesV2.Queries.Marketing.VoucherCodeBulkInsertQuery, Ucommerce" />
		
		<component
			id="DeleteAllVoucherCodeDuplicatesQuery"
			service="Ucommerce.EntitiesV2.Queries.Marketing.IDeleteAllVoucherCodeDuplicatesQuery, Ucommerce"
			type="Ucommerce.EntitiesV2.Queries.Marketing.DeleteAllVoucherCodeDuplicatesQuery, Ucommerce" />
	</components>
</configuration>