<!--
	Configuration for Marketing Foundation
-->
<configuration>
    <components>
        <component
                id="TargetingService"
                service="Ucommerce.Marketing.ITargetingService, Ucommerce"
                type="Ucommerce.Marketing.MarketingService, Ucommerce"/>

        <component
                id="DiscountService"
                service="Ucommerce.Marketing.IDiscountService, Ucommerce"
                type="Ucommerce.Marketing.MarketingService, Ucommerce"/>

        <!-- Targeting Context -->
        <component
          id="TargetingContextAggregator"
          service="Ucommerce.Marketing.TargetingContextAggregators.ITargetingContextAggregator, Ucommerce"
          type="Ucommerce.Marketing.TargetingContextAggregators.TargetingContextAggregator, Ucommerce"/>

        <component
          id="ExplictTargetingContextAggregator"
          service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextAggregator, Ucommerce"
          type="Ucommerce.Marketing.TargetingContextAggregators.TargetingContextAggregator, Ucommerce"/>

        <component
                id="MemberPopulator"
                service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextPopulator, Ucommerce"
                type="Ucommerce.Api.Marketing.TargetingContextPopulators.MemberPopulator, Ucommerce.Api"/>

        <component
                id="PagePopulator"
                service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextPopulator, Ucommerce"
                type="Ucommerce.Api.Marketing.TargetingContextPopulators.PagePopulator, Ucommerce.Api"/>

        <component
                id="ProductCatalogGroupPopulator"
                service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextPopulator, Ucommerce"
                type="Ucommerce.Api.Marketing.TargetingContextPopulators.ProductCatalogGroupPopulator, Ucommerce.Api"/>

        <component
                id="ProductCatalogPopulator"
                service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextPopulator, Ucommerce"
                type="Ucommerce.Api.Marketing.TargetingContextPopulators.ProductCatalogPopulator, Ucommerce.Api"/>

        <component
                id="CategoryPopulator"
                service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextPopulator, Ucommerce"
                type="Ucommerce.Api.Marketing.TargetingContextPopulators.CategoryPopulator, Ucommerce.Api"/>

        <component
                id="ProductPopulator"
                service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextPopulator, Ucommerce"
                type="Ucommerce.Api.Marketing.TargetingContextPopulators.ProductPopulator, Ucommerce.Api"/>

        <component
                id="PriceGroupPopulator"
                service="Ucommerce.Marketing.TargetingContextAggregators.IExplictTargetingContextPopulator, Ucommerce"
                type="Ucommerce.Api.Marketing.TargetingContextPopulators.PriceGroupPopulator, Ucommerce.Api"/>

        <!-- Criteria (formerly targets) -->

        <component
                id="VoucherCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.VoucherTarget, Ucommerce"/>

        <component
                id="ProductCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.ProductTarget, Ucommerce"/>

        <component
                id="OrderAmountCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.OrderAmountTarget, Ucommerce"/>

        <component
                id="CategoryCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.CategoryTarget, Ucommerce"/>

        <component
                id="ProductCatalogCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.ProductCatalogTarget, Ucommerce"/>

        <component
                id="ProductCatalogGroupCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.ProductCatalogGroupTarget, Ucommerce"/>

        <component
                id="QuantityCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.QuantityTarget, Ucommerce"/>

        <component
                id="DynamicOrderPropertyCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.DynamicOrderPropertyTarget, Ucommerce"/>

        <component
                id="PriceGroupCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.PriceGroupTarget, Ucommerce"/>

        <component
                id="ShippingMethodsCriterion"
                service="Ucommerce.Marketing.Targets.ITarget, Ucommerce"
                type="Ucommerce.EntitiesV2.ShippingMethodsTarget, Ucommerce"/>


        <!-- target resolvers -->

        <component
                id="TargetResolverAggregator"
                service="Ucommerce.Marketing.Targets.TargetResolvers.ITargetAggregator, Ucommerce"
                type="Ucommerce.Marketing.Targets.TargetResolvers.TargetAggregator, Ucommerce"/>

        <component
                id="DefaultTargetResolver"
                service="Ucommerce.Marketing.Targets.TargetResolvers.ITargetResolver, Ucommerce"
                type="Ucommerce.Marketing.Targets.TargetResolvers.DefaultTargetResolver, Ucommerce"/>


        <!-- Discounts (formerly awards) -->

        <component
                id="AmountOffOrderTotalDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.AmountOffOrderTotalAward, Ucommerce"/>

        <component
                id="AmountOffOrderLinesDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.AmountOffOrderLinesAward, Ucommerce"/>

        <component
                id="AmountOffUnitDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.AmountOffUnitAward, Ucommerce"/>

        <component
                id="PercentOffOrderLinesDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.PercentOffOrderLinesAward, Ucommerce"/>

        <component
                id="PercentOffOrderTotalDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.PercentOffOrderTotalAward, Ucommerce"/>

        <component
                id="PercentOffShippingTotalDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.PercentOffShippingTotalAward, Ucommerce"/>

        <component
                id="DiscountSpecificOrderLineDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.DiscountSpecificOrderLineAward, Ucommerce"/>

        <component
                id="FreeGiftDiscount"
                service="Ucommerce.Marketing.Awards.IAward, Ucommerce"
                type="Ucommerce.EntitiesV2.FreeGiftAward, Ucommerce"/>

        <!-- Discount adapters -->

        <component
                id="AmountOffUnitDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.AmountOffUnitDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
                id="AmountOffOrderTotalDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.AmountOffOrderTotalDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
                id="AmountOffOrderLinesDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.AmountOffOrderLinesDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
                id="PercentOffOrderLinesDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.PercentOffOrderLinesDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
                id="PercentOffOrderTotalDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.PercentOffOrderTotalDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
                id="PercentOffShippingTotalDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.PercentOffShippingTotalDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
                id="DiscountSpecificOrderLineDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.DiscountSpecificOrderLineDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
                id="FreeGiftDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.FreeGiftDiscountAdapter, Ucommerce.SystemHttp"/>


        <!-- Discount resolvers -->

        <component
                id="AwardResolverAggregator"
                service="Ucommerce.Marketing.Awards.AwardResolvers.IAwardAggregator, Ucommerce"
                type="Ucommerce.Marketing.Awards.AwardResolvers.AwardAggregator, Ucommerce"/>

        <component
                id="DefaultAwardResolver"
                service="Ucommerce.Marketing.Awards.AwardResolvers.IAwardResolver, Ucommerce"
                type="Ucommerce.Marketing.Awards.AwardResolvers.DefaultAwardResolver, Ucommerce"/>

        <component
                id="DefaultVoucherCodeGenerator"
                service="Ucommerce.Marketing.Targets.IVoucherCodeGenerator, Ucommerce"
                type="Ucommerce.Marketing.Targets.DefaultVoucherCodeGenerator, Ucommerce"/>

        <component
                id="VoucherCodeBulkInsertQuery"
                service="Ucommerce.EntitiesV2.Queries.Marketing.IVoucherCodeBulkInsertQuery, Ucommerce"
                type="Ucommerce.EntitiesV2.Queries.Marketing.VoucherCodeBulkInsertQuery, Ucommerce"/>

        <component
                id="DeleteAllVoucherCodeDuplicatesQuery"
                service="Ucommerce.EntitiesV2.Queries.Marketing.IDeleteAllVoucherCodeDuplicatesQuery, Ucommerce"
                type="Ucommerce.EntitiesV2.Queries.Marketing.DeleteAllVoucherCodeDuplicatesQuery, Ucommerce"/>
                
         <component
                id="CategoryCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.CategoryCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <component
                id="ProductCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.ProductCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <!--<component
                id="ProductCatalogGroupCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.ProductCatalogGroupCriterionAdapter, Ucommerce.SystemHttp"/>-->
                
        <component
                id="ProductCatalogCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.ProductCatalogCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <component
                id="VoucherCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.VoucherCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <component
                id="PriceGroupCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.PriceGroupCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <component
                id="OrderAmountCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.OrderAmountCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <component
                id="QuantityCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.QuantityCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <component
                id="ShippingMethodsCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.ShippingMethodsCriterionAdapter, Ucommerce.SystemHttp"/>
        
        <component
                id="DynamicOrderPropertyCriterionAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.ICriterionAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.DynamicOrderPropertyCriterionAdapter, Ucommerce.SystemHttp"/>
                
        <component
                id="CriteriaAdapterFactory"
                service="Ucommerce.SystemHttp.Helpers.ICriteriaAdapterFactory, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Helpers.CriteriaAdapterFactory, Ucommerce.SystemHttp"/>
                
        <component
                id="DiscountAdapterFactory"
                service="Ucommerce.SystemHttp.Helpers.IDiscountAdapterFactory, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Helpers.DiscountAdapterFactory, Ucommerce.SystemHttp"/>

		<component
                id="AmountOffOrderLinesDiscountAdapter"
                service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
                type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.AmountOffOrderLinesDiscountAdapter, Ucommerce.SystemHttp"/>
		
        <component
		        id="AmountOffOrderTotalDiscountAdapter"
		        service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
		        type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.AmountOffOrderTotalDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
		        id="AmountOffUnitDiscountAdapter"
		        service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
		        type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.AmountOffUnitDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
		        id="DiscountSpecificOrderLineDiscountAdapter"
		        service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
		        type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.DiscountSpecificOrderLineDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
		        id="FreeGiftDiscountAdapter"
		        service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
		        type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.FreeGiftDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
		        id="PercentOffOrderLinesDiscountAdapter"
		        service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
		        type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.PercentOffOrderLinesDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
		        id="PercentOffOrderTotalDiscountAdapter"
		        service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
		        type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.PercentOffOrderTotalDiscountAdapter, Ucommerce.SystemHttp"/>

        <component
		        id="PercentOffShippingTotalDiscountAdapter"
		        service="Ucommerce.SystemHttp.Infrastructure.Adapters.IDiscountAdapter, Ucommerce.SystemHttp"
		        type="Ucommerce.SystemHttp.Infrastructure.Adapters.Impl.PercentOffShippingTotalDiscountAdapter, Ucommerce.SystemHttp"/>

		<!-- Promotions -->

        <component
               id="PromocodesQuery"
               service="Ucommerce.IQuery`2[[Ucommerce.Catalog.Models.PromocodesQueryArgs, Ucommerce][Ucommerce.Catalog.Models.PromocodesQueryResult, Ucommerce]]"
               type="Ucommerce.NHibernate.Impl.PromocodesQuery, Ucommerce.NHibernate"/>
        
        <component
                id="CreatePromotion"
                service="Ucommerce.Catalog.ICreatePromotion, Ucommerce"
                type="Ucommerce.Catalog.Impl.CreatePromotion, Ucommerce"/>

        <component
                id="CreatePromoCodes"
                service="Ucommerce.Catalog.ICreatePromoCodes, Ucommerce"
                type="Ucommerce.Catalog.Impl.CreatePromoCodes, Ucommerce"/>

        <component
                id="UnusedVoucherCodesForVoucherTargetGuidQuery"
                service="Ucommerce.IQuery`2[[Ucommerce.Marketing.Models.UnusedVoucherCodesForVoucherTargetGuidQueryArgs, Ucommerce][Ucommerce.Marketing.Models.UnusedVoucherCodesForVoucherTargetGuidQueryResult, Ucommerce]]"
                type="Ucommerce.NHibernate.Impl.UnusedVoucherCodesForVoucherTargetGuidQuery, Ucommerce.NHibernate"/>

        <component
                id="VoucherCodeFileBuilder"
                service="Ucommerce.Marketing.IVoucherCodeFileBuilder, Ucommerce"
                type="Ucommerce.Marketing.Impl.VoucherCodeFileBuilder, Ucommerce"/>

        <component
                id="ProductTargetService"
                service="Ucommerce.Marketing.IProductTargetService, Ucommerce"
                type="Ucommerce.Marketing.Impl.ProductTargetService, Ucommerce"/>

        <component
	        id="DiscountSpecificOrderLineService"
	        service="Ucommerce.Marketing.IDiscountSpecificOrderLineService, Ucommerce"
	        type="Ucommerce.Marketing.Impl.DiscountSpecificOrderLineService, Ucommerce"/>

        <component
	        id="CategoryTargetService"
	        service="Ucommerce.Marketing.ICategoryTargetService, Ucommerce"
	        type="Ucommerce.Marketing.Impl.CategoryTargetService, Ucommerce"/>

		<component
			id="ProductService"
			service="Ucommerce.Catalog.IProductService, Ucommerce"
			type="Ucommerce.NHibernate.Impl.Services.ProductService, Ucommerce.NHibernate"/>
			
        <component
            id="CatalogService"
            service="Ucommerce.Catalog.ICatalogService, Ucommerce"
            type="Ucommerce.NHibernate.Impl.Services.CatalogService, Ucommerce.NHibernate"/>

        <component
	        id="OrderLineService"
	        service="Ucommerce.Catalog.IOrderLineService, Ucommerce"
	        type="Ucommerce.NHibernate.Impl.Services.OrderLineService, Ucommerce.NHibernate"/>

        <component
	        id="PriceService"
	        service="Ucommerce.Catalog.IPriceService, Ucommerce"
	        type="Ucommerce.NHibernate.Impl.Services.PriceService, Ucommerce.NHibernate"/>
                
        <component
            id="FreeGiftAwardService"
            service="Ucommerce.Marketing.IFreeGiftAwardService, Ucommerce"
            type="Ucommerce.Marketing.Impl.FreeGiftAwardService, Ucommerce"/>
                
       <component
            id="CampaignService"
            service="Ucommerce.Marketing.ICampaignService, Ucommerce"
            type="Ucommerce.NHibernate.Impl.Services.CampaignService, Ucommerce.NHibernate">
             <parameters>
                 <SaveCampaignPipeline>${SaveCampaign}</SaveCampaignPipeline>
                 <DeleteCampaignPipeline>${DeleteCampaign}</DeleteCampaignPipeline>
             </parameters>
         </component>

        <component
	        id="PromotionService"
	        service="Ucommerce.Marketing.IPromotionService, Ucommerce"
	        type="Ucommerce.NHibernate.Impl.Services.PromotionService, Ucommerce.NHibernate"/>

        <component
	        id="ISortPriorityService"
	        service="Ucommerce.Marketing.ISortPriorityService, Ucommerce"
	        type="Ucommerce.NHibernate.Impl.Services.SortPriorityService, Ucommerce.NHibernate">
        </component>
    </components>
</configuration>
