<configuration>
	<components>
		<component id="EditProductPresenter"
				   service="Ucommerce.Presentation.Presenters.Catalog.EditProductPresenter, Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Catalog.EditProductPresenter, Ucommerce.Presentation"
				  >
			<parameters>
				<saveProductPipeline>${SaveProduct}</saveProductPipeline>
				<deleteProductPipeline>${DeleteProduct}</deleteProductPipeline>
				<saveCategoryPipeline>${SaveCategory}</saveCategoryPipeline>
				<deleteVariantPipeline>${DeleteVariant}</deleteVariantPipeline>
			</parameters>
		</component>

		<component id="EditCategoryPresenter"
				   service="Ucommerce.Presentation.Presenters.Catalog.EditCategoryPresenter, Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Catalog.EditCategoryPresenter, Ucommerce.Presentation"
				  >
			<parameters>
				<saveCategoryPipeline>${SaveCategory}</saveCategoryPipeline>
				<deleteCategoryPipeline>${DeleteCategory}</deleteCategoryPipeline>
			</parameters>
		</component>

		<component id="EditProductCatalogGroupPresenter"
				   service="Ucommerce.Presentation.Presenters.Catalog.EditProductCatalogGroupPresenter, Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Catalog.EditProductCatalogGroupPresenter, Ucommerce.Presentation">
			<parameters>
				<saveProductCatalogGroupPipeline>${SaveProductCatalogGroup}</saveProductCatalogGroupPipeline>
			</parameters>
		</component>

		<component id="EditProductCatalogPresenter"
				   service="Ucommerce.Presentation.Presenters.Catalog.EditProductCatalogPresenter, Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Catalog.EditProductCatalogPresenter, Ucommerce.Presentation">
			<parameters>
				<saveProductCatalogPipeline>${SaveProductCatalog}</saveProductCatalogPipeline>
			</parameters>
		</component>
		
		<component id="CreateProductCatalogGroupPresenter"
				   service="Ucommerce.Presentation.Presenters.Catalog.CreateProductCatalogGroupPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Catalog.CreateProductCatalogGroupPresenter,Ucommerce.Presentation" />

		<component id="CreateProductCatalogPresenter"
				   service="Ucommerce.Presentation.Presenters.Catalog.CreateProductCatalogPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Catalog.CreateProductCatalogPresenter,Ucommerce.Presentation" >
			<parameters>
				<saveProductCatalogPipeline>${SaveProductCatalog}</saveProductCatalogPipeline>
			</parameters>
		</component>
		<!-- Marketing -->
    <component id="EditCampaignPresenter"
                   service="Ucommerce.Presentation.Presenters.Marketing.EditCampaignPresenter, Ucommerce.Presentation"
                   type="Ucommerce.Presentation.Presenters.Marketing.EditCampaignPresenter, Ucommerce.Presentation">
      <parameters>
        <saveCampaignPipeline>${SaveCampaign}</saveCampaignPipeline>
      </parameters>
    </component>

    <component id="EditCampaignItemPresenter"
				   service="Ucommerce.Presentation.Presenters.Marketing.EditCampaignItemPresenter, Ucommerce.Presentation"
                   type="Ucommerce.Presentation.Presenters.Marketing.EditCampaignItemPresenter, Ucommerce.Presentation">
      <parameters>
        <saveCampaignItemPipeline>${SaveCampaignItem}</saveCampaignItemPipeline>
      </parameters>
    </component>

		<!-- Settings -->
		<component id="EditOrderPresenter"
				   service="Ucommerce.Presentation.Presenters.Orders.EditOrderPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Orders.EditOrderPresenter,Ucommerce.Presentation" />

		<component id="EditProductDefinitionPresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionPresenter,Ucommerce.Presentation" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>

		<component id="EditDefinitionPresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionPresenter,Ucommerce.Presentation" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>
		
		<component id="EditProductDefinitionFieldPresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionFieldPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionFieldPresenter,Ucommerce.Presentation">
		   <parameters>
				<saveProductDefinitionFieldPipeLine>${SaveProductDefinitionField}</saveProductDefinitionFieldPipeLine>
		   </parameters>
		</component>

		<component id="EditDefinitionFieldPresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionFieldPresenter,Ucommerce.Presentation"
                   type="Ucommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionFieldPresenter,Ucommerce.Presentation" >
			<parameters>
				<saveDefinitionFieldPipeline>${SaveDefinitionField}</saveDefinitionFieldPipeline>
			</parameters>
		</component>
		
		<component id="EditShippingMethodPresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Orders.EditShippingMethodPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Settings.Orders.EditShippingMethodPresenter,Ucommerce.Presentation" />
		
		<component id="EditPaymentMethodPresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Orders.EditPaymentMethodPresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Settings.Orders.EditPaymentMethodPresenter,Ucommerce.Presentation" />
		
		<component id="EditEmailProfilePresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Email.EditEmailProfilePresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Settings.Email.EditEmailProfilePresenter,Ucommerce.Presentation" />
		
		<component id="EditEmailTypePresenter"
				   service="Ucommerce.Presentation.Presenters.Settings.Email.EditEmailTypePresenter,Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Settings.Email.EditEmailTypePresenter,Ucommerce.Presentation" />
		
		<component id="OrderAnalyticsPresenter"
				   service="Ucommerce.Presentation.Presenters.Analytics.OrderAnalyticsPresenter, Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Analytics.OrderAnalyticsPresenter, Ucommerce.Presentation" />
		
		<component id="ProductAnalyticsPresenter"
				   service="Ucommerce.Presentation.Presenters.Analytics.ProductAnalyticsPresenter, Ucommerce.Presentation"
				   type="Ucommerce.Presentation.Presenters.Analytics.ProductAnalyticsPresenter, Ucommerce.Presentation" />

		<!-- Security -->
		<component id="EditUserAccessPresenter"
					 service="Ucommerce.Presentation.Presenters.Security.EditUserAccessPresenter, Ucommerce.Presentation"
					 type="Ucommerce.Presentation.Presenters.Security.EditUserAccessPresenter, Ucommerce.Presentation" />
		
		<component id="EditUserGroupAccessPresenter"
					 service="Ucommerce.Presentation.Presenters.Security.EditUserGroupAccessPresenter, Ucommerce.Presentation"
					 type="Ucommerce.Presentation.Presenters.Security.EditUserGroupAccessPresenter, Ucommerce.Presentation" />
	</components>
</configuration>