<configuration>
	<components>
		<component id="EditProductPresenter"
				   service="UCommerce.Presentation.Presenters.Catalog.EditProductPresenter, UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Catalog.EditProductPresenter, UCommerce.Presentation"
				  >
			<parameters>
				<saveProductPipeline>${SaveProduct}</saveProductPipeline>
				<deleteProductPipeline>${DeleteProduct}</deleteProductPipeline>
				<saveCategoryPipeline>${SaveCategory}</saveCategoryPipeline>
				<deleteVariantPipeline>${DeleteVariant}</deleteVariantPipeline>
			</parameters>
		</component>

		<component id="EditCategoryPresenter"
				   service="UCommerce.Presentation.Presenters.Catalog.EditCategoryPresenter, UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Catalog.EditCategoryPresenter, UCommerce.Presentation"
				  >
			<parameters>
				<saveCategoryPipeline>${SaveCategory}</saveCategoryPipeline>
				<deleteCategoryPipeline>${DeleteCategory}</deleteCategoryPipeline>
			</parameters>
		</component>

		<component id="EditProductCatalogGroupPresenter"
				   service="UCommerce.Presentation.Presenters.Catalog.EditProductCatalogGroupPresenter, UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Catalog.EditProductCatalogGroupPresenter, UCommerce.Presentation">
			<parameters>
				<saveProductCatalogGroupPipeline>${SaveProductCatalogGroup}</saveProductCatalogGroupPipeline>
			</parameters>
		</component>

		<component id="EditProductCatalogPresenter"
				   service="UCommerce.Presentation.Presenters.Catalog.EditProductCatalogPresenter, UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Catalog.EditProductCatalogPresenter, UCommerce.Presentation">
			<parameters>
				<saveProductCatalogPipeline>${SaveProductCatalog}</saveProductCatalogPipeline>
			</parameters>
		</component>
		
		<component id="CreateProductCatalogGroupPresenter"
				   service="UCommerce.Presentation.Presenters.Catalog.CreateProductCatalogGroupPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Catalog.CreateProductCatalogGroupPresenter,UCommerce.Presentation" />

		<component id="CreateProductCatalogPresenter"
				   service="UCommerce.Presentation.Presenters.Catalog.CreateProductCatalogPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Catalog.CreateProductCatalogPresenter,UCommerce.Presentation" >
			<parameters>
				<saveProductCatalogPipeline>${SaveProductCatalog}</saveProductCatalogPipeline>
			</parameters>
		</component>
		<!-- Marketing -->
    <component id="EditCampaignPresenter"
                   service="UCommerce.Presentation.Presenters.Marketing.EditCampaignPresenter, UCommerce.Presentation"
                   type="UCommerce.Presentation.Presenters.Marketing.EditCampaignPresenter, UCommerce.Presentation">
      <parameters>
        <saveCampaignPipeline>${SaveCampaign}</saveCampaignPipeline>
      </parameters>
    </component>

    <component id="EditCampaignItemPresenter"
				   service="UCommerce.Presentation.Presenters.Marketing.EditCampaignItemPresenter, UCommerce.Presentation"
                   type="UCommerce.Presentation.Presenters.Marketing.EditCampaignItemPresenter, UCommerce.Presentation">
      <parameters>
        <saveCampaignItemPipeline>${SaveCampaignItem}</saveCampaignItemPipeline>
      </parameters>
    </component>

		<!-- Settings -->
		<component id="EditOrderPresenter"
				   service="UCommerce.Presentation.Presenters.Orders.EditOrderPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Orders.EditOrderPresenter,UCommerce.Presentation" />

		<component id="EditProductDefinitionPresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionPresenter,UCommerce.Presentation" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>

		<component id="EditDefinitionPresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionPresenter,UCommerce.Presentation" >
			<parameters>
				<saveDefinitionPipeline>${SaveDefinition}</saveDefinitionPipeline>
			</parameters>
		</component>
		
		<component id="EditProductDefinitionFieldPresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionFieldPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Settings.Definitions.EditProductDefinitionFieldPresenter,UCommerce.Presentation">
		   <parameters>
				<saveProductDefinitionFieldPipeLine>${SaveProductDefinitionField}</saveProductDefinitionFieldPipeLine>
		   </parameters>
		</component>

		<component id="EditDefinitionFieldPresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionFieldPresenter,UCommerce.Presentation"
                   type="UCommerce.Presentation.Presenters.Settings.Definitions.EditDefinitionFieldPresenter,UCommerce.Presentation" >
			<parameters>
				<saveDefinitionFieldPipeline>${SaveDefinitionField}</saveDefinitionFieldPipeline>
			</parameters>
		</component>
		
		<component id="EditShippingMethodPresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Orders.EditShippingMethodPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Settings.Orders.EditShippingMethodPresenter,UCommerce.Presentation" />
		
		<component id="EditPaymentMethodPresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Orders.EditPaymentMethodPresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Settings.Orders.EditPaymentMethodPresenter,UCommerce.Presentation" />
		
		<component id="EditEmailProfilePresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Email.EditEmailProfilePresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Settings.Email.EditEmailProfilePresenter,UCommerce.Presentation" />
		
		<component id="EditEmailTypePresenter"
				   service="UCommerce.Presentation.Presenters.Settings.Email.EditEmailTypePresenter,UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Settings.Email.EditEmailTypePresenter,UCommerce.Presentation" />
		
		<component id="OrderAnalyticsPresenter"
				   service="UCommerce.Presentation.Presenters.Analytics.OrderAnalyticsPresenter, UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Analytics.OrderAnalyticsPresenter, UCommerce.Presentation" />
		
		<component id="ProductAnalyticsPresenter"
				   service="UCommerce.Presentation.Presenters.Analytics.ProductAnalyticsPresenter, UCommerce.Presentation"
				   type="UCommerce.Presentation.Presenters.Analytics.ProductAnalyticsPresenter, UCommerce.Presentation" />

		<!-- Security -->
		<component id="EditUserAccessPresenter"
					 service="UCommerce.Presentation.Presenters.Security.EditUserAccessPresenter, UCommerce.Presentation"
					 type="UCommerce.Presentation.Presenters.Security.EditUserAccessPresenter, UCommerce.Presentation" />
		
		<component id="EditUserGroupAccessPresenter"
					 service="UCommerce.Presentation.Presenters.Security.EditUserGroupAccessPresenter, UCommerce.Presentation"
					 type="UCommerce.Presentation.Presenters.Security.EditUserGroupAccessPresenter, UCommerce.Presentation" />
	</components>
</configuration>