<!--
	Configuration for the uCommerce search engine.
-->
<configuration>
	<components>

    <!-- Scratch Indexer -->
    <component id="ScratchIndexer.OLD"
        service="UCommerce.Search.Indexers.ScratchIndexer, UCommerce"
        type="UCommerce.Search.Indexers.ScratchIndexer, UCommerce" />
    
    <!-- Default repository -->
    <component id="SearchRepository"
				service="UCommerce.EntitiesV2.IRepository, UCommerce"
				type="UCommerce.Search.SearchRepository, UCommerce" />

    <!-- Indexers -->
		<component id="ProductIndexer"
				service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.Product, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.RavenProductIndexer, UCommerce" />

		<component id="SingleProductIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.RavenProductIndexer, UCommerce" />

		<component id="ProductDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.Product, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.RavenProductIndexer, UCommerce" />

		<component id="SingleProductDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.RavenProductIndexer, UCommerce" />

		<component id="ProductCatalogIndexer"
				service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCatalogIndexer, UCommerce" />

		<component id="SingleProductCatalogIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCatalogIndexer, UCommerce" />

		<component id="ProductCatalogDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCatalogIndexer, UCommerce" />

		<component id="SingleProductCatalogDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCatalogIndexer, UCommerce" />

		<component id="CategoryIndexer"
				service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.Category, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCategoryIndexer, UCommerce" />

		<component id="SingleCategoryIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCategoryIndexer, UCommerce" />

		<component id="CategoryDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.Category, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCategoryIndexer, UCommerce" />

		<component id="SingleCategoryDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.RavenCategoryIndexer, UCommerce" />

		<!-- Property Value Converters -->
		<component id="EmptyStringPropertyValueConverter"
				   service="UCommerce.Search.Indexers.IPropertyValueConverter, UCommerce"
				   type="UCommerce.Search.Indexers.PropertyValueConverters.EmptyStringValuePropertyValueConverter, UCommerce" />

		<component id="EnumMultiSelectPropertyValueConverter"
				   service="UCommerce.Search.Indexers.IPropertyValueConverter, UCommerce"
				   type="UCommerce.Search.Indexers.PropertyValueConverters.EnumMultiSelectPropertyValueConverter, UCommerce" />

		<!-- Definition indexer -->
		<component id="DefaultDefinitionIndexer"
				   service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], mscorlib]], UCommerce"
				   type="UCommerce.Search.Indexers.DefinitionIndexers.DefinitionIndexer, UCommerce" />

		<component id="DefaultSingleDefinitionIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.DefinitionIndexers.DefinitionIndexer, UCommerce" />

		<component id="DefaultDefinitionDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.DefinitionIndexers.DefinitionIndexer, UCommerce" />

		<component id="DefaultSingleDefinitionDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.Definitions.IDefinition, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.DefinitionIndexers.DefinitionIndexer, UCommerce" />

		<!-- Data type indexer -->
		<component id="DefaultDataTypeIndexer"
				   service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.DataType, UCommerce]], mscorlib]], UCommerce"
				   type="UCommerce.Search.Indexers.DefinitionIndexers.DataTypeIndexer, UCommerce" />

		<component id="DefaultSingleDataTypeIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.DefinitionIndexers.DataTypeIndexer, UCommerce" />

		<component id="DefaultDataTypeDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.DataType, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.DefinitionIndexers.DataTypeIndexer, UCommerce" />

		<component id="DefaultSingleDataTypeDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.DataType, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.DefinitionIndexers.DataTypeIndexer, UCommerce" />
		
  </components>
</configuration>