<configuration>
    <include-folder path="Indexes"/>
    <components>

        <component id="CultureClamp"
                   service="Ucommerce.Search.ICultureClamp, Ucommerce.Search"
                   type="Ucommerce.Search.CultureClamp, Ucommerce.Search"/>

        <!-- Adorners -->

        <component
                id="ProductImagesAdorner"
                service="Ucommerce.Search.IAdorn`1[[Ucommerce.Search.Models.Product,  Ucommerce.Search]], Ucommerce.Search"
                type="Ucommerce.Search.Fetchers.Products.ProductImagesAdorner, Ucommerce.Search"/>

        <component
                id="ProductSlugAdorner"
                service="Ucommerce.Search.IAdorn`1[[Ucommerce.Search.Models.Product,  Ucommerce.Search]], Ucommerce.Search"
                type="Ucommerce.Search.Fetchers.Products.ProductSlugAdorner, Ucommerce.Search"/>

        <component
                id="CatalogSlugAdorner"
                service="Ucommerce.Search.IAdorn`1[[Ucommerce.Search.Models.ProductCatalog,  Ucommerce.Search]], Ucommerce.Search"
                type="Ucommerce.Search.Fetchers.ProductCatalogs.CatalogSlugAdorner, Ucommerce.Search"/>

        <component
                id="CategoryImageAdorner"
                service="Ucommerce.Search.IAdorn`1[[Ucommerce.Search.Models.Category,  Ucommerce.Search]], Ucommerce.Search"
                type="Ucommerce.Search.Fetchers.Categories.CategoryImageAdorner, Ucommerce.Search"/>

        <component
                id="CategorySlugAdorner"
                service="Ucommerce.Search.IAdorn`1[[Ucommerce.Search.Models.Category,  Ucommerce.Search]], Ucommerce.Search"
                type="Ucommerce.Search.Fetchers.Categories.CategorySlugAdorner, Ucommerce.Search"/>


        <!-- SQL Connector -->

        <component id="SqlConnector"
                   service="Ucommerce.SqlMultiReaderConnector.Interfaces.ISqlMultiReaderConnector, Ucommerce.SqlMultiReaderConnector"
                   type="Ucommerce.SqlMultiReaderConnector.Implementations.Dapper.SqlConnector, Ucommerce.SqlMultiReaderConnector"/>


        <!-- Scratch Indexers -->

        <component id="DefaultScratchIndexer"
                   service="Ucommerce.Search.Indexers.IScratchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ScratchIndexer, Ucommerce.Search"/>


        <!-- Batch Indexers -->

        <component id="DefaultBatchIndexer"
                   service="Ucommerce.Search.Indexers.IBatchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.BatchIndexer, Ucommerce.Search"/>


        <!-- Indexing Pipeline -->

        <component id="ProductIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search"/>

        <component id="SingleProductIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search"/>

        <component id="ProductDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search"/>

        <component id="SingleProductDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.ProductIndexer, Ucommerce.Search"/>


        <component id="CategoryIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search"/>

        <component id="SingleCategoryIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search"/>

        <component id="CategoryDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search"/>

        <component id="SingleCategoryDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CategoryIndexer, Ucommerce.Search"/>


        <component id="ProductCatalogIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search"/>

        <component id="SingleProductCatalogIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search"/>

        <component id="ProductCatalogDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search"/>

        <component id="SingleProductCatalogDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogIndexer, Ucommerce.Search"/>


        <component id="ProductCatalogGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search"/>

        <component id="SingleProductCatalogGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search"/>

        <component id="ProductCatalogGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search"/>

        <component id="SingleProductCatalogGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.ProductCatalogGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.CatalogGroupIndexer, Ucommerce.Search"/>


        <component id="PriceGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search"/>

        <component id="SinglePriceGroupIndexer"
                   service="Ucommerce.Search.IIndexer`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search"/>

        <component id="PriceGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], mscorlib]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search"/>

        <component id="SinglePriceGroupDeindexer"
                   service="Ucommerce.Search.IDeindexer`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce.Search"
                   type="Ucommerce.Search.Indexers.PriceGroupIndexer, Ucommerce.Search"/>
    </components>
</configuration>