<!-- Do NOT make modifications to this file, they WILL be overwritten when Ucommerce is updated -->
<configuration>
  <components>

    <!-- Configuration -->
    <component
      id="ConnectionStringLocator"
      service="UCommerce.Infrastructure.Configuration.IConnectionStringLocator, UCommerce.Infrastructure"
      type="UCommerce.Sitefinity.Configuration.ConnectionStringLocator, UCommerce.Sitefinity">
      <parameters>
        <ConnectionString>#{connectionString}</ConnectionString>
      </parameters>
    </component>
    
    <component
      id="InstallationConnectionStringLocator"
      service="UCommerce.Installer.IInstallationConnectionStringLocator, UCommerce.Installer"
      type="UCommerce.Sitefinity.Installer.SitefinityInstallationConnectionStringLocator, UCommerce.Sitefinity.Installer">
    </component>
    
    <!-- Content -->
    <component id="ContentService"
      service="UCommerce.Content.IContentService, UCommerce"
      type="UCommerce.Sitefinity.Content.ContentService, UCommerce.Sitefinity" />

    <component id="DomainService"
      service="UCommerce.Content.IDomainService, UCommerce"
      type="UCommerce.Sitefinity.Content.DomainService, UCommerce.Sitefinity" />

    <component id="ImageService"
      service="UCommerce.Content.IImageService, UCommerce"
      type="UCommerce.Sitefinity.Content.ImageService, UCommerce.Sitefinity" />

    <!-- Globalization -->
    <component id="LanguageService"
      service="UCommerce.Infrastructure.Globalization.ILanguageService, UCommerce.Infrastructure"
      type="UCommerce.Sitefinity.Globalization.LanguageService, UCommerce.Sitefinity" />

    <!-- Logging -->
    <component id="LoggingService"
      service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
      type="UCommerce.Sitefinity.Logging.LoggingService, UCommerce.Sitefinity" />

    <!-- Security -->
    <component id="AuthenticationService"
      service="UCommerce.Security.IAuthenticationService, UCommerce"
      type="UCommerce.Sitefinity.Security.AuthenticationService, UCommerce.Sitefinity" />

    <component id="MemberService"
			service="UCommerce.Security.IMemberService, UCommerce"
			type="UCommerce.Sitefinity.Security.MemberService, UCommerce.Sitefinity" />

    <component id="UserService"
      service="UCommerce.Security.IUserService, UCommerce"
      type="UCommerce.Sitefinity.Security.UserService, UCommerce.Sitefinity">
    </component>

    <component id="UserGroupService"
      service="UCommerce.Security.IUserGroupService, UCommerce"
      type="UCommerce.Sitefinity.Security.UserGroupService, UCommerce.Sitefinity" />

    <component id="CurrentUserNameService"
               service="UCommerce.Security.ICurrentUserNameService, UCommerce"
               type="UCommerce.Sitefinity.Security.CurrentUserNameService, UCommerce.Sitefinity" />

    <!-- UI -->
    <component id="JavaScriptFactory"
      service="UCommerce.Presentation.UI.IJavaScriptFactory, UCommerce.Presentation"
      type="UCommerce.Sitefinity.UI.JavaScriptFactory, UCommerce.Sitefinity" />

    <!-- UI / Resources -->
    <component id="ResourcesIncludeShellList"
      service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
      type="UCommerce.Sitefinity.UI.Resources.ResourcesIncludeListShell, UCommerce.Sitefinity" />

    <component id="ResourcesIncludeList"
      service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
      type="UCommerce.Sitefinity.UI.Resources.ResourcesIncludeList, UCommerce.Sitefinity" />

    <component id="ResourcesDependencyLoader"
      service="ClientDependency.Core.Controls.ClientDependencyLoader, ClientDependency.Core, Version=1.8.2.1"
      type="UCommerce.Sitefinity.UI.Resources.ResourcesDependencyLoader, UCommerce.Sitefinity" />

    <!-- Web -->
    <component id="BackendLocalizationService"
      service="UCommerce.Presentation.Web.Pages.IBackendLocalizationService, UCommerce.Presentation"
      type="UCommerce.Sitefinity.Web.BackendLocalizationService, UCommerce.Sitefinity" />

    <component id="UrlResolver"
      service="UCommerce.Presentation.Web.IUrlResolver, UCommerce.Presentation"
      type="UCommerce.Sitefinity.Web.UrlResolver, UCommerce.Sitefinity" />

    <!-- This does not need to be in Shell.config? -->
    <component id="controls.shell"
               service="UCommerce.Presentation.UI.Resources.IResourcesControls, UCommerce.Presentation"
               type="UCommerce.Presentation.UI.Resources.Impl.ResourcesControls, UCommerce.Presentation" >
      <parameters>
        <resouresIncludeLists>
          <array>
            <item>${ResourcesIncludeShellList}</item>
          </array>
        </resouresIncludeLists>
      </parameters>
    </component>

    <component id="JavascriptResourcesIncludeList"
               service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
               type="UCommerce.Presentation.UI.Resources.Impl.JavascriptResourceIncludeList, UCommerce.Presentation" />

    <component id="ApplicationBootStrapper"
               service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
               type="UCommerce.Presentation.UI.Resources.Impl.ApplicationBootStrapper, UCommerce.Presentation" />

    <component id="WidgetResourcesIncludeList"
               service="UCommerce.Presentation.UI.Resources.IResourcesIncludeList, UCommerce.Presentation"
               type="UCommerce.Presentation.UI.Resources.Impl.WidgetResourcesIncludeList, UCommerce.Presentation" />

    <component id="controls.ucommerceMain"
               service="UCommerce.Presentation.UI.Resources.IResourcesControls, UCommerce.Presentation"
               type="UCommerce.Presentation.UI.Resources.Impl.ResourcesControls, UCommerce.Presentation" >
      <parameters>
        <resouresIncludeLists>
          <array>
            <item>${JavascriptResourcesIncludeList}</item>
            <item>${ResourcesIncludeList}</item>
            <item>${WidgetResourcesIncludeList}</item>
            <item>${ApplicationBootStrapper}</item>
          </array>
        </resouresIncludeLists>
      </parameters>
    </component>

    <component
      id="MediaControlFactory"
      service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
      type="UCommerce.Presentation.Web.Controls.Factories.ImagePickerControlFactory, UCommerce.Presentation"/>

    <component
      id="ImagePickerControlAdapter"
      service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
      type="UCommerce.Presentation.Web.Controls.Adapters.ImagePickerControlAdapter, UCommerce.Presentation" />

    <component
      id="ImageNodeService"
      service="UCommerce.Web.ITreeNodeService, UCommerce"
      type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
      <parameters>
        <serviceType>Image</serviceType>
        <treeNodeContentToTreeNodeConverter>${TreeServiceImageNodeConverter}</treeNodeContentToTreeNodeConverter>
        <treeContentService>${TreeServiceImagePicker}</treeContentService>
      </parameters>
    </component>

    <component id="TreeServiceImageNodeConverter"
               service="UCommerce.Web.ITreeNodeContentToTreeNodeConverter, UCommerce"
               type="UCommerce.Sitefinity.Content.ImageTreeNodeConverter, UCommerce.Sitefinity" />

    <component id="TreeServiceImagePicker"
               service="UCommerce.Tree.ITreeContentService, UCommerce"
               type="UCommerce.Sitefinity.Content.ImageTreeService, UCommerce.Sitefinity" />
    
    <component 
      id="ContentNodeService" 
      service="UCommerce.Web.ITreeNodeService, UCommerce" 
      type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
      <parameters>
        <serviceType>Content</serviceType>
        <treeNodeContentToTreeNodeConverter>${TreeServiceContentNodeConverter}</treeNodeContentToTreeNodeConverter>
        <treeContentService>${TreeServiceContentPicker}</treeContentService>
      </parameters>
    </component>

    <component id="TreeServiceContentNodeConverter"
               service="UCommerce.Web.ITreeNodeContentToTreeNodeConverter, UCommerce"
               type="UCommerce.Sitefinity.Content.ContentTreeNodeConverter, UCommerce.Sitefinity" />


    <component id="TreeServiceContentPicker"
               service="UCommerce.Tree.ITreeContentService, UCommerce"
               type="UCommerce.Sitefinity.Content.ContentTreeService, UCommerce.Sitefinity" />
  
    <component
      id="ContentPickerControlAdapter"
      service="UCommerce.Presentation.Web.Controls.IControlAdapter, UCommerce.Presentation"
      type="UCommerce.Presentation.Web.Controls.Adapters.ContentPickerControlAdapter, UCommerce.Presentation" />

    <component
      id="ContentControlFactory"
      service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
      type="UCommerce.Presentation.Web.Controls.Factories.ContentPickerControlFactory, UCommerce.Presentation"/>

    <!-- GetHostSystemInfo-->
    <component
      id="GetHostSystemInfo"
      service="UCommerce.SystemInformation.IGetHostSystemInfo, UCommerce"
      type="UCommerce.Sitefinity.SystemInformation.GetHostSystemInfo, UCommerce.Sitefinity"/>

</components>
</configuration>
