<!-- Do NOT make modifications to this file, they WILL be overwritten when Ucommerce is updated -->
<configuration>
  <components>

    <!-- Configuration -->
    <component
      id="ConnectionStringLocator"
      service="Ucommerce.Infrastructure.Configuration.IConnectionStringLocator, Ucommerce.Infrastructure"
      type="Ucommerce.Sitefinity.Configuration.ConnectionStringLocator, Ucommerce.Sitefinity">
      <parameters>
        <ConnectionString>#{connectionString}</ConnectionString>
      </parameters>
    </component>
    
    <component
      id="InstallationConnectionStringLocator"
      service="Ucommerce.Installer.IInstallationConnectionStringLocator, Ucommerce.Installer"
      type="Ucommerce.Sitefinity.Installer.SitefinityInstallationConnectionStringLocator, Ucommerce.Sitefinity.Installer">
    </component>
    
    <!-- Content -->
    <component id="ContentService"
      service="Ucommerce.Content.IContentService, Ucommerce"
      type="Ucommerce.Sitefinity.Content.ContentService, Ucommerce.Sitefinity" />

    <component id="DomainService"
      service="Ucommerce.Content.IDomainService, Ucommerce"
      type="Ucommerce.Sitefinity.Content.DomainService, Ucommerce.Sitefinity" />

    <component id="ImageService"
      service="Ucommerce.Content.IImageService, Ucommerce"
      type="Ucommerce.Sitefinity.Content.ImageService, Ucommerce.Sitefinity" />

    <!-- Globalization -->
    <component id="LanguageService"
      service="Ucommerce.Infrastructure.Globalization.ILanguageService, Ucommerce.Infrastructure"
      type="Ucommerce.Sitefinity.Globalization.LanguageService, Ucommerce.Sitefinity" />

    <!-- Logging -->
    <component id="LoggingService"
      service="Ucommerce.Infrastructure.Logging.ILoggingService, Ucommerce.Infrastructure"
      type="Ucommerce.Sitefinity.Logging.LoggingService, Ucommerce.Sitefinity" />

    <!-- Security -->
    <component id="AuthenticationService"
      service="Ucommerce.Security.IAuthenticationService, Ucommerce"
      type="Ucommerce.Sitefinity.Security.AuthenticationService, Ucommerce.Sitefinity" />

    <component id="MemberService"
			service="Ucommerce.Security.IMemberService, Ucommerce"
			type="Ucommerce.Sitefinity.Security.MemberService, Ucommerce.Sitefinity" />

    <component id="UserService"
      service="Ucommerce.Security.IUserService, Ucommerce"
      type="Ucommerce.Sitefinity.Security.UserService, Ucommerce.Sitefinity">
    </component>

    <component id="UserGroupService"
      service="Ucommerce.Security.IUserGroupService, Ucommerce"
      type="Ucommerce.Sitefinity.Security.UserGroupService, Ucommerce.Sitefinity" />

    <component id="CurrentUserNameService"
               service="Ucommerce.Security.ICurrentUserNameService, Ucommerce"
               type="Ucommerce.Sitefinity.Security.CurrentUserNameService, Ucommerce.Sitefinity" />

    <!-- UI -->
    <component id="JavaScriptFactory"
      service="Ucommerce.Presentation.UI.IJavaScriptFactory, Ucommerce.Presentation"
      type="Ucommerce.Sitefinity.UI.JavaScriptFactory, Ucommerce.Sitefinity" />

    <!-- UI / Resources -->
    <component id="ResourcesIncludeShellList"
      service="Ucommerce.Presentation.UI.Resources.IResourcesIncludeList, Ucommerce.Presentation"
      type="Ucommerce.Sitefinity.UI.Resources.ResourcesIncludeListShell, Ucommerce.Sitefinity" />

    <component id="ResourcesIncludeList"
      service="Ucommerce.Presentation.UI.Resources.IResourcesIncludeList, Ucommerce.Presentation"
      type="Ucommerce.Sitefinity.UI.Resources.ResourcesIncludeList, Ucommerce.Sitefinity" />

    <component id="ResourcesDependencyLoader"
      service="ClientDependency.Core.Controls.ClientDependencyLoader, ClientDependency.Core, Version=1.8.2.1"
      type="Ucommerce.Sitefinity.UI.Resources.ResourcesDependencyLoader, Ucommerce.Sitefinity" />

    <!-- Web -->
    <component id="BackendLocalizationService"
      service="Ucommerce.Presentation.Web.Pages.IBackendLocalizationService, Ucommerce.Presentation"
      type="Ucommerce.Sitefinity.Web.BackendLocalizationService, Ucommerce.Sitefinity" />

    <component id="UrlResolver"
      service="Ucommerce.Presentation.Web.IUrlResolver, Ucommerce.Presentation"
      type="Ucommerce.Sitefinity.Web.UrlResolver, Ucommerce.Sitefinity" />

    <!-- This does not need to be in Shell.config? -->
    <component id="controls.shell"
               service="Ucommerce.Presentation.UI.Resources.IResourcesControls, Ucommerce.Presentation"
               type="Ucommerce.Presentation.UI.Resources.Impl.ResourcesControls, Ucommerce.Presentation" >
      <parameters>
        <resouresIncludeLists>
          <array>
            <item>${ResourcesIncludeShellList}</item>
          </array>
        </resouresIncludeLists>
      </parameters>
    </component>

    <component id="JavascriptResourcesIncludeList"
               service="Ucommerce.Presentation.UI.Resources.IResourcesIncludeList, Ucommerce.Presentation"
               type="Ucommerce.Presentation.UI.Resources.Impl.JavascriptResourceIncludeList, Ucommerce.Presentation" />

    <component id="ApplicationBootStrapper"
               service="Ucommerce.Presentation.UI.Resources.IResourcesIncludeList, Ucommerce.Presentation"
               type="Ucommerce.Presentation.UI.Resources.Impl.ApplicationBootStrapper, Ucommerce.Presentation" />

    <component id="WidgetResourcesIncludeList"
               service="Ucommerce.Presentation.UI.Resources.IResourcesIncludeList, Ucommerce.Presentation"
               type="Ucommerce.Presentation.UI.Resources.Impl.WidgetResourcesIncludeList, Ucommerce.Presentation" />

    <component id="controls.UcommerceMain"
               service="Ucommerce.Presentation.UI.Resources.IResourcesControls, Ucommerce.Presentation"
               type="Ucommerce.Presentation.UI.Resources.Impl.ResourcesControls, Ucommerce.Presentation" >
      <parameters>
        <resouresIncludeLists>
          <array>
            <item>${JavascriptResourcesIncludeList}</item>
            <item>${ResourcesIncludeList}</item>
            <item>${WidgetResourcesIncludeList}</item>
            <item>${ApplicationBootStrapper}</item>
          </array>
        </resouresIncludeLists>
      </parameters>
    </component>

    <component
      id="MediaControlFactory"
      service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
      type="Ucommerce.Presentation.Web.Controls.Factories.ImagePickerControlFactory, Ucommerce.Presentation"/>

    <component
      id="ImagePickerControlAdapter"
      service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
      type="Ucommerce.Presentation.Web.Controls.Adapters.ImagePickerControlAdapter, Ucommerce.Presentation" />

    <component
      id="ImageNodeService"
      service="Ucommerce.Web.ITreeNodeService, Ucommerce"
      type="Ucommerce.Web.Impl.ContentNodeService, Ucommerce">
      <parameters>
        <serviceType>Image</serviceType>
        <treeNodeContentToTreeNodeConverter>${TreeServiceImageNodeConverter}</treeNodeContentToTreeNodeConverter>
        <treeContentService>${TreeServiceImagePicker}</treeContentService>
      </parameters>
    </component>

    <component id="TreeServiceImageNodeConverter"
               service="Ucommerce.Web.ITreeNodeContentToTreeNodeConverter, Ucommerce"
               type="Ucommerce.Sitefinity.Content.ImageTreeNodeConverter, Ucommerce.Sitefinity" />

    <component id="TreeServiceImagePicker"
               service="Ucommerce.Tree.ITreeContentService, Ucommerce"
               type="Ucommerce.Sitefinity.Content.ImageTreeService, Ucommerce.Sitefinity" />
    
    <component 
      id="ContentNodeService" 
      service="Ucommerce.Web.ITreeNodeService, Ucommerce" 
      type="Ucommerce.Web.Impl.ContentNodeService, Ucommerce">
      <parameters>
        <serviceType>Content</serviceType>
        <treeNodeContentToTreeNodeConverter>${TreeServiceContentNodeConverter}</treeNodeContentToTreeNodeConverter>
        <treeContentService>${TreeServiceContentPicker}</treeContentService>
      </parameters>
    </component>

    <component id="TreeServiceContentNodeConverter"
               service="Ucommerce.Web.ITreeNodeContentToTreeNodeConverter, Ucommerce"
               type="Ucommerce.Sitefinity.Content.ContentTreeNodeConverter, Ucommerce.Sitefinity" />


    <component id="TreeServiceContentPicker"
               service="Ucommerce.Tree.ITreeContentService, Ucommerce"
               type="Ucommerce.Sitefinity.Content.ContentTreeService, Ucommerce.Sitefinity" />
  
    <component
      id="ContentPickerControlAdapter"
      service="Ucommerce.Presentation.Web.Controls.IControlAdapter, Ucommerce.Presentation"
      type="Ucommerce.Presentation.Web.Controls.Adapters.ContentPickerControlAdapter, Ucommerce.Presentation" />

    <component
      id="ContentControlFactory"
      service="Ucommerce.Presentation.Web.Controls.IControlFactory, Ucommerce.Presentation"
      type="Ucommerce.Presentation.Web.Controls.Factories.ContentPickerControlFactory, Ucommerce.Presentation"/>

    <!-- GetHostSystemInfo-->
    <component
      id="GetHostSystemInfo"
      service="Ucommerce.SystemInformation.IGetHostSystemInfo, Ucommerce"
      type="Ucommerce.Sitefinity.SystemInformation.GetHostSystemInfo, Ucommerce.Sitefinity"/>

</components>
</configuration>
