<!--
	<component id="" service="" type="" />
-->
<configuration>
	<components>
		<component id="SinglePriceService"
			service="UCommerce.Transactions.Shipping.IShippingMethodService, UCommerce"
			type="UCommerce.Transactions.Shipping.SinglePriceShippingMethodService, UCommerce"/>
	</components>
</configuration>