<!--
	<component id="" service="" type="" />
-->
<configuration>
	<components>
		<component id="SinglePriceService"
			service="Ucommerce.Transactions.Shipping.IShippingMethodService, Ucommerce"
			type="Ucommerce.Transactions.Shipping.SinglePriceShippingMethodService, Ucommerce"/>
	</components>
</configuration>