<!--
  Configuration for the Ucommerce Synchronization tools (import/export)
-->
<configuration>
  <components>

    <!-- Export -->
    <component
      id="GetProductsForCategory"
      service="Ucommerce.Synchronization.IGetProductsForCategory, Ucommerce"
      type="Ucommerce.Synchronization.Impl.GetProductsForCategoryService, Ucommerce"/>

    <component
      id="ConvertProductsToDataTable"
      service="Ucommerce.Synchronization.ITransform`2[
      [System.Collections.Generic.IEnumerable`1[[Ucommerce.EntitiesV2.Product, Ucommerce]], mscorlib], 
      [System.Data.DataTable, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]
      ], Ucommerce"
      type="Ucommerce.Synchronization.Impl.ConvertProductsToDataTable, Ucommerce"/>

    <component
      id="ConvertProductToDataRow"
      service="Ucommerce.Synchronization.ITransformValues`2[
      [Ucommerce.EntitiesV2.Product, Ucommerce], 
      [System.Data.DataRow, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]
      ], Ucommerce"
      type="Ucommerce.Synchronization.Impl.ConvertProductToDataRowService, Ucommerce"/>

    <component
      id="ConvertDataTableToExcelStream"
      service="Ucommerce.Synchronization.ITransform`2[
      [System.Data.DataTable, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089], 
      [System.IO.Stream, system.io, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]
      ], Ucommerce"
      type="Ucommerce.Synchronization.Impl.ConvertDataTableToExcelStream, Ucommerce"/>

    <component
      id="ConvertDataTableToCsvStream"
      service="Ucommerce.Synchronization.ITransform`2[
      [System.Data.DataTable, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089], 
      [System.IO.Stream, system.io, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]
      ], Ucommerce"
      type="Ucommerce.Synchronization.Impl.ConvertDataTableToCsvStream, Ucommerce"/>

 

  </components>
</configuration>
