<!--
  Configuration for the Ucommerce Synchronization tools (import/export)
-->
<configuration>
  <components>

    <!-- Export -->
    <component
      id="GetProductsForCategory"
      service="UCommerce.Synchronization.IGetProductsForCategory, UCommerce"
      type="UCommerce.Synchronization.Impl.GetProductsForCategoryService, UCommerce"/>

    <component
      id="ConvertProductsToDataTable"
      service="UCommerce.Synchronization.ITransform`2[
      [System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.Product, UCommerce]], mscorlib], 
      [System.Data.DataTable, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]
      ], UCommerce"
      type="UCommerce.Synchronization.Impl.ConvertProductsToDataTable, UCommerce"/>

    <component
      id="ConvertProductToDataRow"
      service="UCommerce.Synchronization.ITransformValues`2[
      [UCommerce.EntitiesV2.Product, UCommerce], 
      [System.Data.DataRow, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]
      ], UCommerce"
      type="UCommerce.Synchronization.Impl.ConvertProductToDataRowService, UCommerce"/>

    <component
      id="ConvertDataTableToExcelStream"
      service="UCommerce.Synchronization.ITransform`2[
      [System.Data.DataTable, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089], 
      [System.IO.Stream, system.io, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]
      ], UCommerce"
      type="UCommerce.Synchronization.Impl.ConvertDataTableToExcelStream, UCommerce"/>

    <component
      id="ConvertDataTableToCsvStream"
      service="UCommerce.Synchronization.ITransform`2[
      [System.Data.DataTable, system.data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089], 
      [System.IO.Stream, system.io, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]
      ], UCommerce"
      type="UCommerce.Synchronization.Impl.ConvertDataTableToCsvStream, UCommerce"/>

 

  </components>
</configuration>
