<configuration>
	<components>
		<!-- XML Renderings 
				Renderings can be changed here, if you want entities rendered in another way.
		-->
		<component id="ProductReviewRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.ProductReview, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.ProductReviewRenderer, Ucommerce" />
		<component id="ProductReviewCommentRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.ProductReviewComment, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.ProductReviewCommentRenderer, Ucommerce" />
		<component id="CustomerRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Customer, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.CustomerRenderer, Ucommerce" />
		<component id="AddressRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.IAddress, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.AddressRenderer, Ucommerce" />
		<component id="PropertyRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Definitions.IProperty, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.PropertyRenderer, Ucommerce" />
		<component id="CampaignItemRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.CampaignItem, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.CampaignItemRenderer, Ucommerce" />
		<component id="ProductCatalogRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.ProductCatalog, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.ProductCatalogRenderer, Ucommerce" />
		<component id="PriceGroupRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.PriceGroup, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.PriceGroupRenderer, Ucommerce" />
		<component id="CategoryRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Category, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.CategoryRenderer, Ucommerce"  />
		<component id="CategoryStructureRenderer"
			service="Ucommerce.Xslt.Rendering.CategoryStructureRenderer, Ucommerce"
			type="Ucommerce.Xslt.Rendering.CategoryStructureRenderer, Ucommerce" />
		<component id="PropertyRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Definitions.IProperty, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.PropertyRenderer, Ucommerce" />
		<component id="ProductRenderer"
			service="Ucommerce.Xslt.Rendering.ProductRenderer, Ucommerce"
			type="Ucommerce.Xslt.Rendering.ProductRenderer, Ucommerce" />
		<component id="RelatedProductsRenderer"
			service="Ucommerce.Xslt.Rendering.RelatedProductsRenderer, Ucommerce"
			type="Ucommerce.Xslt.Rendering.RelatedProductsRenderer, Ucommerce" />
		<component id="PurchaseOrderRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.PurchaseOrderRenderer, Ucommerce" />
		<component id="OrderLineRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.OrderLine, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.OrderLineRenderer, Ucommerce" />
		<component id="OrderPropertyRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.OrderProperty, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.OrderPropertyRenderer, Ucommerce" />
		<component id="DiscountRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Discount, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.DiscountRenderer, Ucommerce" />
		<component id="ShipmentRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Shipment, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.ShipmentRenderer, Ucommerce" />
		<component id="PaymentRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Payment, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.PaymentRenderer, Ucommerce" />
		<component id="PaymentMethodRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.PaymentMethod, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.PaymentMethodRenderer, Ucommerce" />
		<component id="ShippingMethodRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.ShippingMethod, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.ShippingMethodRenderer, Ucommerce" />
		<component id="CountryRenderer"
			service="Ucommerce.Xslt.Rendering.IXmlRenderer`1[[Ucommerce.EntitiesV2.Country, Ucommerce]], Ucommerce"
			type="Ucommerce.Xslt.Rendering.CountryRenderer, Ucommerce" />

		<!-- Marketing Renderers -->
		<component id="ProductCatalogGroupTargetRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.ProductCatalogGroupTargetRenderer, Ucommerce" />
		<component id="ProductCatalogTargetRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.ProductCatalogTargetRenderer, Ucommerce" />
		<component id="CategoryTargetRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.CategoryTargetRenderer, Ucommerce" />
		<component id="ProductTargetRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.ProductTargetRenderer, Ucommerce" />
		<component id="VoucherTargetRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.VoucherTargetRenderer, Ucommerce" />
		<component id="OrderAmountTargetRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.OrderAmountTargetRenderer, Ucommerce" />
		<component id="AmountOffOrderTotalAwardRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.AmountOffOrderTotalAwardRenderer, Ucommerce" />
		<component id="AmountOffOrderLinesAwardRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.AmountOffOrderLinesAwardRenderer, Ucommerce" />
		<component id="AmountOffUnitAwardRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.AmountOffUnitAwardRenderer, Ucommerce" />
		<component id="PercentOffOrderLinesAwardRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.PercentOffOrderLinesAwardRenderer, Ucommerce" />
		<component id="PercentOffOrderTotalAwardRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.PercentOffOrderTotalAwardRenderer, Ucommerce" />
		<component id="PercentOffShippingTotalAwardRenderer"
             service="Ucommerce.Xslt.Rendering.IXmlRenderer, Ucommerce"
             type="Ucommerce.Xslt.Rendering.PercentOffShippingTotalAwardRenderer, Ucommerce" />
	</components>
</configuration>