<configuration>
	<components>
		<!-- XML Renderings 
				Renderings can be changed here, if you want entities rendered in another way.
		-->
		<component id="ProductReviewRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.ProductReview, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.ProductReviewRenderer, UCommerce" />
		<component id="ProductReviewCommentRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.ProductReviewComment, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.ProductReviewCommentRenderer, UCommerce" />
		<component id="CustomerRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Customer, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.CustomerRenderer, UCommerce" />
		<component id="AddressRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.IAddress, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.AddressRenderer, UCommerce" />
		<component id="PropertyRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Definitions.IProperty, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.PropertyRenderer, UCommerce" />
		<component id="CampaignItemRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.CampaignItem, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.CampaignItemRenderer, UCommerce" />
		<component id="ProductCatalogRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.ProductCatalog, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.ProductCatalogRenderer, UCommerce" />
		<component id="PriceGroupRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.PriceGroup, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.PriceGroupRenderer, UCommerce" />
		<component id="CategoryRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.CategoryRenderer, UCommerce"  />
		<component id="CategoryStructureRenderer"
			service="UCommerce.Xslt.Rendering.CategoryStructureRenderer, UCommerce"
			type="UCommerce.Xslt.Rendering.CategoryStructureRenderer, UCommerce" />
		<component id="PropertyRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Definitions.IProperty, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.PropertyRenderer, UCommerce" />
		<component id="ProductRenderer"
			service="UCommerce.Xslt.Rendering.ProductRenderer, UCommerce"
			type="UCommerce.Xslt.Rendering.ProductRenderer, UCommerce" />
		<component id="RelatedProductsRenderer"
			service="UCommerce.Xslt.Rendering.RelatedProductsRenderer, UCommerce"
			type="UCommerce.Xslt.Rendering.RelatedProductsRenderer, UCommerce" />
		<component id="PurchaseOrderRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.PurchaseOrderRenderer, UCommerce" />
		<component id="OrderLineRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.OrderLine, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.OrderLineRenderer, UCommerce" />
		<component id="OrderPropertyRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.OrderProperty, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.OrderPropertyRenderer, UCommerce" />
		<component id="DiscountRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Discount, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.DiscountRenderer, UCommerce" />
		<component id="ShipmentRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Shipment, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.ShipmentRenderer, UCommerce" />
		<component id="PaymentRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Payment, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.PaymentRenderer, UCommerce" />
		<component id="PaymentMethodRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.PaymentMethod, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.PaymentMethodRenderer, UCommerce" />
		<component id="ShippingMethodRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.ShippingMethod, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.ShippingMethodRenderer, UCommerce" />
		<component id="CountryRenderer"
			service="UCommerce.Xslt.Rendering.IXmlRenderer`1[[UCommerce.EntitiesV2.Country, UCommerce]], UCommerce"
			type="UCommerce.Xslt.Rendering.CountryRenderer, UCommerce" />

		<!-- Marketing Renderers -->
		<component id="ProductCatalogGroupTargetRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.ProductCatalogGroupTargetRenderer, UCommerce" />
		<component id="ProductCatalogTargetRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.ProductCatalogTargetRenderer, UCommerce" />
		<component id="CategoryTargetRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.CategoryTargetRenderer, UCommerce" />
		<component id="ProductTargetRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.ProductTargetRenderer, UCommerce" />
		<component id="VoucherTargetRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.VoucherTargetRenderer, UCommerce" />
		<component id="OrderAmountTargetRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.OrderAmountTargetRenderer, UCommerce" />
		<component id="AmountOffOrderTotalAwardRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.AmountOffOrderTotalAwardRenderer, UCommerce" />
		<component id="AmountOffOrderLinesAwardRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.AmountOffOrderLinesAwardRenderer, UCommerce" />
		<component id="AmountOffUnitAwardRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.AmountOffUnitAwardRenderer, UCommerce" />
		<component id="PercentOffOrderLinesAwardRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.PercentOffOrderLinesAwardRenderer, UCommerce" />
		<component id="PercentOffOrderTotalAwardRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.PercentOffOrderTotalAwardRenderer, UCommerce" />
		<component id="PercentOffShippingTotalAwardRenderer"
             service="UCommerce.Xslt.Rendering.IXmlRenderer, UCommerce"
             type="UCommerce.Xslt.Rendering.PercentOffShippingTotalAwardRenderer, UCommerce" />
	</components>
</configuration>