<configuration>
	<components>
		<component
			id="GoogleAnalyticsWidget"
			service="UCommerce.Presentation.UI.Widget, UCommerce.Presentation"
			type="UCommerce.Presentation.UI.Widget, UCommerce.Presentation">
			<parameters>
				<DefaultWidth>4</DefaultWidth>
				<DefaultHeight>3</DefaultHeight>
				<Properties>
					<dictionary>
						<entry key="googleAnalyticsKey">_</entry>
						<entry key="chartType">_</entry>
						<entry key="metrics">_</entry>
						<entry key="dimensions">_</entry>
					</dictionary>
				</Properties>
				<Name>Google Analytics</Name>
				<View>/Apps/Widgets/analyticsDataChart/view.html</View>
				<EditView>/Apps/Widgets/analyticsDataChart/edit.html</EditView>
				<ShowLoadingCover>True</ShowLoadingCover>
				<EnableReload>True</EnableReload>
				<Css>
					<array>
						<value>/Apps/Widgets/analyticsDataChart/analyticsStyle.css</value>
					</array>
				</Css>
				<Javascript>
					<array>
						<value>/Apps/Widgets/analyticsDataChart/analyticsDataChart.controller.js</value>
						<value>/Apps/Widgets/analyticsDataChart/AnalyticsDataChart.js</value>
					</array>
				</Javascript>
			</parameters>
		</component>
	</components>
</configuration>
