<configuration>
  <components>
    <!-- Schibsted -->
    <component id="Schibsted"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Schibsted.SchibstedPaymentMethodService, Ucommerce.Transactions.Payments.Schibsted" />

    <component id="SchibstedPageBuilder"
               service="Ucommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, Ucommerce.Transactions.Payments.Schibsted"
               type="Ucommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, Ucommerce.Transactions.Payments.Schibsted">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>

    <component id="SchibstedSha256Computer"
               service="Ucommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, Ucommerce.Transactions.Payments.Schibsted"
               type="Ucommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, Ucommerce.Transactions.Payments.Schibsted" />

    <component id="Schibsted Subscription"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Schibsted.SchibstedRecurringPaymentMethodService, Ucommerce.Transactions.Payments.Schibsted" />

  </components>
</configuration>