<configuration>
  <components>
    <!-- Schibsted -->
    <component id="Schibsted"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedPaymentMethodService, Ucommerce.Transactions.Payments.Schibsted, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

    <component id="SchibstedPageBuilder"
               service="UCommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, Ucommerce.Transactions.Payments.Schibsted, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, Ucommerce.Transactions.Payments.Schibsted, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>

    <component id="SchibstedSha256Computer"
               service="UCommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, Ucommerce.Transactions.Payments.Schibsted, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, Ucommerce.Transactions.Payments.Schibsted, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

    <component id="Schibsted Subscription"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedRecurringPaymentMethodService, Ucommerce.Transactions.Payments.Schibsted, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

  </components>
</configuration>