
.featured {
    font-family: 'Segoe UI';
    color: #aaa;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
}


.featured h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #000; 
}


a {
    color: #39a3bf;
    text-decoration: none;
}