<configuration>
  <components>
    <!-- Secure Trading -->
    <component id="SecureTradingHttpPaymentExtractor"
               service="Ucommerce.Transactions.Payments.IHttpPaymentExtractor, Ucommerce"
               type="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingHttpPaymentExtractor, Ucommerce.Transactions.Payments.SecureTrading" />

    <component id="Secure Trading"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingPaymentMethodService, Ucommerce.Transactions.Payments.SecureTrading">
      <parameters>
        <httpExtractor>${SecureTradingHttpPaymentExtractor}</httpExtractor>
        <numberOfRetriesForTransactionQuery>4</numberOfRetriesForTransactionQuery>
        <secondsToWaitOnRetryForQuery>4</secondsToWaitOnRetryForQuery>
      </parameters>
    </component>

    <component id="SecureTradingPageBuilder"
               service="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingPageBuilder, Ucommerce.Transactions.Payments.SecureTrading"
               type="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingPageBuilder, Ucommerce.Transactions.Payments.SecureTrading" />

    <component id="SecureTradingMd5Computer"
               service="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingMd5Computer, Ucommerce.Transactions.Payments.SecureTrading"
               type="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingMd5Computer, Ucommerce.Transactions.Payments.SecureTrading" />

    <component id="SecureTradingXmlRequester"
               service="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingXmlRequester, Ucommerce.Transactions.Payments.SecureTrading"
               type="Ucommerce.Transactions.Payments.SecureTrading.SecureTradingXmlRequester, Ucommerce.Transactions.Payments.SecureTrading" />

  </components>
</configuration>