<configuration>
  <components>
    <!-- Secure Trading -->
    <component id="SecureTradingHttpPaymentExtractor"
               service="UCommerce.Transactions.Payments.IHttpPaymentExtractor, UCommerce"
               type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingHttpPaymentExtractor, UCommerce.Transactions.Payments.SecureTrading" />

    <component id="Secure Trading"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingPaymentMethodService, UCommerce.Transactions.Payments.SecureTrading">
      <parameters>
        <httpExtractor>${SecureTradingHttpPaymentExtractor}</httpExtractor>
        <numberOfRetriesForTransactionQuery>4</numberOfRetriesForTransactionQuery>
        <secondsToWaitOnRetryForQuery>4</secondsToWaitOnRetryForQuery>
      </parameters>
    </component>

    <component id="SecureTradingPageBuilder"
               service="UCommerce.Transactions.Payments.SecureTrading.SecureTradingPageBuilder, UCommerce.Transactions.Payments.SecureTrading"
               type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingPageBuilder, UCommerce.Transactions.Payments.SecureTrading" />

    <component id="SecureTradingMd5Computer"
               service="UCommerce.Transactions.Payments.SecureTrading.SecureTradingMd5Computer, UCommerce.Transactions.Payments.SecureTrading"
               type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingMd5Computer, UCommerce.Transactions.Payments.SecureTrading" />

    <component id="SecureTradingXmlRequester"
               service="UCommerce.Transactions.Payments.SecureTrading.SecureTradingXmlRequester, UCommerce.Transactions.Payments.SecureTrading"
               type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingXmlRequester, UCommerce.Transactions.Payments.SecureTrading" />

  </components>
</configuration>