<configuration>
  <components>
    <!-- Global Collect -->
    <component id="Global Collect"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.GlobalCollect.GlobalCollectPaymentMethodService, Ucommerce.Transactions.Payments.GlobalCollect">
      <parameters>
        <paymentExtractor>${GlobalCollectHttpExtractor}</paymentExtractor>
      </parameters>
    </component>

    <component id="GlobalCollectHttpExtractor"
               service="Ucommerce.Transactions.Payments.IHttpPaymentExtractor, Ucommerce"
               type="Ucommerce.Transactions.Payments.GlobalCollect.GlobalCollectHttpPaymentExtractor, Ucommerce.Transactions.Payments.GlobalCollect" />

    <component id="GlobalCollectService"
               service="Ucommerce.Transactions.Payments.GlobalCollect.IGlobalCollectService, Ucommerce.Transactions.Payments.GlobalCollect"
               type="Ucommerce.Transactions.Payments.GlobalCollect.GlobalCollectService, Ucommerce.Transactions.Payments.GlobalCollect">
      <parameters>
        <languageCodeMapper>${GlobalCollectLanguageCodeMapper}</languageCodeMapper>
      </parameters>
    </component>

    <component id="GlobalCollectLanguageCodeMapper"
               service="Ucommerce.Infrastructure.Globalization.ILanguageCodeMapper, Ucommerce.Infrastructure"
               type="Ucommerce.Infrastructure.Globalization.LanguageCodeMapper, Ucommerce.Infrastructure">
      <parameters>
        <map>
          <dictionary>
            <entry key="nb">no</entry>
          </dictionary>
        </map>
      </parameters>
    </component>

  </components>
</configuration>