<configuration>
  <components>
    <!-- Global Collect -->
    <component id="Global Collect"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.GlobalCollect.GlobalCollectPaymentMethodService, UCommerce.Transactions.Payments.GlobalCollect">
      <parameters>
        <paymentExtractor>${GlobalCollectHttpExtractor}</paymentExtractor>
      </parameters>
    </component>

    <component id="GlobalCollectHttpExtractor"
               service="UCommerce.Transactions.Payments.IHttpPaymentExtractor, UCommerce"
               type="UCommerce.Transactions.Payments.GlobalCollect.GlobalCollectHttpPaymentExtractor, UCommerce.Transactions.Payments.GlobalCollect" />

    <component id="GlobalCollectService"
               service="UCommerce.Transactions.Payments.GlobalCollect.IGlobalCollectService, UCommerce.Transactions.Payments.GlobalCollect"
               type="UCommerce.Transactions.Payments.GlobalCollect.GlobalCollectService, UCommerce.Transactions.Payments.GlobalCollect">
      <parameters>
        <languageCodeMapper>${GlobalCollectLanguageCodeMapper}</languageCodeMapper>
      </parameters>
    </component>

    <component id="GlobalCollectLanguageCodeMapper"
               service="UCommerce.Infrastructure.Globalization.ILanguageCodeMapper, UCommerce.Infrastructure"
               type="UCommerce.Infrastructure.Globalization.LanguageCodeMapper, UCommerce.Infrastructure">
      <parameters>
        <map>
          <dictionary>
            <entry key="nb">no</entry>
          </dictionary>
        </map>
      </parameters>
    </component>

  </components>
</configuration>