<configuration>
	<components>

		<component
					id="PageBuilder"
					service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
					type="UCommerce.Presentation.PageBuilder.Pipeline.PageBuilderPipeline, UCommerce.Presentation">
			<parameters>
				<tasks>
					<array>
						<value>${PageBuilder.SettingsAppsInstallerTab}</value>
						<value>${PageBuilder.SettingsAppsInstalledAppsTab}</value>
						<value>${PageBuilder.AddButtonToExportProductsForCategory}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<component
				id="PageBuilder.SettingsAppsInstallerTab"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
				type="UCommerce.Presentation.PageBuilder.Tabs.SettingsAppsInstallerTabTask, UCommerce.Presentation" />

		<component
				id="PageBuilder.SettingsAppsInstalledAppsTab"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
				type="UCommerce.Presentation.PageBuilder.Tabs.SettingsAppsInstalledAppsTabTask, UCommerce.Presentation" />

		<component
				id="PageBuilder.AddButtonToExportProductsForCategory"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
				type="UCommerce.Presentation.PageBuilder.Buttons.AddButtonToExportProductsForCategoryTask, UCommerce.Presentation" />
	
	</components>
</configuration>