<configuration>
	<components>

		<component
					id="PageBuilder"
					service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Presentation.UI.SectionGroup, Ucommerce.Presentation]], Ucommerce"
					type="Ucommerce.Presentation.PageBuilder.Pipeline.PageBuilderPipeline, Ucommerce.Presentation">
			<parameters>
				<tasks>
					<array>
						<value>${PageBuilder.SettingsAppsInstallerTab}</value>
						<value>${PageBuilder.SettingsAppsInstalledAppsTab}</value>
						<value>${PageBuilder.AddButtonToExportProductsForCategory}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<component
				id="PageBuilder.SettingsAppsInstallerTab"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Presentation.UI.SectionGroup, Ucommerce.Presentation]], Ucommerce"
				type="Ucommerce.Presentation.PageBuilder.Tabs.SettingsAppsInstallerTabTask, Ucommerce.Presentation" />

		<component
				id="PageBuilder.SettingsAppsInstalledAppsTab"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Presentation.UI.SectionGroup, Ucommerce.Presentation]], Ucommerce"
				type="Ucommerce.Presentation.PageBuilder.Tabs.SettingsAppsInstalledAppsTabTask, Ucommerce.Presentation" />

		<component
				id="PageBuilder.AddButtonToExportProductsForCategory"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Presentation.UI.SectionGroup, Ucommerce.Presentation]], Ucommerce"
				type="Ucommerce.Presentation.PageBuilder.Buttons.AddButtonToExportProductsForCategoryTask, Ucommerce.Presentation" />
	
	</components>
</configuration>