<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="Checkout"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.CheckoutPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Checkout.ValidatePaymentsMadeAgainstOrderTotal}</value>
						<value>${Checkout.AssignOrderNumber}</value>
						<value>${Checkout.CreateCustomer}</value>
						<value>${Checkout.CreateMemberForCustomer}</value>
						<value>${Checkout.ConvertBasketToPurchaseOrder}</value>
						<value>${Checkout.AddAuditTrailForCurrentOrderStatus}</value>
						<value>${Checkout.SetVoucherUses}</value>
						<value>${Checkout.ClearBasketInformation}</value>
						<value>${Checkout.SavePurchaseOrder}</value>
						<value>${Checkout.Feed.OrderPlaced}</value>
						<value>${Checkout.Feed.ReturningCustomer}</value>
						<value>${Checkout.Feed.NewCustomer}</value>
						<value>${Checkout.Feed.CampaignTriggered}</value>
						<value>${Checkout.SendConfirmationEmail}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Checkout.ValidatePaymentsMadeAgainstOrderTotal"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.ValidatePaymentsMadeAgainstOrderTotalTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.CreateCustomer"
	      service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
	      type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.CreateCustomerTask, Ucommerce.Pipelines">
	      <parameters>
	        <createCustomerPipeline>${CreateCustomer}</createCustomerPipeline>
	      </parameters>
	    </component>
		
		<component id="Checkout.CreateMemberForCustomer"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.CreateMemberForCustomerTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.AssignOrderNumber"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.AssignOrderNumberTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.ConvertBasketToPurchaseOrder"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.ConvertBasketToPurchaseOrderTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.SavePurchaseOrder"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Common.SavePurchaseOrderTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.AddAuditTrailForCurrentOrderStatus"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Common.AddAuditTrailForCurrentOrderStatusTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.ClearBasketInformation"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.ClearBasketInformationTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.SetVoucherUses"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.SetVoucherUsesTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.Feed.OrderPlaced"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.FeedOrderPlacedTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.Feed.ReturningCustomer"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.FeedReturningCustomerTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.Feed.NewCustomer"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.FeedNewCustomerTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.Feed.CampaignTriggered"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.FeedCampaignTriggeredTask, Ucommerce.Pipelines" />
		
		<component id="Checkout.SendConfirmationEmail"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Common.SendEmailTask, Ucommerce.Pipelines">
			<parameters>
				<emailTypeName>OrderConfirmation</emailTypeName>
			</parameters>
		</component>
	</components>
</configuration>