<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="UpdateLineItem"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.UpdateLineItemPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${UpdateLineItem.AssertHasBasket}</value>
						<value>${UpdateLineItem.ValidateOrderLineExist}</value>
						<value>${UpdateLineItem.UpdateQuantity}</value>
						<value>${UpdateLineItem.RemoveOrderLine}</value>
					  <value>${UpdateLineItem.UpdateUnitPriceBasedOnQuantity}</value>
					  <value>${UpdateLineItem.RoundingOffUnitPrice}</value>
					  <value>${UpdateLineItem.CalculateUnitTax}</value>
						<value>${UpdateLineItem.SaveOrderLine}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="UpdateLineItem.AssertHasBasket"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.AssertHasBasketTask, UCommerce.Pipelines" />
		
		<component id="UpdateLineItem.ValidateOrderLineExist"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.ValidateOrderLineExistTask, UCommerce.Pipelines" />
		
		<component id="UpdateLineItem.UpdateQuantity"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.UpdateQuantityTask, UCommerce.Pipelines" />
		
		<component id="UpdateLineItem.RemoveOrderLine"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.RemoveOrderLineTask, UCommerce.Pipelines" />
		
		<component id="UpdateLineItem.UpdateUnitPriceBasedOnQuantity"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.UpdateUnitPriceBasedOnQuantityTask, UCommerce.Pipelines" />
		
		<component id="UpdateLineItem.RoundingOffUnitPrice"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.RoundingOffUnitPriceTask, UCommerce.Pipelines" />
		
		<component id="UpdateLineItem.CalculateUnitTax"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.CalculateUnitTaxTask, UCommerce.Pipelines" />
		
		<component id="UpdateLineItem.SaveOrderLine"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, UCommerce],[UCommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.UpdateLineItem.SaveOrderLineTask, UCommerce.Pipelines" />

	</components>
</configuration>