<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="CreateBasket"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateBasket.CreateBasketRequest, UCommerce],[UCommerce.Pipelines.CreateBasket.CreateBasketResponse, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.CreateBasket.CreateBasketPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${CreateBasket.CreateBasket}</value>
						<value>${CreateBasket.PersistBasketToCookie}</value>
						<value>${CreateBasket.SaveBasket}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="CreateBasket.CreateBasket"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateBasket.CreateBasketRequest, UCommerce],[UCommerce.Pipelines.CreateBasket.CreateBasketResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.CreateBasket.CreateBasketTask, UCommerce.Pipelines" />

		<component id="CreateBasket.PersistBasketToCookie"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateBasket.CreateBasketRequest, UCommerce],[UCommerce.Pipelines.CreateBasket.CreateBasketResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.CreateBasket.PersistBasketToCookieTask, UCommerce.Pipelines" />

		<component id="CreateBasket.SaveBasket"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateBasket.CreateBasketRequest, UCommerce],[UCommerce.Pipelines.CreateBasket.CreateBasketResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.CreateBasket.SaveBasketTask, UCommerce.Pipelines" />
	</components>
</configuration>