<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="GetBasket"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.GetBasket.GetBasketRequest, UCommerce],[UCommerce.Pipelines.GetBasket.GetBasketResponse, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.GetBasket.GetBasketPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${GetBasket.LoadBasket}</value>
						<value>${GetBasket.ExecuteCreateBasket}</value>
						<value>${GetBasket.ExtendBasketLifeTime}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="GetBasket.LoadBasket"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.GetBasket.GetBasketRequest, UCommerce],[UCommerce.Pipelines.GetBasket.GetBasketResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.GetBasket.LoadBasketTask, UCommerce.Pipelines" />

		<component id="GetBasket.ExecuteCreateBasket"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.GetBasket.GetBasketRequest, UCommerce],[UCommerce.Pipelines.GetBasket.GetBasketResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.GetBasket.ExecuteCreateBasketTask, UCommerce.Pipelines" />

		<component id="GetBasket.ExtendBasketLifeTime"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.GetBasket.GetBasketRequest, UCommerce],[UCommerce.Pipelines.GetBasket.GetBasketResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.GetBasket.ExtendBasketLifeTime, UCommerce.Pipelines" />
	</components>
</configuration>