<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="AddAddress"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.AddAddress.AddAddressRequest, UCommerce],[UCommerce.Pipelines.AddAddress.AddAddressResult, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.AddAddress.AddAddressPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${AddAddress.ValidateAddAddressArgumentsTask}</value>
					  <value>${AddAddress.Feed.CustomerIsCheckingOut}</value>
					  <value>${AddAddress.CreateOrUpdateOrderAddressTask}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="AddAddress.ValidateAddAddressArgumentsTask"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.AddAddress.AddAddressRequest, UCommerce],[UCommerce.Pipelines.AddAddress.AddAddressResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.AddAddress.ValidateAddAddressArgumentsTask, UCommerce.Pipelines" />

		<component id="AddAddress.CreateOrUpdateOrderAddressTask"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.AddAddress.AddAddressRequest, UCommerce],[UCommerce.Pipelines.AddAddress.AddAddressResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.AddAddress.CreateOrUpdateOrderAddressTask, UCommerce.Pipelines" />

		<component id="AddAddress.Feed.CustomerIsCheckingOut"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.AddAddress.AddAddressRequest, UCommerce],[UCommerce.Pipelines.AddAddress.AddAddressResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.AddAddress.FeedCustomerIsCheckingOutTask, UCommerce.Pipelines" />
	</components>
</configuration>