<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="RemoveShipment"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.RemoveShipment.RemoveShipmentRequest, Ucommerce],[Ucommerce.Pipelines.RemoveShipment.RemoveShipmentResult, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.RemoveShipment.RemoveShipmentPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${RemoveShipment.ValidateRemoveShipmentArguments}</value>
						<value>${RemoveShipment.RemoveShipment}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="RemoveShipment.ValidateRemoveShipmentArguments"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.RemoveShipment.RemoveShipmentRequest, Ucommerce],[Ucommerce.Pipelines.RemoveShipment.RemoveShipmentResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.RemoveShipment.ValidateRemoveShipmentArgumentsTask, Ucommerce.Pipelines" />

		<component id="RemoveShipment.RemoveShipment"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.RemoveShipment.RemoveShipmentRequest, Ucommerce],[Ucommerce.Pipelines.RemoveShipment.RemoveShipmentResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.RemoveShipment.RemoveShipmentTask, Ucommerce.Pipelines" />
		
	</components>
</configuration>