<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="UpdateLineItem"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.UpdateLineItemPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${UpdateLineItem.AssertHasBasket}</value>
						<value>${UpdateLineItem.ValidateOrderLineExist}</value>
						<value>${UpdateLineItem.UpdateQuantity}</value>
						<value>${UpdateLineItem.RemoveOrderLine}</value>
					  <value>${UpdateLineItem.UpdateUnitPriceBasedOnQuantity}</value>
					  <value>${UpdateLineItem.RoundingOffUnitPrice}</value>
					  <value>${UpdateLineItem.UpdateCustomPriceAndVatRateTask}</value>
					  <value>${UpdateLineItem.CalculateUnitTax}</value>
						<value>${UpdateLineItem.SaveOrderLine}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="UpdateLineItem.AssertHasBasket"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.AssertHasBasketTask, Ucommerce.Pipelines" />
		
		<component id="UpdateLineItem.ValidateOrderLineExist"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.ValidateOrderLineExistTask, Ucommerce.Pipelines" />
		
		<component id="UpdateLineItem.UpdateQuantity"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.UpdateQuantityTask, Ucommerce.Pipelines" />
		
		<component id="UpdateLineItem.RemoveOrderLine"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.RemoveOrderLineTask, Ucommerce.Pipelines" />
		
		<component id="UpdateLineItem.UpdateUnitPriceBasedOnQuantity"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.UpdateUnitPriceBasedOnQuantityTask, Ucommerce.Pipelines" />
		
		<component id="UpdateLineItem.RoundingOffUnitPrice"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.RoundingOffUnitPriceTask, Ucommerce.Pipelines" />
		
		<component id="UpdateLineItem.UpdateCustomPriceAndVatRateTask"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.UpdateCustomPriceAndVatRateTask, Ucommerce.Pipelines" />

		<component id="UpdateLineItem.CalculateUnitTax"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.CalculateUnitTaxTask, Ucommerce.Pipelines" />
		
		<component id="UpdateLineItem.SaveOrderLine"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemRequest, Ucommerce],[Ucommerce.Pipelines.UpdateLineItem.UpdateLineItemResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.UpdateLineItem.SaveOrderLineTask, Ucommerce.Pipelines" />

	</components>
</configuration>