<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="AddAddress"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.AddAddress.AddAddressRequest, Ucommerce],[Ucommerce.Pipelines.AddAddress.AddAddressResult, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.AddAddress.AddAddressPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${AddAddress.ValidateAddAddressArgumentsTask}</value>
					  <value>${AddAddress.Feed.CustomerIsCheckingOut}</value>
					  <value>${AddAddress.CreateOrUpdateOrderAddressTask}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="AddAddress.ValidateAddAddressArgumentsTask"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.AddAddress.AddAddressRequest, Ucommerce],[Ucommerce.Pipelines.AddAddress.AddAddressResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.AddAddress.ValidateAddAddressArgumentsTask, Ucommerce.Pipelines" />

		<component id="AddAddress.CreateOrUpdateOrderAddressTask"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.AddAddress.AddAddressRequest, Ucommerce],[Ucommerce.Pipelines.AddAddress.AddAddressResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.AddAddress.CreateOrUpdateOrderAddressTask, Ucommerce.Pipelines" />

		<component id="AddAddress.Feed.CustomerIsCheckingOut"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.AddAddress.AddAddressRequest, Ucommerce],[Ucommerce.Pipelines.AddAddress.AddAddressResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.AddAddress.FeedCustomerIsCheckingOutTask, Ucommerce.Pipelines" />
	</components>
</configuration>