<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="GetBasket"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetBasket.GetBasketRequest, Ucommerce],[Ucommerce.Pipelines.GetBasket.GetBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.GetBasket.GetBasketPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${GetBasket.LoadBasket}</value>
						<value>${GetBasket.ExecuteCreateBasket}</value>
						<value>${GetBasket.ExtendBasketLifeTime}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="GetBasket.LoadBasket"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetBasket.GetBasketRequest, Ucommerce],[Ucommerce.Pipelines.GetBasket.GetBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.GetBasket.LoadBasketTask, Ucommerce.Pipelines" />

		<component id="GetBasket.ExecuteCreateBasket"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetBasket.GetBasketRequest, Ucommerce],[Ucommerce.Pipelines.GetBasket.GetBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.GetBasket.ExecuteCreateBasketTask, Ucommerce.Pipelines" />

		<component id="GetBasket.ExtendBasketLifeTime"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetBasket.GetBasketRequest, Ucommerce],[Ucommerce.Pipelines.GetBasket.GetBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.GetBasket.ExtendBasketLifeTime, Ucommerce.Pipelines" />
	</components>
</configuration>