<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="Basket"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.BasketPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${Basket.SetCultureCode}</value>
						
						<!-- Removes generated orderlines (free gifts) -->
						<value>${Basket.RemoveGeneratedOrderlines}</value>
						
						<!-- Remove all discounts and resets the totals -->
						<value>${Basket.RemoveAllDiscountsFromOrder}</value>
						<value>${Basket.CalculateOrderLinesUnitDiscounts}</value>
						<value>${Basket.CalculateOrderDiscount}</value>
						<value>${Basket.CalculateOrderLinesDiscounts}</value>
						<value>${Basket.CalculateShippingDiscounts}</value>
						
						<!-- Reset remaing discount-->
						<value>${Basket.CalculateOrderSubTotal}</value>
						
						<!-- Calculate shipping fees and tax -->
						<value>${Basket.CalculateShippingCostForShipments}</value>
						<value>${Basket.CalculateShippingTaxForShipments}</value>
						<value>${Basket.CalculateShippingTotalForShipments}</value>
						
						<!-- Calculate tax for order lines based on original unit prices -->
						<value>${Basket.CalculateOrderLineTax}</value>

						<!-- Reset the order lines tax rate-->
						<value>${Basket.CalculateOrderLineTaxRate}</value>

						<!-- Calculate totals for order lines and order based on original prices -->
						<value>${Basket.CalculateOrderLinesTotals}</value>
						<value>${Basket.CalculateShippingTotal}</value>
						<value>${Basket.CalculatePaymentTotal}</value>

						<!-- Reset the order totals-->
						<value>${Basket.CalculateVATTotal}</value>
						<value>${Basket.CalculateOrderDiscountTotal}</value>
						<value>${Basket.CalculateOrderTaxTotal}</value>
						<value>${Basket.CalculateOrderTotal}</value>

						<!-- Apply discounts -->
						<value>${Basket.ApplyAwards}</value>

						<!-- Calculate order level discount total based on applied discounts -->
						<value>${Basket.CalculateOrderLinesUnitDiscounts}</value>
						
						<!-- Calculcate order line discounts based on applied discounts -->
						<value>${Basket.CalculateOrderDiscount}</value>
						<value>${Basket.CalculateOrderLinesDiscounts}</value>

						<!--Ensures that the order line Discout exceed the order line total-->
						<value>${Order.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotal}</value>
						
						<!-- Calculate total value of items excluding taxes -->
						<value>${Basket.CalculateOrderSubTotal}</value>

            <!-- Ensures that the order level discounts doesn't exceed the sub total and prevents negative order totals -->
            <value>${Basket.EnsureOrderDiscountsDoesNotExceedOrderSubTotal}</value>

						<!-- Shipping taxes and totals need to be recalculated if discounts are applied to shipments -->
						<value>${Basket.CalculateShippingDiscounts}</value>
						<value>${Basket.CalculateShippingTaxForShipments}</value>
						<value>${Basket.CalculateShippingTotalForShipments}</value>

						<!-- Recalculate tax for order lines based on reduced unit prices -->
						<value>${Basket.CalculateOrderLineTax}</value>
            
            <!-- Calculate payment fee, tax and amount  -->
            <value>${Basket.CalculatePaymentFee}</value>
            <value>${Basket.CalculatePaymentTax}</value>
            <value>${Basket.CalculatePaymentAmount}</value>

						<!-- Calculate totals for order lines and order -->
						<value>${Basket.CalculateOrderLinesTotals}</value>
						<value>${Basket.CalculateShippingTotal}</value>
						<value>${Basket.CalculatePaymentTotal}</value>

						<value>${Basket.CalculateVATTotal}</value>
						<value>${Basket.CalculateOrderDiscountTotal}</value>

						<value>${Basket.CalculateOrderTaxTotal}</value>
						<value>${Basket.CalculateOrderTotal}</value>
						<value>${Basket.RoundUpOrderTotalForCurrenciesWithoutDecimalDigits}</value>

						<value>${Basket.CleanUp}</value>
						<value>${Basket.Save}</value>
					</array>
				</tasks>
			</parameters>
		</component>
		
		<!-- Pipeline Tasks-->
		<component id="Basket.RemoveGeneratedOrderlines"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.RemoveGeneratedOrderlines, UCommerce.Pipelines" />

		<component id="Basket.RemoveAllDiscountsFromOrder"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.RemoveAllDiscountsFromOrderTask, UCommerce.Pipelines" />
		
		<component id="Basket.CleanUp"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CleanUpTask, UCommerce.Pipelines" />

		<component id="Basket.ConvertOrderLevelDiscountsToOrderLinesDiscount"
					service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
					type="UCommerce.Pipelines.Transactions.Baskets.Basket.ConvertOrderLevelDiscountsToOrderLinesDiscount, UCommerce.Pipelines"/>
		
		<component id="Basket.ApplyAwards"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.ApplyAwardsTask, UCommerce.Pipelines" />
		
		<component id="Basket.SetCultureCode"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.SetCultureCodeTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLinesUnitDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLinesUnitDiscountsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingDiscountTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLinesDiscounts"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLinesDiscountsTask, UCommerce.Pipelines" />

		<component id="Order.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.EnsureOrderLinesDiscountNotExceedTheOrderLinesTotalTask, UCommerce.Pipelines" />

	  <component id="Basket.EnsureOrderDiscountsDoesNotExceedOrderSubTotal"
	             service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
	             type="UCommerce.Pipelines.Transactions.Baskets.Basket.EnsureOrderDiscountsDoesNotExceedOrderSubTotal, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLinesTotals"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTotalsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingTaxForShipments"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTaxForShipmentsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingCostForShipments"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingCostForShipmentsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingTotalForShipments"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTotalForShipmentsTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateShippingTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateShippingTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculatePaymentTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculatePaymentTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderLineTax"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTaxTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateVATTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderVatTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderDiscount"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderDiscountTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderDiscountTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderDiscountTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderSubTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderSubTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderTaxTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderTaxTotalTask, UCommerce.Pipelines" />
		
		<component id="Basket.CalculateOrderTotal"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderTotalTask, UCommerce.Pipelines" />

		<component id="Basket.RoundUpOrderTotalForCurrenciesWithoutDecimalDigits"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.RoundUpOrderTotalForCurrenciesWithNoDecimalDigitsTask, UCommerce.Pipelines" />

		<component id="Basket.CalculateOrderLineTaxRate"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculateOrderLineTaxRateTask, UCommerce.Pipelines" />

		<component id="Basket.Save"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Common.SavePurchaseOrderTask, UCommerce.Pipelines" />
  
	  <component id="Basket.CalculatePaymentFee"
           service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
	         type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculatePaymentFeeTask, UCommerce.Pipelines" />
    
	  <component id="Basket.CalculatePaymentTax"
	         service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
	         type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculatePaymentTaxTask, UCommerce.Pipelines" />
    
	  <component id="Basket.CalculatePaymentAmount"
	         service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
	         type="UCommerce.Pipelines.Transactions.Baskets.Basket.CalculatePaymentAmountTask, UCommerce.Pipelines" />

	</components>
</configuration>