<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="CreateShipment"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateShipment.CreateShipmentRequest, UCommerce],[UCommerce.Pipelines.CreateShipment.CreateShipmentResult, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.CreateShipment.CreateShipmentPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${CreateShipment.ValidateCreateShipmentArguments}</value>
						<value>${CreateShipment.CreateShipment}</value>
						<value>${CreateShipment.AddAllOrderLinestoShipment}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="CreateShipment.ValidateCreateShipmentArguments"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateShipment.CreateShipmentRequest, UCommerce],[UCommerce.Pipelines.CreateShipment.CreateShipmentResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.CreateShipment.ValidateCreateShipmentArgumentsTask, UCommerce.Pipelines" />

		<component id="CreateShipment.CreateShipment"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateShipment.CreateShipmentRequest, UCommerce],[UCommerce.Pipelines.CreateShipment.CreateShipmentResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.CreateShipment.CreateShipmentTask, UCommerce.Pipelines" />

		<component id="CreateShipment.AddAllOrderLinestoShipment"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateShipment.CreateShipmentRequest, UCommerce],[UCommerce.Pipelines.CreateShipment.CreateShipmentResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.CreateShipment.AddAllOrderLinestoShipmentTask, UCommerce.Pipelines" />
	</components>
</configuration>