<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="CreateShipment"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateShipment.CreateShipmentRequest, Ucommerce],[Ucommerce.Pipelines.CreateShipment.CreateShipmentResult, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.CreateShipment.CreateShipmentPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${CreateShipment.ValidateCreateShipmentArguments}</value>
						<value>${CreateShipment.CreateShipment}</value>
						<value>${CreateShipment.AddAllOrderLinestoShipment}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="CreateShipment.ValidateCreateShipmentArguments"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateShipment.CreateShipmentRequest, Ucommerce],[Ucommerce.Pipelines.CreateShipment.CreateShipmentResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.CreateShipment.ValidateCreateShipmentArgumentsTask, Ucommerce.Pipelines" />

		<component id="CreateShipment.CreateShipment"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateShipment.CreateShipmentRequest, Ucommerce],[Ucommerce.Pipelines.CreateShipment.CreateShipmentResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.CreateShipment.CreateShipmentTask, Ucommerce.Pipelines" />

		<component id="CreateShipment.AddAllOrderLinestoShipment"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateShipment.CreateShipmentRequest, Ucommerce],[Ucommerce.Pipelines.CreateShipment.CreateShipmentResult, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.CreateShipment.AddAllOrderLinestoShipmentTask, Ucommerce.Pipelines" />
	</components>
</configuration>