<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="CreateBasket"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateBasket.CreateBasketRequest, Ucommerce],[Ucommerce.Pipelines.CreateBasket.CreateBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.CreateBasket.CreateBasketPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${CreateBasket.CreateBasket}</value>
						<value>${CreateBasket.PersistBasketToCookie}</value>
						<value>${CreateBasket.AddPropertiesToOrder}</value>
						<value>${CreateBasket.SaveBasket}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="CreateBasket.CreateBasket"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateBasket.CreateBasketRequest, Ucommerce],[Ucommerce.Pipelines.CreateBasket.CreateBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.CreateBasket.CreateBasketTask, Ucommerce.Pipelines" />

		<component id="CreateBasket.PersistBasketToCookie"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateBasket.CreateBasketRequest, Ucommerce],[Ucommerce.Pipelines.CreateBasket.CreateBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.CreateBasket.PersistBasketToCookieTask, Ucommerce.Pipelines" />

		<component id="CreateBasket.SaveBasket"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateBasket.CreateBasketRequest, Ucommerce],[Ucommerce.Pipelines.CreateBasket.CreateBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Baskets.CreateBasket.SaveBasketTask, Ucommerce.Pipelines" />
        
        <component id="CreateBasket.AddPropertiesToOrder"
                             service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateBasket.CreateBasketRequest, Ucommerce],[Ucommerce.Pipelines.CreateBasket.CreateBasketResponse, Ucommerce]], Ucommerce]], Ucommerce"
                             type="Ucommerce.Pipelines.Transactions.Baskets.CreateBasket.AddPropertiesToOrderTask, Ucommerce.Pipelines">
              <parameters>
                <propertiesToCopy>
                  <array>
                    <value>_validCodesForDiscounts</value>
                    <value>_remaining_discount</value>
                  </array>
                </propertiesToCopy>
              </parameters>
        </component>
        
	</components>
</configuration>