<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="RemoveShipment"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.RemoveShipment.RemoveShipmentRequest, UCommerce],[UCommerce.Pipelines.RemoveShipment.RemoveShipmentResult, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.RemoveShipment.RemoveShipmentPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${RemoveShipment.ValidateRemoveShipmentArguments}</value>
						<value>${RemoveShipment.RemoveShipment}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="RemoveShipment.ValidateRemoveShipmentArguments"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.RemoveShipment.RemoveShipmentRequest, UCommerce],[UCommerce.Pipelines.RemoveShipment.RemoveShipmentResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.RemoveShipment.ValidateRemoveShipmentArgumentsTask, UCommerce.Pipelines" />

		<component id="RemoveShipment.RemoveShipment"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.RemoveShipment.RemoveShipmentRequest, UCommerce],[UCommerce.Pipelines.RemoveShipment.RemoveShipmentResult, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Baskets.RemoveShipment.RemoveShipmentTask, UCommerce.Pipelines" />
		
	</components>
</configuration>