<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="GetProduct"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetProduct.GetProductRequest, Ucommerce],[Ucommerce.Pipelines.GetProduct.GetProductResponse, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.GetProduct.GetProductPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${GetProductTask}</value>
					</array>
				</tasks>
			</parameters>
		</component>
		
		<!-- Pipeline Tasks-->
		<component id="GetProductTask"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetProduct.GetProductRequest, Ucommerce],[Ucommerce.Pipelines.GetProduct.GetProductResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Catalog.GetProduct.GetProductTask, Ucommerce.Pipelines" />
		
	</components>
</configuration>