<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="ProductReviewComment"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductReviewComment, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductReviewComment.ProductReviewCommentPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductReviewComment.AutoApproveByProductCatalogGroupSetting}</value>
						<value>${ProductReviewComment.SaveProductReviewComment}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductReviewComment.AutoApproveByProductCatalogGroupSetting"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductReviewComment, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductReviewComment.AutoApproveByProductCatalogGroupSettingTask, UCommerce.Pipelines" />
		
		<component id="ProductReviewComment.SaveProductReviewComment"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductReviewComment, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductReviewComment.SaveProductReviewCommentTask, UCommerce.Pipelines" />
	</components>
</configuration>