<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component id="UpdateCurrencyExchangeRates"
               service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[
                [Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, Ucommerce],
                [Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, Ucommerce]], Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.GenericPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[
               [Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, Ucommerce],
                  [Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, Ucommerce]], Ucommerce]], Ucommerce.Pipelines">
      <parameters>
        <tasks>
          <array>
            <value>${UpdateCurrencyExchangeRates.LoadExistingCurrencyExchangeRatesTask}</value>
            <value>${UpdateCurrencyExchangeRates.CreateCurrencyExchangeRateForCurrenciesTask}</value>
            <value>${UpdateCurrencyExchangeRates.GetRateForAllCurrencyExchangeRatesTask}</value>
            <value>${UpdateCurrencyExchangeRates.SaveCurrencyExchangeRatesTask}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks -->
    <component id="UpdateCurrencyExchangeRates.LoadExistingCurrencyExchangeRatesTask"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, Ucommerce],[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, Ucommerce]], Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.LoadExistingCurrencyExchangeRatesTask, Ucommerce.Pipelines" />

    <component id="UpdateCurrencyExchangeRates.CreateCurrencyExchangeRateForCurrenciesTask"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, Ucommerce],[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, Ucommerce]], Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.CreateCurrencyExchangeRateForCurrenciesTask, Ucommerce.Pipelines" />

    <component id="UpdateCurrencyExchangeRates.GetRateForAllCurrencyExchangeRatesTask"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, Ucommerce],[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, Ucommerce]], Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.GetRateForAllCurrencyExchangeRatesTask, Ucommerce.Pipelines" />

    <component id="UpdateCurrencyExchangeRates.SaveCurrencyExchangeRatesTask"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, Ucommerce],[Ucommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, Ucommerce]], Ucommerce]], Ucommerce"
               type="Ucommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.SaveCurrencyExchangeRatesTask, Ucommerce.Pipelines" />
  </components>
</configuration>