<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="GetProduct"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.GetProduct.GetProductRequest, UCommerce],[UCommerce.Pipelines.GetProduct.GetProductResponse, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.GetProduct.GetProductPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${GetProductTask}</value>
					</array>
				</tasks>
			</parameters>
		</component>
		
		<!-- Pipeline Tasks-->
		<component id="GetProductTask"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.GetProduct.GetProductRequest, UCommerce],[UCommerce.Pipelines.GetProduct.GetProductResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Catalog.GetProduct.GetProductTask, UCommerce.Pipelines" />
		
	</components>
</configuration>