<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="ProductReview"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.ProductReview, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductReview.ProductReviewPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductReview.AutoApproveByProductCatalogGroupSetting}</value>
						<value>${ProductReview.CalculateAverageProductRating}</value>
						<value>${ProductReview.SaveProductReview}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductReview.CalculateAverageProductRating"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductReview, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductReview.CalculateAverageProductRatingTask, UCommerce.Pipelines" />
		
		<component id="ProductReview.AutoApproveByProductCatalogGroupSetting"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductReview, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductReview.AutoApproveByProductCatalogGroupSettingTask, UCommerce.Pipelines" />
		
		<component id="ProductReview.SaveProductReview"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductReview, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Catalog.ProductReview.SaveProductReviewTask, UCommerce.Pipelines" />
	</components>
</configuration>
