<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="ProductReview"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductReview, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductReview.ProductReviewPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductReview.AutoApproveByProductCatalogGroupSetting}</value>
						<value>${ProductReview.CalculateAverageProductRating}</value>
						<value>${ProductReview.SaveProductReview}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductReview.CalculateAverageProductRating"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductReview, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductReview.CalculateAverageProductRatingTask, Ucommerce.Pipelines" />
		
		<component id="ProductReview.AutoApproveByProductCatalogGroupSetting"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductReview, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductReview.AutoApproveByProductCatalogGroupSettingTask, Ucommerce.Pipelines" />
		
		<component id="ProductReview.SaveProductReview"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductReview, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductReview.SaveProductReviewTask, Ucommerce.Pipelines" />
	</components>
</configuration>
