<configuration>
  <components>
    <!-- Pipeline Instance -->
    <component id="UpdateCurrencyExchangeRates"
               service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[
                [UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, UCommerce],
                [UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, UCommerce]], UCommerce]], UCommerce"
               type="UCommerce.Pipelines.GenericPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[
               [UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, UCommerce],
                  [UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, UCommerce]], UCommerce]], UCommerce.Pipelines">
      <parameters>
        <tasks>
          <array>
            <value>${UpdateCurrencyExchangeRates.LoadExistingCurrencyExchangeRatesTask}</value>
            <value>${UpdateCurrencyExchangeRates.CreateCurrencyExchangeRateForCurrenciesTask}</value>
            <value>${UpdateCurrencyExchangeRates.GetRateForAllCurrencyExchangeRatesTask}</value>
            <value>${UpdateCurrencyExchangeRates.SaveCurrencyExchangeRatesTask}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <!-- Pipeline Tasks -->
    <component id="UpdateCurrencyExchangeRates.LoadExistingCurrencyExchangeRatesTask"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, UCommerce],[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, UCommerce]], UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.LoadExistingCurrencyExchangeRatesTask, UCommerce.Pipelines" />

    <component id="UpdateCurrencyExchangeRates.CreateCurrencyExchangeRateForCurrenciesTask"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, UCommerce],[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, UCommerce]], UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.CreateCurrencyExchangeRateForCurrenciesTask, UCommerce.Pipelines" />

    <component id="UpdateCurrencyExchangeRates.GetRateForAllCurrencyExchangeRatesTask"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, UCommerce],[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, UCommerce]], UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.GetRateForAllCurrencyExchangeRatesTask, UCommerce.Pipelines" />

    <component id="UpdateCurrencyExchangeRates.SaveCurrencyExchangeRatesTask"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesRequest, UCommerce],[UCommerce.Pipelines.UpdateCurrencyExchangeRates.UpdateCurrencyExchangeRatesResult, UCommerce]], UCommerce]], UCommerce"
               type="UCommerce.Pipelines.Catalog.UpdateCurrencyExchangeRates.SaveCurrencyExchangeRatesTask, UCommerce.Pipelines" />
  </components>
</configuration>