<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="ProductReviewComment"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.ProductReviewComment, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductReviewComment.ProductReviewCommentPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${ProductReviewComment.AutoApproveByProductCatalogGroupSetting}</value>
						<value>${ProductReviewComment.SaveProductReviewComment}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="ProductReviewComment.AutoApproveByProductCatalogGroupSetting"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductReviewComment, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductReviewComment.AutoApproveByProductCatalogGroupSettingTask, Ucommerce.Pipelines" />
		
		<component id="ProductReviewComment.SaveProductReviewComment"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.ProductReviewComment, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Catalog.ProductReviewComment.SaveProductReviewCommentTask, Ucommerce.Pipelines" />
	</components>
</configuration>