<configuration>
  <components>
    <component id="CreateCustomer"
      service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateCustomer.CreateCustomerRequest, UCommerce],[UCommerce.Pipelines.CreateCustomer.CreateCustomerResponse, UCommerce]], UCommerce]], UCommerce"
      type="UCommerce.Pipelines.Transactions.Customers.CreateCustomer.CreateCustomerPipeline, UCommerce.Pipelines">
      <parameters>
        <tasks>
          <array>
            <value>${CreateCustomer.CreateCustomer}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <component id="CreateCustomer.CreateCustomer"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateCustomer.CreateCustomerRequest, UCommerce],[UCommerce.Pipelines.CreateCustomer.CreateCustomerResponse, UCommerce]], UCommerce]], UCommerce"
      type="UCommerce.Pipelines.Transactions.Customers.CreateCustomer.CreateCustomerTask, UCommerce.Pipelines">
    </component>
    
  </components>
</configuration>