<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="CreateMember"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateMember.CreateMemberRequest, UCommerce],[UCommerce.Pipelines.CreateMember.CreateMemberResponse, UCommerce]], UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Customers.CreateMember.CreateMemberPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${CreateMember.GeneratePasswordIfEmpty}</value>
						<value>${CreateMember.CreateMember}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="CreateMember.GeneratePasswordIfEmpty"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateMember.CreateMemberRequest, UCommerce],[UCommerce.Pipelines.CreateMember.CreateMemberResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Customers.CreateMember.GeneratePasswordIfEmptyTask, UCommerce.Pipelines" />
		
		<component id="CreateMember.CreateMember"
							 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.IPipelineArgs`2[[UCommerce.Pipelines.CreateMember.CreateMemberRequest, UCommerce],[UCommerce.Pipelines.CreateMember.CreateMemberResponse, UCommerce]], UCommerce]], UCommerce"
							 type="UCommerce.Pipelines.Transactions.Customers.CreateMember.CreateMemberTask, UCommerce.Pipelines" />

	</components>
</configuration>