<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="CreateMember"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateMember.CreateMemberRequest, Ucommerce],[Ucommerce.Pipelines.CreateMember.CreateMemberResponse, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Customers.CreateMember.CreateMemberPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${CreateMember.GeneratePasswordIfEmpty}</value>
						<value>${CreateMember.CreateMember}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="CreateMember.GeneratePasswordIfEmpty"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateMember.CreateMemberRequest, Ucommerce],[Ucommerce.Pipelines.CreateMember.CreateMemberResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Customers.CreateMember.GeneratePasswordIfEmptyTask, Ucommerce.Pipelines" />
		
		<component id="CreateMember.CreateMember"
							 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateMember.CreateMemberRequest, Ucommerce],[Ucommerce.Pipelines.CreateMember.CreateMemberResponse, Ucommerce]], Ucommerce]], Ucommerce"
							 type="Ucommerce.Pipelines.Transactions.Customers.CreateMember.CreateMemberTask, Ucommerce.Pipelines" />

	</components>
</configuration>