<configuration>
  <components>
    <component id="CreateCustomer"
      service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateCustomer.CreateCustomerRequest, Ucommerce],[Ucommerce.Pipelines.CreateCustomer.CreateCustomerResponse, Ucommerce]], Ucommerce]], Ucommerce"
      type="Ucommerce.Pipelines.Transactions.Customers.CreateCustomer.CreateCustomerPipeline, Ucommerce.Pipelines">
      <parameters>
        <tasks>
          <array>
            <value>${CreateCustomer.CreateCustomer}</value>
          </array>
        </tasks>
      </parameters>
    </component>

    <component id="CreateCustomer.CreateCustomer"
      service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.CreateCustomer.CreateCustomerRequest, Ucommerce],[Ucommerce.Pipelines.CreateCustomer.CreateCustomerResponse, Ucommerce]], Ucommerce]], Ucommerce"
      type="Ucommerce.Pipelines.Transactions.Customers.CreateCustomer.CreateCustomerTask, Ucommerce.Pipelines">
    </component>
    
  </components>
</configuration>