<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="ToCancelled"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Orders.OrderProcessingPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
					</array>
				</tasks>
			</parameters>
		</component>

	</components>
</configuration>
