<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="GetOrder"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetOrder.GetOrderRequest, Ucommerce],[Ucommerce.Pipelines.GetOrder.GetOrderResponse, Ucommerce]], Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Orders.GetOrder.GetOrderPipeline, Ucommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
						<value>${GetOrder.LoadOrder}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="GetOrder.LoadOrder"
		           service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.IPipelineArgs`2[[Ucommerce.Pipelines.GetOrder.GetOrderRequest, Ucommerce],[Ucommerce.Pipelines.GetOrder.GetOrderResponse, Ucommerce]], Ucommerce]], Ucommerce"
		           type="Ucommerce.Pipelines.Transactions.Orders.GetOrder.LoadOrderTask, Ucommerce.Pipelines" />
	</components>
</configuration>