<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="ToCompletedOrder"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Orders.OrderProcessingPipeline, UCommerce.Pipelines">
			<parameters>
				<tasks>
					<array>
					</array>
				</tasks>
			</parameters>
		</component>
		
	</components>
</configuration>
