<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="Processing"
				   service="Ucommerce.Pipelines.IPipeline`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Orders.OrderProcessingPipeline, Ucommerce.Pipelines"
				   lifestyle="Thread">
			<parameters>
				<tasks>
					<array>
						<value>${Processing.ClearBasketInformationTask}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Processing.ClearBasketInformationTask"
				   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
				   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.ClearBasketInformationTask, Ucommerce.Pipelines"
				   lifestyle="Thread" />
	</components>
</configuration>