<configuration>
	<components>
		<!-- Pipeline Instance -->
		<component id="Processing"
				   service="UCommerce.Pipelines.IPipeline`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Orders.OrderProcessingPipeline, UCommerce.Pipelines"
				   lifestyle="Thread">
			<parameters>
				<tasks>
					<array>
						<value>${Processing.ClearBasketInformationTask}</value>
					</array>
				</tasks>
			</parameters>
		</component>

		<!-- Pipeline Tasks-->
		<component id="Processing.ClearBasketInformationTask"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
				   type="UCommerce.Pipelines.Transactions.Baskets.Checkout.ClearBasketInformationTask, UCommerce.Pipelines"
				   lifestyle="Thread" />
	</components>
</configuration>