<configuration>
  <components>
    <!-- MultiSafepay -->
    <component id="MultiSafepay"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentMethodService, Ucommerce.Transactions.Payments.MultiSafepay" />

    <component id="MultiSafepayPaymentRequestBuilder"
               service="Ucommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentRequestBuilder, Ucommerce.Transactions.Payments.MultiSafepay"
               type="Ucommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentRequestBuilder, Ucommerce.Transactions.Payments.MultiSafepay" />

    <component id="MultiSafepayStatusRequestBuilder"
               service="Ucommerce.Transactions.Payments.MultiSafepay.MultiSafepayStatusRequestBuilder, Ucommerce.Transactions.Payments.MultiSafepay"
               type="Ucommerce.Transactions.Payments.MultiSafepay.MultiSafepayStatusRequestBuilder, Ucommerce.Transactions.Payments.MultiSafepay" />

    <component id="MultiSafepayHttpRequester"
               service="Ucommerce.Transactions.Payments.MultiSafepay.MultiSafepayHttpRequester, Ucommerce.Transactions.Payments.MultiSafepay"
               type="Ucommerce.Transactions.Payments.MultiSafepay.MultiSafepayHttpRequester, Ucommerce.Transactions.Payments.MultiSafepay" />

  </components>
</configuration>