<configuration>
  <components>
    <!-- MultiSafepay -->
    <component id="MultiSafepay"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentMethodService, UCommerce.Transactions.Payments.MultiSafepay" />

    <component id="MultiSafepayPaymentRequestBuilder"
               service="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentRequestBuilder, UCommerce.Transactions.Payments.MultiSafepay"
               type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentRequestBuilder, UCommerce.Transactions.Payments.MultiSafepay" />

    <component id="MultiSafepayStatusRequestBuilder"
               service="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayStatusRequestBuilder, UCommerce.Transactions.Payments.MultiSafepay"
               type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayStatusRequestBuilder, UCommerce.Transactions.Payments.MultiSafepay" />

    <component id="MultiSafepayHttpRequester"
               service="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayHttpRequester, UCommerce.Transactions.Payments.MultiSafepay"
               type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayHttpRequester, UCommerce.Transactions.Payments.MultiSafepay" />

  </components>
</configuration>