<configuration>
  <components>
    <!-- Adyen -->
    <component id="Adyen"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Adyen.AdyenPaymentMethodService, Ucommerce.Transactions.Payments.Adyen">
      <parameters>
        <httpExtractor>${AdyenHttpExtractor}</httpExtractor>
      </parameters>
    </component>

    <component id="AdyenHttpExtractor"
               service="Ucommerce.Transactions.Payments.IHttpPaymentExtractor, Ucommerce"
               type="Ucommerce.Transactions.Payments.Adyen.AdyenHttpPaymentExtractor, Ucommerce.Transactions.Payments.Adyen" />

    <component id="AdyenPageBuilder"
               service="Ucommerce.Transactions.Payments.Adyen.AdyenPageBuilder, Ucommerce.Transactions.Payments.Adyen"
               type="Ucommerce.Transactions.Payments.Adyen.AdyenPageBuilder, Ucommerce.Transactions.Payments.Adyen" />
  </components>
</configuration>