<configuration>
  <components>
    <!-- Adyen -->
    <component id="Adyen"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Adyen.AdyenPaymentMethodService, Ucommerce.Transactions.Payments.Adyen">
		<parameters>
			<eventHandlers>
				<array>
					<value>${Adyen.EventHandler.Authorisation}</value>
					<value>${Adyen.EventHandler.Cancellation}</value>
					<value>${Adyen.EventHandler.CancelOrRefund}</value>
					<value>${Adyen.EventHandler.Capture}</value>
					<value>${Adyen.EventHandler.CaptureFailed}</value>
					<value>${Adyen.EventHandler.Refund}</value>
				</array>
			</eventHandlers>
		</parameters>
    </component>
    
    <component id="AdyenClientFactory"
               service="Ucommerce.Transactions.Payments.Adyen.Factories.IAdyenClientFactory, Ucommerce.Transactions.Payments.Adyen"
               type="Ucommerce.Transactions.Payments.Adyen.Factories.AdyenClientFactory, Ucommerce.Transactions.Payments.Adyen" />

	  
    <component
	    id="Adyen.SetupAdyenPaymentMethodDefinitionTask"
	    service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
	    type="Ucommerce.Transactions.Payments.Adyen.Pipelines.Initialize.SetupAdyenPaymentMethodDefinitionTask, Ucommerce.Transactions.Payments.Adyen" />
	  
	  <component
			  id="Adyen.EventHandler.Authorisation"
			  service="Ucommerce.Transactions.Payments.Adyen.EventHandlers.IEventHandler, Ucommerce.Transactions.Payments.Adyen"
			  type="Ucommerce.Transactions.Payments.Adyen.EventHandlers.AuthorisationEventHandler, Ucommerce.Transactions.Payments.Adyen"/>
	  <component
			  id="Adyen.EventHandler.Cancellation"
			  service="Ucommerce.Transactions.Payments.Adyen.EventHandlers.IEventHandler, Ucommerce.Transactions.Payments.Adyen"
			  type="Ucommerce.Transactions.Payments.Adyen.EventHandlers.CancellationEventHandler, Ucommerce.Transactions.Payments.Adyen"/>
	  <component
			  id="Adyen.EventHandler.CancelOrRefund"
			  service="Ucommerce.Transactions.Payments.Adyen.EventHandlers.IEventHandler, Ucommerce.Transactions.Payments.Adyen"
			  type="Ucommerce.Transactions.Payments.Adyen.EventHandlers.CancelOrRefundEventHandler, Ucommerce.Transactions.Payments.Adyen"/>
	  <component
			  id="Adyen.EventHandler.Capture"
			  service="Ucommerce.Transactions.Payments.Adyen.EventHandlers.IEventHandler, Ucommerce.Transactions.Payments.Adyen"
			  type="Ucommerce.Transactions.Payments.Adyen.EventHandlers.CaptureEventHandler, Ucommerce.Transactions.Payments.Adyen"/>
	  <component
			  id="Adyen.EventHandler.CaptureFailed"
			  service="Ucommerce.Transactions.Payments.Adyen.EventHandlers.IEventHandler, Ucommerce.Transactions.Payments.Adyen"
			  type="Ucommerce.Transactions.Payments.Adyen.EventHandlers.CaptureFailedEventHandler, Ucommerce.Transactions.Payments.Adyen"/>
	  <component
			  id="Adyen.EventHandler.Refund"
			  service="Ucommerce.Transactions.Payments.Adyen.EventHandlers.IEventHandler, Ucommerce.Transactions.Payments.Adyen"
			  type="Ucommerce.Transactions.Payments.Adyen.EventHandlers.RefundEventHandler, Ucommerce.Transactions.Payments.Adyen"/>
    <partial-component id="Initialize">
	    <parameters>
		    <tasks>
			    <array>
				    <value insert="last">${Adyen.SetupAdyenPaymentMethodDefinitionTask}</value>
			    </array>
		    </tasks>
	    </parameters>
    </partial-component>

  </components>
</configuration>