<configuration>
  <components>
    <!-- Adyen -->
    <component id="Adyen"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Adyen.AdyenPaymentMethodService, UCommerce.Transactions.Payments.Adyen">
      <parameters>
        <httpExtractor>${AdyenHttpExtractor}</httpExtractor>
      </parameters>
    </component>

    <component id="AdyenHttpExtractor"
               service="UCommerce.Transactions.Payments.IHttpPaymentExtractor, UCommerce"
               type="UCommerce.Transactions.Payments.Adyen.AdyenHttpPaymentExtractor, UCommerce.Transactions.Payments.Adyen" />

    <component id="AdyenPageBuilder"
               service="UCommerce.Transactions.Payments.Adyen.AdyenPageBuilder, UCommerce.Transactions.Payments.Adyen"
               type="UCommerce.Transactions.Payments.Adyen.AdyenPageBuilder, UCommerce.Transactions.Payments.Adyen" />
  </components>
</configuration>