﻿<div class="treeTop {{isSelectedNode(tree)}}" id="{{tree.nodeType}}_{{tree.id}}">
    <div class="treeItemExpandContainer speak" >
        <a data-ng-click="toggleChildNodes(tree)" ng-style="getPaddingStyle(tree)" ng-class="itemExpandClasses(tree)">
            <span>&nbsp;</span>
        </a>
    </div>
    <div data-ng-click="treeSetSelected(tree)" data-right-click="toggleOptions(tree)" data-ng-class="treeNodeLinkClasses(tree)" class="treeLink">
        <i class="{{tree.icon}}" ng-show="iconIsIconFont(tree)"></i>
        <span class="{{nodeIconClasses(tree.icon)}}" ng-style="getNodeIconStyle(tree.icon, tree.name)">
            <input type="checkbox" ng-click="checkboxClicked(tree)" ng-show="showCheckBoxForNode(tree)" ng-checked="isSelectedCheckbox(tree)" id="{{tree.nodeType}}_{{tree.id}}" name="selected_tree_values" value="{{tree.nodeType}}_{{tree.id}}" />
            <div class="nodeName">
                <span>{{tree.name}}</span>
            </div>
        </span>
    </div>
    <div class="treeContextMenu absolute" data-ng-show="tree.showOptions" data-ng-mouseleave="hideOptions(tree)" data-ng-mouseup="hideOptions(tree)">
        <ul style="">
            <li data-ng-repeat="option in tree.options" ng-class="option.cssClass">
                <a href="javascript:;" data-ng-click="handleAction(option, tree)" ng-style="treeNodeOptionMenuStyle(option.icon)">{{option.displayName}}</a>
            </li>
        </ul>
    </div>
    <ul style="list-style-type:none">
        <li data-ng-repeat="child in tree.nodes">
            <ucommerce-tree tree-indetion-size="treeIndetionSize" tree="child" pickertype="pickertype" multi-select="multiSelect" enforce-checkbox-click="enforceCheckboxClick" has-right-click-menu="hasRightClickMenu" content-picker-type="contentPickerType" selected-node-style="selectedNodeStyle" pre-selected-values="preSelectedValues" has-checkbox-for="hasCheckboxFor" icon-folder="iconFolder"></ucommerce-tree>
        </li>
    </ul>
</div>