<?xml version="1.0"?>
<configuration>
	<components>
		<!-- Shell services -->
		<component
			id="TreeServiceCatalogTree"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>catalog</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>menu_productcatalog_root</RootNodeName>
				<RootNodeIcon>fa fa-folder-open</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-1</RootNodeId>
				<ShouldTranslateRootNodeName>true</ShouldTranslateRootNodeName>
				<RootNodeParentId>-1</RootNodeParentId>
				<Options>
					<list type="UCommerce.Tree.ITreeNodeOption, UCommerce">
						<item>${CreateProductCatalogGroupOption}</item>
					</list>
				</Options>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${DefaultShellCatalogSectionProvider}</item>
						<item>${DefaultCatalogSearchItemProvider}</item>
					</list>
				</contentProviders>
			</parameters>
		</component>

		<component id="TreeNodeServiceCatalogApp" service="UCommerce.Web.ITreeNodeService, UCommerce" type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
			<parameters>
				<serviceType>CatalogApp</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceCatalogTree}</treeContentService>
			</parameters>
		</component>

		<!--Options-->
		<component id="CreateProductCatalogGroupOption" 
							 service="UCommerce.Tree.ITreeNodeOption, UCommerce" 
							 type="UCommerce.Tree.Impl.TreeNodeOption, UCommerce">
			<parameters>
				<DisplayName>create_productcataloggroup</DisplayName>
				<OptionType>createproductcataloggroup</OptionType>
			</parameters>
		</component>

	</components>
</configuration>
