<?xml version="1.0"?>
<configuration>
	<components>
		<!-- Shell services -->
		<component
			id="TreeServiceMarketingTree"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>marketing</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>menu_marketing_root</RootNodeName>
				<RootNodeIcon>fa fa-pie-chart</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-3</RootNodeId>
				<ShouldTranslateRootNodeName>true</ShouldTranslateRootNodeName>
				<RootNodeParentId>-1</RootNodeParentId>
				<Options>
					<list type="UCommerce.Tree.ITreeNodeOption, UCommerce">
						<item>${CreateCampaignOption}</item>
						<item>${PrioritizeCampaignsOption}</item>
					</list>
				</Options>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${DefaultMarketingSectionProvider}</item>
					</list>
				</contentProviders>
			</parameters>
		</component>

		<component id="TreeNodeServiceMarketingApp" service="UCommerce.Web.ITreeNodeService, UCommerce" type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
			<parameters>
				<serviceType>MarketingApp</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceMarketingTree}</treeContentService>
			</parameters>
		</component>

		<!--Options-->
		<component id="CreateCampaignOption"
							 service="UCommerce.Tree.ITreeNodeOption, UCommerce"
							 type="UCommerce.Tree.Impl.TreeNodeOption, UCommerce">
			<parameters>
				<DisplayName>create_campaign</DisplayName>
				<OptionType>createcampaign</OptionType>
			</parameters>
		</component>

		<component id="PrioritizeCampaignsOption"
							 service="UCommerce.Tree.ITreeNodeOption, UCommerce"
							 type="UCommerce.Tree.Impl.TreeNodeOption, UCommerce">
			<parameters>
				<DisplayName>prioritize_campaigns</DisplayName>
				<OptionType>prioritizecampaigns</OptionType>
			</parameters>
		</component>
		
	</components>
</configuration>
