<?xml version="1.0"?>
<configuration>
	<components>
				<!-- Shell services -->
		<component
			id="TreeServiceOrdersTree"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>orders</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>menu_orders_root</RootNodeName>
				<RootNodeIcon>fa fa-shopping-cart</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-2</RootNodeId>
				<ShouldTranslateRootNodeName>true</ShouldTranslateRootNodeName>
				<RootNodeParentId>-1</RootNodeParentId>
				<Options>
					<list type="UCommerce.Tree.ITreeNodeOption, UCommerce">
					</list>
				</Options>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${DefaultOrdersSectionProvider}</item>
					</list>
				</contentProviders>
			</parameters>
		</component>

		<component id="TreeNodeServiceOrdersApp" service="UCommerce.Web.ITreeNodeService, UCommerce" type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
			<parameters>
				<serviceType>OrdersApp</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceOrdersTree}</treeContentService>
			</parameters>
		</component>


	</components>
</configuration>
