<?xml version="1.0"?>
<configuration>
	<components>
		<!-- Shell services -->
		<component
			id="TreeServiceSettingsTree"
			service="UCommerce.Tree.ITreeContentService, UCommerce"
			type="UCommerce.Tree.Impl.TreeContentService, UCommerce">
			<parameters>
				<RootNodeType>settings</RootNodeType>
				<RootNodeHasAutoLoad>true</RootNodeHasAutoLoad>
				<RootNodeHasChildren>true</RootNodeHasChildren>
				<RootNodeName>menu_settings_root</RootNodeName>
				<RootNodeIcon>gear.png</RootNodeIcon>
				<RootNodeItemGuid>3806A967-DD30-421F-A835-7D8DE80054B9</RootNodeItemGuid>
				<RootNodeId>-5</RootNodeId>
				<ShouldTranslateRootNodeName>true</ShouldTranslateRootNodeName>
				<RootNodeParentId>-1</RootNodeParentId>
				<contentProviders>
					<list type="UCommerce.Tree.ITreeContentProvider, UCommerce">
						<item>${DefaultSettingsAppsProvider}</item>
						<item>${DefaultSettingsAppsInstallerProvider}</item>
						<item>${DefaultSettingsAppsInstalledProvider}</item>
						<item>${DefaultSettingsRootSectionProvider}</item>
						<item>${DefaultSettingsCatalogProvider}</item>
						<item>${DefaultSettingsOrdersProvider}</item>
						<item>${DefaultSettingsEmailsProvider}</item>
						<item>${DefaultSettingsDefinitionsProvider}</item>
						<item>${DefaultSettingsSecurityProvider}</item>
					</list>
				</contentProviders>
			  <Options>
			    <list type="UCommerce.Tree.ITreeNodeOption, UCommerce">
			    </list>
			  </Options>
			</parameters>
		</component>
		
		<component id="TreeNodeServiceSettingsApp" service="UCommerce.Web.ITreeNodeService, UCommerce" type="UCommerce.Web.Impl.ContentNodeService, UCommerce">
			<parameters>
				<serviceType>SettingsApp</serviceType>
				<treeNodeContentToTreeNodeConverter>${TreeNodeConverterService}</treeNodeContentToTreeNodeConverter>
				<treeContentService>${TreeServiceSettingsTree}</treeContentService>
			</parameters>
		</component>

	</components>
</configuration>
