<configuration>
  <components>
    <!-- Braintree Payments -->
    <component id="Braintree Payments"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Braintree.BraintreePaymentMethodService, UCommerce.Transactions.Payments.Braintree" />

    <component id="BraintreePageBuilder"
               service="UCommerce.Transactions.Payments.Braintree.BraintreePageBuilder, UCommerce.Transactions.Payments.Braintree"
               type="UCommerce.Transactions.Payments.Braintree.BraintreePageBuilder, UCommerce.Transactions.Payments.Braintree" />
  </components>
</configuration>