<configuration>
  <components>
    <!-- Braintree Payments -->
    <component id="Braintree Payments"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Braintree.BraintreePaymentMethodService, Ucommerce.Transactions.Payments.Braintree" />

    <component id="BraintreePageBuilder"
               service="Ucommerce.Transactions.Payments.Braintree.BraintreePageBuilder, Ucommerce.Transactions.Payments.Braintree"
               type="Ucommerce.Transactions.Payments.Braintree.BraintreePageBuilder, Ucommerce.Transactions.Payments.Braintree" />
  </components>
</configuration>