@font-face {
	font-family: 'ucommerce';
	src:url('../fonts/icomoon.eot?-z2a93c');
	src:url('../fonts/icomoon.eot?#iefix-z2a93c') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-z2a93c') format('truetype'),
		url('../fonts/icomoon.svg?-z2a93c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

}

.icon-ucommerce:before {
	font-family: 'ucommerce';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e900";
}
