<configuration>
	<components>
		<component id="Checkout.DecrementInventoryOnHand"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			   type="UCommerce.Pipelines.Transactions.Baskets.Checkout.DecrementInventoryOnHandTask, UCommerce.Pipelines" />

		<component id="Checkout.IncrementInventoryOnHand"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			   type="UCommerce.Pipelines.Transactions.Orders.IncrementInventoryOnHandTask, UCommerce.Pipelines" />

		<partial-component id="Checkout">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${Checkout.DecrementInventoryOnHand}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<partial-component id="ToCancelled">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${Checkout.IncrementInventoryOnHand}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>
	</components>
</configuration>

