<configuration>
	<components>
		<component id="Checkout.DecrementInventoryOnHand"
			   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
			   type="Ucommerce.Pipelines.Transactions.Baskets.Checkout.DecrementInventoryOnHandTask, Ucommerce.Pipelines" />

		<component id="Checkout.IncrementInventoryOnHand"
			   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
			   type="Ucommerce.Pipelines.Transactions.Orders.IncrementInventoryOnHandTask, Ucommerce.Pipelines" />

		<partial-component id="Checkout">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${Checkout.DecrementInventoryOnHand}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<partial-component id="ToCancelled">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${Checkout.IncrementInventoryOnHand}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>
	</components>
</configuration>

