<configuration>
  <components>
    <!-- ePay -->
    <component id="ePay"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.EPay.EPayPaymentMethodService, Ucommerce.Transactions.Payments.EPay" />

    <component id="EPayPageBuilder"
               service="Ucommerce.Transactions.Payments.EPay.EPayPageBuilder, Ucommerce.Transactions.Payments.EPay"
               type="Ucommerce.Transactions.Payments.EPay.EPayPageBuilder, Ucommerce.Transactions.Payments.EPay" />

    <component id="EPayMd5Computer"
               service="Ucommerce.Transactions.Payments.EPay.EPayMd5Computer, Ucommerce.Transactions.Payments.EPay"
               type="Ucommerce.Transactions.Payments.EPay.EPayMd5Computer, Ucommerce.Transactions.Payments.EPay" />

  </components>
</configuration>