<configuration>
  <components>
    <!-- ePay -->
    <component id="ePay"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.EPay.EPayPaymentMethodService, UCommerce.Transactions.Payments.EPay" />

    <component id="EPayPageBuilder"
               service="UCommerce.Transactions.Payments.EPay.EPayPageBuilder, UCommerce.Transactions.Payments.EPay"
               type="UCommerce.Transactions.Payments.EPay.EPayPageBuilder, UCommerce.Transactions.Payments.EPay" />

    <component id="EPayMd5Computer"
               service="UCommerce.Transactions.Payments.EPay.EPayMd5Computer, UCommerce.Transactions.Payments.EPay"
               type="UCommerce.Transactions.Payments.EPay.EPayMd5Computer, UCommerce.Transactions.Payments.EPay" />

  </components>
</configuration>