<configuration>
  <components>
    <!-- PayEx -->
    <component id="PayEx"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.PayEx.PayExPaymentMethodService, Ucommerce.Transactions.Payments.PayEx" />

    <component id="PayExMd5Computer"
               service="Ucommerce.Transactions.Payments.PayEx.PayExMd5Computer, Ucommerce.Transactions.Payments.PayEx"
               type="Ucommerce.Transactions.Payments.PayEx.PayExMd5Computer, Ucommerce.Transactions.Payments.PayEx" />

  </components>
</configuration>