<configuration>
  <components>
    <!-- PayEx -->
    <component id="PayEx"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.PayEx.PayExPaymentMethodService, UCommerce.Transactions.Payments.PayEx" />

    <component id="PayExMd5Computer"
               service="UCommerce.Transactions.Payments.PayEx.PayExMd5Computer, UCommerce.Transactions.Payments.PayEx"
               type="UCommerce.Transactions.Payments.PayEx.PayExMd5Computer, UCommerce.Transactions.Payments.PayEx" />

  </components>
</configuration>