<?xml version="1.0" encoding="utf-8"?>
<aIServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8623.0">
	<AIServices>
		<add ApiKey="[sf-scrt-rslvr=Encrypt]Y2bASj4IOjl2jtfNn7itv5vz83YEgnWivlrgV6EdsCZBZXNXaXRoSG1hY2O9Npt3/5wzmv6+rocvzLiDLaG/bkASf9FvQsM8Ww/5" name="AzureCompletionsOpenAIClient" config:flags="1" />
	</AIServices>
</aIServicesConfig>