<?xml version="1.0" encoding="utf-8"?>
<aIServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8600.0">
	<AIServices>
		<add ApiKey="[sf-scrt-rslvr=Encrypt]yXaTc9m+cTaB8KC9ldaYWYBHkVqTXEO+98hFJSAwL5pBZXNXaXRoSG1hY5fRdee0xgMf7AhFOjwxMGmXRZBKJuNY1civ0ReAUnQs" name="AzureCompletionsOpenAIClient" config:flags="1" />
	</AIServices>
</aIServicesConfig>