<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6701.0">
	<Sites>
		<add SiteName="Quantum International" SiteId="4c922118-f076-4e24-9193-93e004f50107">
			<ApplicationSettings AccountId="47449181" AccountName="Quantum Data" ClientId="218069071344.apps.googleusercontent.com" ProfileId="81400633" TrackedDomain="www.quantum.sitefinity.com" WebProperty="UA-47449181-1" />
		</add>
	</Sites>
	<ClientCredentials>
		<add AccessToken="[sf-scrt-rslvr=Encrypt]7+vLiq+B/D4bDymjwG29/c3VKVkWM35kjypaAlL5mbR4FUCBcIg0VeksSXT04q1tMA0F07LZbBjPd7jFl+3j0YWDi7IkcavIPMbmWr2+npZX13l8vl2nfI+7OPVJVzSf71r4ZxtJH2cGJaToh51JZmGFBwdP8AUk9fqIzVufYj2fIaMGhgt4ZHzO4/oHexEVQBshDRViYiM1iazHkfoZomAmOXHi4KL+3LpmcloBiaXXJXSf02OJE585qIEEGmwMju5DQkQSd3mdWFSBAw9e7ycpemQE9HPxpl6lmHrpnrpDkAf33XgA+30bSmaFRQn0W9ET6wBa/Tma6uDzphjOnCUwl9rEhE2qFR7sNJujQswCAQAA" TokenType="Bearer" ClientSecret="[sf-scrt-rslvr=Encrypt]/SZCxRr//aX1wVBLneJI9YkpB384mY8TZ9ZYSqUP7LmKmMni9TXGPS8lf67Hw91FyZc2krCxl4NZcLnwZ4faDzAAAAA=" ExpiresInSeconds="3600" ExpiresOn="2018/06/21" RefreshToken="[sf-scrt-rslvr=Encrypt]oQgL1O9IFAJwaMjMewi6ZCXjfZ1VPwwW5G2hXKdls3Bn9MPfnc2gEmgRSDYag1cW6rnOPXMFPB5Sg5lfr0suhbHJ/DGSMKEr8l2BJWHYtScRDHo1GmIBBgxBfBqKuIWLY0bzR8hO0AdaAAAA" RetrievedOn="2018/06/21" ClientId="218069071344.apps.googleusercontent.com" />
	</ClientCredentials>
</analyticsConfig>