<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.4.8121.0">
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/Quantum/App_Themes/Quantum" name="Quantum" />
	</frontendThemes>
</appearanceConfig>