<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7721.0" authenticationProtocol="OpenId">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientName="sitefinity" config:flags="1">
					<redirectUris>
						<add redirectUri="http://localhost:4200/assets/auth/silent-renew.html" />
						<add redirectUri="http://localhost:4200/auth/oidc/sign-in" />
						<add redirectUri="http://quantum-headless.sitefinity.site/assets/auth/silent-renew.html" />
						<add redirectUri="http://quantum-headless.sitefinity.site/auth/oidc/sign-in" />
					</redirectUris>
					<postLogoutRedirectUris>
						<add redirectUri="http://localhost:4200/auth/oidc/sign-out" />
						<add redirectUri="http://quantum-headless.sitefinity.site/auth/oidc/sign-out" />
					</postLogoutRedirectUris>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="http://localhost:4200" />
						<add allowedCorsOrigin="http://quantum-headless.sitefinity.site" />
					</allowedCorsOrigins>
				</add>
			</identityServerClients>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>