<?xml version="1.0" encoding="utf-8"?>
<blogsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0">
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" />
		<add title="Axel Blogs" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" applicationName="blogsProvider2" enableCommentsBackwardCompatibility="True" enabled="True" name="blogsProvider2" />
	</providers>
</blogsConfig>