<?xml version="1.0" encoding="utf-8"?>
<blogsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6201.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Blogs\&quot;}&quot;}]">
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Blogs\&quot;}&quot;}]">
		<add title="Quantum Middle East Blogs" applicationName="blogsProvider2" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" name="blogsProvider2" />
		<add title="Quantum UK Blogs" applicationName="blogsProvider3" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" name="blogsProvider3" />
		<add title="Quantum SA Blogs" applicationName="blogsProvider4" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" name="blogsProvider4" />
		<add title="Quantum Fashion Blogs" applicationName="blogsProvider5" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="blogsProvider5" />
		<add title="Fashion Blogs" applicationName="blogsProvider6" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="blogsProvider6" />
		<add title="Quantum Fashion Blogs" applicationName="blogsProvider7" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="blogsProvider7" />
		<add title="Quantum Sweets Blogs" applicationName="blogsProvider8" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" name="blogsProvider8" />
	</providers>
</blogsConfig>