<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0" viewName="ProductTypesBackendMaster" config:flags="1">
	<dialogs>
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_mp3" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_mp3&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_mp3" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_notebook" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_notebook&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_notebook" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_tablet" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_tablet&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_tablet" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_lock" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_lock&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_lock" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_coolingpad" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_coolingpad&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_coolingpad" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_bag" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_bag&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_bag" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_ereader" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_ereader&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_ereader" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_desktoppc" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_desktoppc&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_desktoppc" />
	</dialogs>
</view>