<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0" viewName="ProductsBackendMaster">
	<decisionScreens>
		<add name="NoProductsExistScreen">
			<actions>
				<add commandName="insert_command_sf_ec_prdct_generalproduct" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateSubsequentItem" text="General product" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_generalproduct" />
				<add commandName="insert_command_sf_ec_prdct_notebook" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateSubsequentItem" text="Computer" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_notebook" />
				<add commandName="insert_command_sf_ec_prdct_tablet" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateSubsequentItem" text="Tablet" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_tablet" />
				<add commandName="insert_command_sf_ec_prdct_lock" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateSubsequentItem" text="Lock" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_lock" />
				<add commandName="insert_command_sf_ec_prdct_coolingpad" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateSubsequentItem" text="Cooling pad" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_coolingpad" />
				<add commandName="insert_command_sf_ec_prdct_bag" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateSubsequentItem" text="Bag" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_bag" />
				<add commandName="insert_command_sf_ec_prdct_software" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateSubsequentItem" text="Software" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_software" />
			</actions>
		</add>
	</decisionScreens>
	<dialogs>
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_generalproduct&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_generalproduct" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_generalproduct&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_generalproduct" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_book&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_book" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_book&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_book" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_mp3" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_mp3&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_mp3" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_mp3" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_mp3" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_mp3&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_mp3" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_mp3" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_software&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_software" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_software&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_software" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_notebook" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_notebook&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_notebook" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_notebook" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_notebook" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_notebook&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_notebook" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_notebook" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_tablet" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_tablet&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_tablet" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_tablet" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_tablet" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_tablet&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_tablet" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_tablet" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_lock" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_lock&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_lock" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_lock" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_lock" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_lock&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_lock" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_lock" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_coolingpad" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_coolingpad&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_coolingpad" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_coolingpad" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_coolingpad" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_coolingpad&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_coolingpad" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_coolingpad" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_bag" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_bag&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_bag" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_bag" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_bag" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_bag&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_bag" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_bag" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_ereader" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_ereader&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_ereader" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_ereader" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_ereader" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_ereader&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_ereader" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_ereader" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_desktoppc" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_desktoppc&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_desktoppc" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_desktoppc" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_desktoppc" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_desktoppc&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_desktoppc" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_desktoppc" />
	</dialogs>
	<toolbar>
		<sections>
			<section name="toolbar">
				<items>
					<item name="MenuToolboxItem">
						<menuItems>
							<item commandName="insert_command_sf_ec_prdct_generalproduct" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateItm" text="General product" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_generalproduct" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_notebook" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateItm" text="Computer" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_notebook" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_tablet" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateItm" text="Tablet" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_tablet" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_lock" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateItm" text="Lock" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_lock" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_coolingpad" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateItm" text="Cooling pad" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_coolingpad" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_bag" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateItm" text="Bag" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_bag" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_software" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" openInSameWindow="False" cssClass="sfCreateItm" text="Software" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_software" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
						</menuItems>
					</item>
				</items>
			</section>
		</sections>
	</toolbar>
	<sidebar>
		<sections>
			<remove name="ManageAlso" />
			<remove name="Settings" />
			<section title="ManageAlso" titleWrapperTagKey="Unknown" wrapperTagId="manageAlsoSection" wrapperTagKey="Unknown" cssClass="sfWidgetsList sfSeparator" resourceClassId="EcommerceResources" visible="True" name="ManageAlso">
				<items>
					<item commandName="comments" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" cssClass="sfComments" text="CommentsForProducts" resourceclassid="EcommerceResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="ProductsComments" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
			<section title="SettingsForProducts" titleWrapperTagKey="Unknown" wrapperTagId="settingsSection" wrapperTagKey="Unknown" cssClass="sfWidgetsList sfSettings" resourceClassId="EcommerceResources" visible="True" name="Settings">
				<items>
					<item commandName="manageContentLocations" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="PagesWhereProductsArePublished" resourceclassid="EcommerceResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="ManageContentLocations" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>