<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6100.0">
	<CommentableTypes>
		<commentableType FriendlyName="Product" AllowComments="True" RequiresAuthentication="False" RequiresApproval="False" AllowSubscription="False" EnableRatings="True" ItemType="Telerik.Sitefinity.Ecommerce.Catalog.Model.Product" />
	</CommentableTypes>
</commentsModuleConfig>