<?xml version="1.0" encoding="utf-8"?>
<contentConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<providers>
		<add title="Quantum Middle East GenericContent" applicationName="contentProvider2" type="Telerik.Sitefinity.Modules.GenericContent.Data.OpenAccessContentProvider, Telerik.Sitefinity" name="contentProvider2" />
		<add title="Quantum UK GenericContent" applicationName="contentProvider3" type="Telerik.Sitefinity.Modules.GenericContent.Data.OpenAccessContentProvider, Telerik.Sitefinity" name="contentProvider3" />
		<add title="Quantum SA GenericContent" applicationName="contentProvider4" type="Telerik.Sitefinity.Modules.GenericContent.Data.OpenAccessContentProvider, Telerik.Sitefinity" name="contentProvider4" />
		<add title="Quantum Fashion GenericContent" applicationName="contentProvider5" type="Telerik.Sitefinity.Modules.GenericContent.Data.OpenAccessContentProvider, Telerik.Sitefinity" enabled="False" name="contentProvider5" />
		<add title="Fashion GenericContent" applicationName="contentProvider6" type="Telerik.Sitefinity.Modules.GenericContent.Data.OpenAccessContentProvider, Telerik.Sitefinity" enabled="False" name="contentProvider6" />
		<add title="Quantum Fashion GenericContent" applicationName="contentProvider7" type="Telerik.Sitefinity.Modules.GenericContent.Data.OpenAccessContentProvider, Telerik.Sitefinity" enabled="False" name="contentProvider7" />
		<add title="Quantum Sweets GenericContent" applicationName="contentProvider8" type="Telerik.Sitefinity.Modules.GenericContent.Data.OpenAccessContentProvider, Telerik.Sitefinity" enabled="False" name="contentProvider8" />
	</providers>
</contentConfig>