<?xml version="1.0" encoding="utf-8"?>
<customFieldsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.2.7900.0">
	<fieldTypes>
		<add name="Choices" config:flags="1">
			<controls>
				<add title="RadioButtons" fieldType="Telerik.Sitefinity.Web.UI.Fields.DynamicChoiceField" config:flags="1" />
				<add title="DropDownList" fieldType="Telerik.Sitefinity.Web.UI.Fields.DynamicChoiceField" config:flags="1" />
				<add title="DropDownList" fieldType="Telerik.Sitefinity.Web.UI.Fields.DynamicChoiceField" config:flags="1" />
			</controls>
		</add>
	</fieldTypes>
</customFieldsConfig>