<?xml version="1.0" encoding="utf-8"?>
<Settings Version="2">
  <Dashboard>
    <!--Main Overview-->
    <Id>2C0D235E-CA9E-4921-8B59-157EB5C5F89F</Id>
  </Dashboard>
  <Dashboard>
    <!--Visitors Overview-->
    <Id>501495D7-EDC6-4cc8-A391-2BEEBEE8D4EC</Id>
    <Dashboard>
      <!--New Vs Returning Visitors-->
      <Id>B2833876-7747-405b-B641-7F3BB2AADC97</Id>
    </Dashboard>
    <Dashboard>
      <!--Languages-->
      <Id>78F58781-2257-4db7-8B62-39003FCDC589</Id>
    </Dashboard>
    <Dashboard>
      <!--Visits-->
      <Id>2CA5DCAC-597F-48a8-A58A-C5564E640DF5</Id>
      <Dashboard>
        <!--Unique Visitors-->
        <Id>72B1A2A2-36CE-497a-B3E2-4FDA18D0A847</Id>
      </Dashboard>
      <Dashboard>
        <!--Pageviews-->
        <Id>F54F1A0D-2CBB-4931-BBB7-AD25AFC06EDD</Id>
      </Dashboard>
      <Dashboard>
        <!--Average Pageviews-->
        <Id>510AD446-43C9-4ec2-92BF-CCF0BF96561A</Id>
      </Dashboard>
      <Dashboard>
        <!--Average Time On Site-->
        <Id>DFBF5B9C-D710-4d50-AE11-832A83D29CFB</Id>
      </Dashboard>
      <Dashboard>
        <!--Bounce Rate-->
        <Id>3E0F69F0-80DA-4193-8EC4-106D0CDCB9B7</Id>
      </Dashboard>
    </Dashboard>
    <Dashboard>
      <!--Devices Overview-->
      <Id>BD2FC924-F238-45FF-BA5A-C7ABE7A1F2F6</Id>
      <Dashboard>
        <!--Browsers-->
        <Id>1EF6D4C5-828A-4e62-8896-4C3FE87C751D</Id>
      </Dashboard>
      <Dashboard>
        <!--Operating Systems-->
        <Id>3E25039C-EA6B-4bbe-BCEC-42B3291F1E8B</Id>
      </Dashboard>
      <Dashboard>
        <!--Browsers And OS-->
        <Id>1F6A7EC1-6CEB-4174-B4A6-FEF227883D9B</Id>
      </Dashboard>
      <Dashboard>
        <!--Screen Colors-->
        <Id>7DF84DFD-8E6F-41e0-9C79-5FFD7697787B</Id>
      </Dashboard>
      <Dashboard>
        <!--Screen Resolutions-->
        <Id>244ABF9A-C269-492f-8358-43A229813EF1</Id>
      </Dashboard>
      <Dashboard>
        <!--Flash Versions-->
        <Id>868413FA-34DE-4b2e-8AA8-CE017C68F505</Id>
      </Dashboard>
      <Dashboard>
        <!--Java Support-->
        <Id>2E8D0244-73B4-4a5e-9C50-31973024CE07</Id>
      </Dashboard>
      <Dashboard>
        <!--Mobile Devices-->
        <Id>62EBE122-08C7-4e1f-8806-9BC7AE3E9AA6</Id>
      </Dashboard>
      <Dashboard>
        <!--Mobile Carriers-->
        <Id>D0033DFC-43D4-4313-BE1D-319C5CDF2074</Id>
      </Dashboard>
    </Dashboard>
    <Dashboard>
      <!--Service Providers-->
      <Id>C3F276F1-B42B-4dbe-BAC2-37D9C1630F84</Id>
      <Dashboard>
        <!--Host Names-->
        <Id>FBF49235-A661-4ec6-B510-08FB758AC783</Id>
      </Dashboard>
    </Dashboard>
    <Dashboard>
      <!--User Defined Values-->
      <Id>FBFEE405-7E6C-44ee-B97C-5D7136A1B369</Id>
    </Dashboard>
  </Dashboard>
  <Dashboard>
    <!--Traffic Sources Overview-->
    <Id>35AD1AE8-90FB-418d-A4E0-EDE177DA5DC6</Id>
    <Dashboard>
      <!--Direct Traffic-->
      <Id>DEF0197B-89BA-4663-9EEF-4321802B4779</Id>
    </Dashboard>
    <Dashboard>
      <!--Referring Sites-->
      <Id>89F4544F-1CCF-49e3-A16B-D721931A3023</Id>
    </Dashboard>
    <Dashboard>
      <!--Search Engines-->
      <Id>727C262D-3968-4ac3-B8D9-322E6A71E438</Id>
    </Dashboard>
    <Dashboard>
      <!--All Traffic Sources-->
      <Id>5F790A81-3F7F-461e-A294-70C45D4D02AF</Id>
    </Dashboard>
    <Dashboard>
      <!--Keywords-->
      <Id>AB66EE69-8D50-47ad-B9C0-22B617722037</Id>
    </Dashboard>
    <Dashboard>
      <!--Campaigns-->
      <Id>F254666E-B3DB-4e63-A2C8-8B7DD6927CF2</Id>
    </Dashboard>
    <Dashboard>
      <!--Ad Versions-->
      <Id>44303E96-E8EE-49ad-91FE-8D23AEB567F4</Id>
    </Dashboard>
  </Dashboard>
  <Dashboard>
    <!--Content Overview-->
    <Id>D83ECAC0-77E7-44ad-AC86-FB7BE3B1587A</Id>
    <Dashboard>
      <!--Top Content-->
      <Id>67CFE983-4E00-4ee4-9AD2-AEEEBABF2270</Id>
    </Dashboard>
    <Dashboard>
      <!--Content By Title-->
      <Id>FF662E99-0F96-4f8f-8710-9E07E1D8BE98</Id>
    </Dashboard>
    <Dashboard>
      <!--Top Entry Pages-->
      <Id>C6F6D451-D101-4a35-B7A8-4A6A1367DA50</Id>
    </Dashboard>
    <Dashboard>
      <!--Top Exit Pages-->
      <Id>85ABD6A6-BEDA-47ef-94E6-047B8BFEA366</Id>
    </Dashboard>
    <Dashboard>
      <!--Site Search Overview-->
      <Id>91B6C88A-3359-4186-864C-DC00C285BB33</Id>
      <Dashboard>
        <!--Site Search Usage-->
        <Id>DBA4FD02-263F-4f56-A9CB-A7B2BB325599</Id>
      </Dashboard>
      <Dashboard>
        <!--Site Search Terms-->
        <Id>AF19A4E5-72BD-4eb0-ACF8-A7E66DFFE7F9</Id>
      </Dashboard>
      <Dashboard>
        <!--Site Search Start Pages-->
        <Id>16B0E01D-6539-43e2-A80D-919635A22079</Id>
      </Dashboard>
      <Dashboard>
        <!--Site Search Destination Pages-->
        <Id>A0DF1BB9-538A-443c-AE2B-2AF1F19D0498</Id>
      </Dashboard>
      <Dashboard>
        <!--Site Search Categories-->
        <Id>E8003D1B-D87C-4492-8CA4-2A5470D84B7B</Id>
      </Dashboard>
      <Dashboard>
        <!--Visits With Search-->
        <Id>CF889996-80CB-42a5-B6CC-BC342FAD946A</Id>
        <Dashboard>
          <!--Total Unique Searches-->
          <Id>86C307FF-C46A-4fc0-9DA3-AAA5DC59383E</Id>
        </Dashboard>
        <Dashboard>
          <!--Results Pageviews Per Search-->
          <Id>60FBDF3E-5845-4f3a-BB0A-5E570CFDC4DB</Id>
        </Dashboard>
        <Dashboard>
          <!--Search Exits-->
          <Id>51E94DFB-8440-4f36-9042-B3839905338B</Id>
        </Dashboard>
        <Dashboard>
          <!--Search Refinements-->
          <Id>7ABEB39D-AB2A-4ba3-ABD6-A165CDDA99A0</Id>
        </Dashboard>
        <Dashboard>
          <!--Time After Search-->
          <Id>4FBABDEC-85DA-4e98-A622-EC7C61F4C608</Id>
        </Dashboard>
        <Dashboard>
          <!--Search Depth-->
          <Id>A84FC908-5D24-4f7f-A0F5-E56C15006582</Id>
        </Dashboard>
      </Dashboard>
    </Dashboard>
  </Dashboard>
  <Dashboard>
    <!--City Detail-->
    <Id>FD82518F-739C-4174-8D0F-1EE397B94B3E</Id>
  </Dashboard>
  <Dashboard>
    <!--Region Detail-->
    <Id>3632AEE9-47BE-46A5-AF83-1D29D977CE7E</Id>
  </Dashboard>
  <Dashboard>
    <!--Country Detail-->
    <Id>44A082BA-52A2-42BA-87B4-26A7774432AA</Id>
  </Dashboard>
  <Administrators>
    <User>admin</User>
    <User>thunder</User>
    <User>stan</User>
  </Administrators>
</Settings>