<?xml version="1.0" encoding="utf-8"?>
<diagnosticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<tools>
		<add version="10.1.6500.0" dependsOnRootOperation="True" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="DataAccessProfiler" config:flags="1" />
		<add version="10.1.6500.0" name="HttpRequestsProfiler" config:flags="1" />
		<add version="10.1.6500.0" skipSelectedTaskTypes="" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="BackgroundTasksProfiler" config:flags="1" />
		<add version="10.1.6500.0" name="PageCompilationsProfiler" config:flags="1" />
		<add version="10.1.6500.0" name="RazorViewCompilationsProfiler" config:flags="1" />
		<add version="10.1.6500.0" name="WidgetExecutionsProfiler" config:flags="1" />
		<add version="10.1.6500.0" name="SystemOperationsProfiler" config:flags="1" />
		<add version="10.1.6500.0" name="SiteInitializationsProfiler" config:flags="1" />
		<add version="10.1.6500.0" name="InsightsEngine" config:flags="1" />
	</tools>
</diagnosticsConfig>