<?xml version="1.0" encoding="utf-8"?>
<diagnosticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<tools>
		<add errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="DataAccessProfiler" />
	</tools>
</diagnosticsConfig>