<?xml version="1.0" encoding="utf-8"?>
<digitalExperienceCloudConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<personalizationCriterions>
		<add description="Personalization segments can be based on Campaigns created in Digital Experience Cloud" enabled="True" name="CampaignCriterion" />
		<add description="Personas created in Digital Experience Cloud are added as a criteria in page personalization" enabled="True" name="PersonaCriterion" />
	</personalizationCriterions>
</digitalExperienceCloudConnectorConfig>