<?xml version="1.0" encoding="utf-8"?>
<digitalExperienceCloudConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6400.0" connected="True" applicationName="Quantum_Website" username="PzFaFwe9rei9Qgrn7MZI3KtanRW7xSF7DheRB5vFyVOj1+Kkkljx2phjmlh8apqjJgAAAA==" password="pc5KlHOz0ahl1WhEiR7u4KBKXkKNLTa5sDFCh6AYQRIUAAAA">
	<siteToApiKeyMappings>
		<add dataCenterApiKey="d0cf0649-cf36-77d7-2d1c-5c6d7e20f524" siteName="Quantum International" />
		<add dataCenterApiKey="d0cf0649-cf36-77d7-2d1c-5c6d7e20f524" siteName="Quantum ME" />
		<add dataCenterApiKey="d0cf0649-cf36-77d7-2d1c-5c6d7e20f524" siteName="Quantum UK" />
		<add dataCenterApiKey="d0cf0649-cf36-77d7-2d1c-5c6d7e20f524" siteName="Quantum SA" />
	</siteToApiKeyMappings>
</digitalExperienceCloudConnectorConfig>