<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0" searchFields="Title,Phone,Address1,Description,Email,Address2,City,State,ZIPCode,Country" viewName="OfficeBackendList" config:flags="1">
	<dialogs>
		<add name="ContentViewEditDialog" openOnCommand="preview" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=Telerik.Sitefinity.DynamicTypes.Model.Offices.OfficeBackendDefinition&amp;ViewName=OfficeBackendPreviewView" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on preview" />
	</dialogs>
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add name="Actions" config:flags="1">
					<menuItems>
						<menuItem resourceclassid="ModuleBuilderResources" name="Permissions" config:flags="1" />
						<menuItem text="DuplicateDetailsViewTitle" resourceclassid="ModuleBuilderResources" name="Duplicate" config:flags="1" />
						<menuItem text="EditProperties" name="Properties" config:flags="1" />
					</menuItems>
				</add>
			</columns>
		</add>
	</viewModes>
	<toolbar>
		<sections>
			<section name="toolbar" config:flags="1">
				<items>
					<item text="Create a Office" name="CreateItemWidget" config:flags="1" />
					<item text="Search" name="SearchItemWidget" config:flags="1" />
				</items>
			</section>
		</sections>
	</toolbar>
	<sidebar>
		<sections>
			<section name="Filter" config:flags="1">
				<items>
					<item commandName="showMasterItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" restrictionLevel="Default" text="Draft" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="DraftTelerik.Sitefinity.DynamicTypes.Model.Offices.Office" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
					<item commandName="showPublishedItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" restrictionLevel="Default" text="Published" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="PublishedTelerik.Sitefinity.DynamicTypes.Model.Offices.Office" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
					<item commandName="showScheduledItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" restrictionLevel="Default" text="Scheduled" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="ScheduledTelerik.Sitefinity.DynamicTypes.Model.Offices.Office" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
			<section cssClass="sfWidgetsList sfSettings" name="Settings" config:flags="1" />
			<section name="recycleBinWidget" config:flags="1">
				<items>
					<item navigateUrl="~/Sitefinity/dashboard/RecycleBin/RecycleBin#/filter/type/Telerik.Sitefinity.DynamicTypes.Model.Offices.Office" name="ExternalLink2" config:flags="1" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>