<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6400.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Testimonials\&quot;}&quot;}]">
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Testimonials\&quot;}&quot;}]">
		<add title="Quantum Middle East Testimonials" applicationName="dynamicProvider2" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider2" />
		<add title="Quantum Middle East Slides" applicationName="dynamicProvider3" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider3" />
		<add title="Quantum UK Testimonials" applicationName="dynamicProvider4" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider4" />
		<add title="Quantum UK Slides" applicationName="dynamicProvider5" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider5" />
		<add title="Quantum SA Testimonials" applicationName="dynamicProvider6" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider6" />
		<add title="Quantum SA Slides" applicationName="dynamicProvider7" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider7" />
		<add title="Quantum Fashion Testimonials" applicationName="dynamicProvider8" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider8" />
		<add title="Quantum Fashion Slides" applicationName="dynamicProvider9" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider9" />
		<add title="Quantum Fashion Locations" applicationName="dynamicProvider10" moduleName="Locations" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider10" />
		<add title="Quantum Fashion Showcases" applicationName="dynamicProvider11" moduleName="Showcases" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider11" />
		<add title="Fashion Testimonials" applicationName="dynamicProvider12" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider12" />
		<add title="Fashion Slides" applicationName="dynamicProvider13" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider13" />
		<add title="Fashion Locations" applicationName="dynamicProvider14" moduleName="Locations" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider14" />
		<add title="Fashion Showcases" applicationName="dynamicProvider15" moduleName="Showcases" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider15" />
		<add title="Quantum Fashion Testimonials" applicationName="dynamicProvider16" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider16" />
		<add title="Quantum Fashion Slides" applicationName="dynamicProvider17" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider17" />
		<add title="Quantum Fashion Locations" applicationName="dynamicProvider18" moduleName="Locations" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider18" />
		<add title="Quantum Fashion Showcases" applicationName="dynamicProvider19" moduleName="Showcases" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider19" />
		<add title="Quantum Sweets Testimonials" applicationName="dynamicProvider20" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider20" />
		<add title="Quantum Sweets Slides" applicationName="dynamicProvider21" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider21" />
		<add title="Quantum Sweets Locations" applicationName="dynamicProvider22" moduleName="Locations" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider22" />
		<add title="Quantum Sweets Showcases" applicationName="dynamicProvider23" moduleName="Showcases" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="False" name="dynamicProvider23" />
	</providers>
	<contentViewControls config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Testimonials\&quot;}&quot;}]">
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Slides.SlideBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="SlideBackendList" configFile="DynamicModulesConfig.Slides.Slide_SlidBckndLst.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>