<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6100.0">
	<providers>
		<add title="Axel Stores" applicationName="dynamicProvider2" moduleName="Stores" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" enabled="True" name="dynamicProvider2" />
	</providers>
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Offices.JobOpeningBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="Job OpeningBackendList" configFile="DynamicModulesConfig.Offices.JbOpning_pnngBckndLst.config" />
				<config:lazy key="Job OpeningBackendInsertView" configFile="DynamicModulesConfig.Offices.JbOpning_BckndInsrtVw.config" />
				<config:lazy key="Job OpeningBackendPreviewView" configFile="DynamicModulesConfig.Offices.JbOpning_gBckndPrvwVw.config" />
				<config:lazy key="Job OpeningBackendEditView" configFile="DynamicModulesConfig.Offices.JbOpning_ngBckndEdtVw.config" />
				<config:lazy key="Job OpeningBackendDuplicateView" configFile="DynamicModulesConfig.Offices.JbOpning_BckndDplctVw.config" />
				<config:lazy key="Job OpeningBackendVersionPreview" configFile="DynamicModulesConfig.Offices.JbOpning_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Offices.OfficeBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="OfficeBackendList" configFile="DynamicModulesConfig.Offices.Office_OffcBckndLst.config" />
				<config:lazy key="OfficeBackendInsertView" configFile="DynamicModulesConfig.Offices.Office_BckndInsrtVw.config" />
				<config:lazy key="OfficeBackendPreviewView" configFile="DynamicModulesConfig.Offices.Office_cBckndPrvwVw.config" />
				<config:lazy key="OfficeBackendEditView" configFile="DynamicModulesConfig.Offices.Office_fcBckndEdtVw.config" />
				<config:lazy key="OfficeBackendDuplicateView" configFile="DynamicModulesConfig.Offices.Office_BckndDplctVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Stores.StoreBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="StoreBackendList" configFile="DynamicModulesConfig.Stores.Store_StorBckndLst.config" />
				<config:lazy key="StoreBackendInsertView" configFile="DynamicModulesConfig.Stores.Store_BckndInsrtVw.config" />
				<config:lazy key="StoreBackendEditView" configFile="DynamicModulesConfig.Stores.Store_trBckndEdtVw.config" />
				<config:lazy key="StoreBackendDuplicateView" configFile="DynamicModulesConfig.Stores.Store_BckndDplctVw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>