<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6201.0" viewName="SlideBackendList" config:flags="1">
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add clientTemplate="&lt;a sys:class=&quot;sfVisibilityHidden&quot;&gt;&lt;/a&gt;" name="GoogleStats" config:flags="1" />
			</columns>
		</add>
	</viewModes>
</view>