<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6100.0" multilingualMode="Automatic" viewName="OfficeBackendPreviewView" config:flags="1">
	<sections>
		<sections name="MoreOptions" config:flags="1">
			<fields>
				<field fieldName="UrlName" config:flags="1">
					<validator regularExpression="^[\p{L}\-\!\$\(\)\=\@\d_\'~\.]*[\p{L}\-\!\$\(\)\=\@\d_\'~]+$" />
				</field>
			</fields>
		</sections>
	</sections>
</view>