<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Testimonials\&quot;}&quot;}]">
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Testimonials\&quot;}&quot;}]">
		<add title="Quantum Middle East Testimonials" applicationName="dynamicProvider2" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider2" />
		<add title="Quantum Middle East Slides" applicationName="dynamicProvider3" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider3" />
		<add title="Quantum UK Testimonials" applicationName="dynamicProvider4" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider4" />
		<add title="Quantum UK Slides" applicationName="dynamicProvider5" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider5" />
		<add title="Quantum SA Testimonials" applicationName="dynamicProvider6" moduleName="Testimonials" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider6" />
		<add title="Quantum SA Slides" applicationName="dynamicProvider7" moduleName="Slides" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider7" />
	</providers>
</dynamicModulesConfig>