<?xml version="1.0" encoding="utf-8"?>
<ecommerceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0" defaultProductTypesInstalled="True" defaultProductTypeFieldsInstalled="True" merchantEmail="quantum@sitefinity.com">
	<supportedCurrencies>
		<clear />
		<add title="United States Dollar" culture="en-US" countryIsoCode="US" exchangeRate="1" type:exchangeRate="System.Single, mscorlib" roundToTheNearest="None" isActive="True" name="USD" />
		<add title="Euro" culture="es-ES" countryIsoCode="ES" exchangeRate="0.7693" type:exchangeRate="System.Single, mscorlib" roundToTheNearest="None" isActive="True" name="EUR" />
		<add title="Pound sterling" culture="en-gb" countryIsoCode="EN" exchangeRate="0.6462" type:exchangeRate="System.Single, mscorlib" roundToTheNearest="None" isActive="False" name="GBP" />
		<add title="Canadian dollar" culture="en-CA" countryIsoCode="CA" exchangeRate="1.0198" type:exchangeRate="System.Single, mscorlib" roundToTheNearest="None" isActive="False" name="CAD" />
	</supportedCurrencies>
	<multiCurrency dataSync="UseService" serviceId="db4b3f14-14a9-4553-88da-2cd8b3d736ba" lastSyncDate="2012-10-19 09:05:58Z" lastSyncCurrency="USD" />
</ecommerceConfig>