<?xml version="1.0" encoding="utf-8"?>
<ecommerceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" defaultProductTypesInstalled="True" defaultProductTypeFieldsInstalled="True">
	<supportedCurrencies>
		<clear />
		<add title="United States Dollar" culture="en-US" countryIsoCode="US" isActive="True" name="USD" />
		<add title="Euro" culture="de-DE" countryIsoCode="DE" exchangeRate="0.8590" isActive="True" name="EUR" />
		<add title="Pound sterling" culture="en-GB" countryIsoCode="GB" exchangeRate="0.7697" name="GBP" />
		<add title="Canadian dollar" culture="en-CA" countryIsoCode="CA" exchangeRate="1.2596" name="CAD" />
	</supportedCurrencies>
	<multiCurrency dataSync="UseService" serviceId="db4b3f14-14a9-4553-88da-2cd8b3d736ba" lastSyncDate="2016-08-23 14:08:52Z" lastSyncCurrency="USD" />
</ecommerceConfig>