<?xml version="1.0" encoding="utf-8"?>
<ecommerceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.1.7400.0">
	<supportedCurrencies>
		<clear />
		<add title="United States Dollar" culture="en-US" countryIsoCode="US" isActive="True" name="USD" />
		<add title="Euro" culture="de-DE" countryIsoCode="DE" exchangeRate="0.8592" isActive="True" name="EUR" />
		<add title="Pound sterling" culture="en-GB" countryIsoCode="GB" exchangeRate="0.7617" name="GBP" />
		<add title="Canadian dollar" culture="en-CA" countryIsoCode="CA" exchangeRate="1.3182" name="CAD" />
	</supportedCurrencies>
	<multiCurrency dataSync="UseService" serviceId="db4b3f14-14a9-4553-88da-2cd8b3d736ba" lastSyncCurrency="USD" />
</ecommerceConfig>