<?xml version="1.0" encoding="utf-8"?>
<eventsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6201.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Events\&quot;}&quot;}]">
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Events\&quot;}&quot;}]">
		<add title="Quantum Middle East Events" applicationName="eventsProvider2" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" name="eventsProvider2" />
		<add title="Quantum UK Events" applicationName="eventsProvider3" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" name="eventsProvider3" />
		<add title="Quantum SA Events" applicationName="eventsProvider4" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" name="eventsProvider4" />
		<add title="Quantum Fashion Events" applicationName="eventsProvider5" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="eventsProvider5" />
		<add title="Fashion Events" applicationName="eventsProvider6" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="eventsProvider6" />
		<add title="Quantum Fashion Events" applicationName="eventsProvider7" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="eventsProvider7" />
		<add title="Quantum Sweets Events" applicationName="eventsProvider8" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" name="eventsProvider8" />
	</providers>
</eventsConfig>