<?xml version="1.0" encoding="utf-8"?>
<eventsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5600.0">
	<providers>
		<add urlFormat="/[UrlName]" enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" />
		<add title="Axel Events" type="Telerik.Sitefinity.Modules.Events.Data.OpenAccessEventProvider, Telerik.Sitefinity.ContentModules" applicationName="eventsProvider2" urlFormat="/[UrlName]" enableCommentsBackwardCompatibility="True" enabled="True" name="eventsProvider2" />
	</providers>
</eventsConfig>