<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6400.0">
	<notifications newPostNotificationTemplateId="03edf3a4-1d60-6822-81ac-ff0000da1875" newThreadNotificationTemplateId="04edf3a4-1d60-6822-81ac-ff0000da1875" />
	<providers>
		<add title="Quantum Middle East Forums" applicationName="forumsProvider2" filterQueriesByViewPermissions="true" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" name="forumsProvider2" />
		<add title="Quantum UK Forums" applicationName="forumsProvider3" filterQueriesByViewPermissions="true" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" name="forumsProvider3" />
		<add title="Quantum SA Forums" applicationName="forumsProvider4" filterQueriesByViewPermissions="true" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" name="forumsProvider4" />
		<add title="Quantum Fashion Forums" applicationName="forumsProvider5" filterQueriesByViewPermissions="true" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" enabled="False" name="forumsProvider5" />
		<add title="Fashion Forums" applicationName="forumsProvider6" filterQueriesByViewPermissions="true" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" enabled="False" name="forumsProvider6" />
		<add title="Quantum Fashion Forums" applicationName="forumsProvider7" filterQueriesByViewPermissions="true" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" enabled="False" name="forumsProvider7" />
		<add title="Quantum Sweets Forums" applicationName="forumsProvider8" filterQueriesByViewPermissions="true" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" enabled="False" name="forumsProvider8" />
	</providers>
</forumsConfig>