<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0">
	<notifications newPostNotificationTemplateId="9a3117ae-5642-4b30-b39b-0ae827ea506b" newThreadNotificationTemplateId="fd466248-1954-4538-96d7-f5270bbb87d1" />
</forumsConfig>