<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7800.0">
	<images allowUnsignedDynamicResizing="True" />
	<contentViewControls>
		<contentViewControl definitionName="ImagesBackend" config:flags="1">
			<views>
				<config:lazy key="ImagesBackendList" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.ImagesBackendList.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</librariesConfig>