<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
	<images config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
		<thumbnails config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
			<thumbnails config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
				<add title="Thumbnail: 200x200 px" MaxHeight="200" MaxWidth="200" Quality="Medium" method="ResizeFitToAreaArguments" name="thumb200" />
				<add title="Thumbnail: 160x160 px" MaxHeight="160" MaxWidth="160" Quality="Medium" method="ResizeFitToAreaArguments" name="thumb160" />
				<add title="Thumbnail: 80x80 px" MaxHeight="80" MaxWidth="80" Quality="Medium" method="ResizeFitToAreaArguments" name="thumb80" />
				<add title="Thumbnail: 36x36 px" MaxHeight="36" MaxWidth="36" Quality="Medium" method="ResizeFitToAreaArguments" name="thumb36" />
				<add title="Large" MaxWidth="500" MaxHeight="500" ScaleUp="True" Quality="High" method="ResizeFitToAreaArguments" name="large" />
				<add title="Thumnail: 600x400 px" MaxWidth="600" MaxHeight="400" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" name="thumnail-6" />
				<add title="Slide: 1900x600 px cropped" Width="1900" Height="600" ScaleUp="False" Quality="High" method="CropCropArguments" name="slide-1900" />
			</thumbnails>
		</thumbnails>
	</images>
	<videos config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
		<thumbnails config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
			<thumbnails config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
				<add Height="360" Width="640" name="vthumbnail" config:flags="1" />
				<add title="FullScreen: 1700x1000 px cropped" Height="1000" Width="1700" Quality="Medium" method="CropCropArguments" name="fullScreen" />
			</thumbnails>
		</thumbnails>
	</videos>
	<blobStorage config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
		<blobStorageTypes>
			<add providerType="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobStorageProvider, Telerik.Sitefinity.Azure" title="WindowsAzure" description="BlobStorageAzureTypeDescription" resourceClassId="LibrariesResources" settingsViewTypeOrPath="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobSettingsView" name="Azure" />
		</blobStorageTypes>
	</blobStorage>
	<contentViewControls config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
		<contentViewControl definitionName="ImagesBackend" config:flags="1">
			<views>
				<config:lazy key="ImagesBackendList" configFile="LibrariesConfig.contentViewControls.ImagesBackend.views.ImagesBackendList.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="DocumentsBackend" config:flags="1">
			<views>
				<config:lazy key="DocumentsBackendEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendEdit.config" />
				<config:lazy key="DocumentsBackendBulkEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendBulkEdit.config" />
				<config:lazy key="DocumentsBackendVersionPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendVersionPreview.config" />
				<config:lazy key="DocumentsBackendPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendPreview.config" />
				<config:lazy key="SingleDocumentUploadDetailsView" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.SingleDocumentUploadDetailsView.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="BackendUserFileLibraryDocuments" config:flags="1">
			<views>
				<config:lazy key="BackendUserFileDocumentsBackendEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendEditView.config" />
				<config:lazy key="BackendUserFileDocumentsBackendBulkEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendBulkEditView.config" />
				<config:lazy key="BackendUserFileDocumentsVersionPreviewViewView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsVersionPreviewViewView.config" />
				<config:lazy key="BackendUserFileLibraryDocumentsPreviewViewName" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileLibraryDocumentsPreviewViewName.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
		<add description="A provider for the translations module that stores libraries data in database using OpenAccess ORM." applicationName="sf_translations" providerGroup="System" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" name="sf_translations_lib_provider" />
		<add title="Quantum Middle East Libraries" applicationName="librariesProvider2" urlName="librariesprovider2" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" name="librariesProvider2" />
		<add title="Quantum UK Libraries" applicationName="librariesProvider3" urlName="librariesprovider3" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" name="librariesProvider3" />
		<add title="Quantum SA Libraries" applicationName="librariesProvider4" urlName="librariesprovider4" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" name="librariesProvider4" />
	</providers>
</librariesConfig>