<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6201.0" viewName="ImagesBackendList" config:flags="1">
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add name="Actions" config:flags="1">
					<menuItems>
						<menuItem cssClass="sfSeparator sfSepNoTitle" name="Separator" config:flags="1" />
						<menuItem cssClass="sfSeparator sfSepNoTitle" name="Separator" config:flags="1" />
					</menuItems>
				</add>
			</columns>
		</add>
	</viewModes>
	<sidebar>
		<sections>
			<section visible="False" name="ManageAlso" config:flags="1" />
			<section name="recycleBinWidget" config:flags="1">
				<items>
					<item navigateUrl="/#/filter/type/Telerik.Sitefinity.Libraries.Model.Image" name="ExternalLink2" config:flags="1" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>