<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0" videoTag="Object">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 120 px by smaller side" Size="120" method="ResizeFitToSideArguments" name="thumbnail" config:flags="1" />
				<add title="Thumbnail: 200x200 px" MaxHeight="200" MaxWidth="200" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb200" />
				<add title="Thumbnail: 160x160 px" MaxHeight="160" MaxWidth="160" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb160" />
				<add title="Thumbnail: 80x80 px" MaxHeight="80" MaxWidth="80" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb80" />
				<add title="Thumbnail: 36x36 px" MaxHeight="36" MaxWidth="36" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb36" />
				<add title="Large: 500x500 px resized" MaxWidth="500" MaxHeight="500" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="False" name="large" />
			</thumbnails>
		</thumbnails>
	</images>
	<videos>
		<thumbnails>
			<thumbnails>
				<add default="False" name="vthumbnail" config:flags="1" />
				<add title="Thumbnail: 120 px by smaller side" Size="120" Quality="Medium" method="ResizeFitToSideArguments" default="True" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</videos>
	<contentViewControls>
		<contentViewControl definitionName="DocumentsBackend" config:flags="1">
			<views>
				<config:lazy key="DocumentsBackendList" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendList.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" config:flags="1" />
		<add enableCommentsBackwardCompatibility="True" name="SystemLibrariesProvider" config:flags="1" />
		<add title="Reseller Template Libraries" applicationName="librariesProvider3" urlName="librariesprovider3" enableCommentsBackwardCompatibility="True" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" enabled="False" name="librariesProvider3" />
		<add title="Reseller Template Libraries" applicationName="librariesProvider4" urlName="librariesprovider4" enableCommentsBackwardCompatibility="True" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" enabled="True" name="librariesProvider4" />
		<add title="Axel Libraries" applicationName="librariesProvider5" urlName="librariesprovider5" enableCommentsBackwardCompatibility="True" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" enabled="True" name="librariesProvider5" />
		<add description="A provider for the translations module that stores libraries data in database using OpenAccess ORM." applicationName="sf_translations" providerGroup="System" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" enabled="True" name="sf_translations_lib_provider" />
	</providers>
</librariesConfig>