<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0" viewName="DocumentsBackendList">
	<viewModes>
		<add Name="Grid">
			<columns>
				<remove name="FileDimSize" />
				<remove name="Owner" />
			</columns>
		</add>
	</viewModes>
</view>