<?xml version="1.0" encoding="utf-8"?>
<listsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6100.0">
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" config:flags="1" />
	</providers>
</listsConfig>