<?xml version="1.0" encoding="utf-8"?>
<listsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6201.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Lists\&quot;}&quot;}]">
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;Lists\&quot;}&quot;}]">
		<add title="Quantum Middle East Lists" applicationName="listsProvider2" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" name="listsProvider2" />
		<add title="Quantum UK Lists" applicationName="listsProvider3" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" name="listsProvider3" />
		<add title="Quantum SA Lists" applicationName="listsProvider4" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" name="listsProvider4" />
		<add title="Quantum Fashion Lists" applicationName="listsProvider5" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="listsProvider5" />
		<add title="Quantum Fashion Lists" applicationName="listsProvider6" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="listsProvider6" />
		<add title="Fashion Lists" applicationName="listsProvider7" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="listsProvider7" />
		<add title="Quantum Fashion Lists" applicationName="listsProvider8" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="listsProvider8" />
		<add title="Quantum Sweets Lists" applicationName="listsProvider9" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" name="listsProvider9" />
		<add title="sample Lists" applicationName="listsProvider10" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="listsProvider10" />
	</providers>
</listsConfig>