<?xml version="1.0" encoding="utf-8"?>
<nativeChatConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.0.8200.0" ApiKey="[sf-scrt-rslvr=Encrypt]xn2FXpKBX7B8mwh3NHasSiqRl9jstAOyyWwpCQ6VVc9YH0Vi0xH0U44s2p/1Zk9AvD8Co3I7lNq8YUdbaGT/tX1CfQBnVshi78gM6IDv/RzN1ea4Ifo/fkgAAAA=" />