<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;News\&quot;}&quot;}]">
	<contentViewControls config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;News\&quot;}&quot;}]">
		<contentViewControl definitionName="NewsBackend" config:flags="1">
			<views>
				<config:lazy key="NewsBackendList" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendList.config" />
				<config:lazy key="NewsBackendEdit" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendEdit.config" />
				<config:lazy key="NewsBackendInsert" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendInsert.config" />
				<config:lazy key="NewsBackendPreview" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendPreview.config" />
				<config:lazy key="NewsBackendDuplicate" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendDuplicate.config" />
				<config:lazy key="NewsBackendVersionPreview" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendVersionPreview.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;News\&quot;}&quot;}]">
		<add title="Quantum Middle East News" applicationName="newsProvider2" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" name="newsProvider2" />
		<add title="Quantum UK News" applicationName="newsProvider3" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" name="newsProvider3" />
		<add title="Quantum SA News" applicationName="newsProvider4" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" name="newsProvider4" />
		<add title="QauntumEE News" applicationName="newsProvider5" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="newsProvider5" />
		<add title="Quantum Fashion News" applicationName="newsProvider6" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="newsProvider6" />
		<add title="Fashion News" applicationName="newsProvider7" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="newsProvider7" />
		<add title="Quantum Fashion News" applicationName="newsProvider8" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="newsProvider8" />
		<add title="Quantum Sweets News" applicationName="newsProvider9" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" name="newsProvider9" />
	</providers>
</newsConfig>