<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0">
	<contentViewControls>
		<contentViewControl definitionName="NewsBackend" config:flags="1">
			<views>
				<config:lazy key="NewsBackendEdit" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendEdit.config" />
				<config:lazy key="NewsBackendInsert" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendInsert.config" />
				<config:lazy key="NewsBackendPreview" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendPreview.config" />
				<config:lazy key="NewsBackendVersionPreview" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendVersionPreview.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="NewsFrontend" config:flags="1">
			<views>
				<config:lazy key="NewsFrontendList" configFile="NewsConfig.contentViewControls.NewsFrontend.views.NewsFrontendList.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="NewsCommentsFrontend" config:flags="1">
			<views>
				<view sortExpression="PublicationDate ASC" viewName="CommentsMasterView" config:flags="1" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers>
		<add urlFormat="/[UrlName]" enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" config:flags="1" />
		<add title="Reseller Template News" applicationName="newsProvider2" urlFormat="/[UrlName]" enableCommentsBackwardCompatibility="True" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" enabled="False" name="newsProvider2" />
		<add title="Reseller Template News" applicationName="newsProvider3" urlFormat="/[UrlName]" enableCommentsBackwardCompatibility="True" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" enabled="True" name="newsProvider3" />
		<add title="Axel News" applicationName="newsProvider4" urlFormat="/[UrlName]" enableCommentsBackwardCompatibility="True" type="Telerik.Sitefinity.Modules.News.Data.OpenAccessNewsProvider, Telerik.Sitefinity.ContentModules" enabled="True" name="newsProvider4" />
	</providers>
</newsConfig>