<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6201.0" viewName="NewsBackendList" config:flags="1">
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add clientTemplate="&lt;a sys:class=&quot;sfVisibilityHidden&quot;&gt;&lt;/a&gt;" name="GoogleStats" config:flags="1" />
				<add resourceClassId="" headerText="Last Modified" name="Date" config:flags="1" />
				<add clientTemplate="&lt;span&gt;{{ (PublicationDate) ? PublicationDate.sitefinityLocaleFormat('dd MMM, yyyy hh:mm'): '-' }}&lt;/span&gt;" headerCssClass="sfDateAndHour" headerText="Publication Date" itemCssClass="sfDateAndHour" name="PublicationDate" type:this="Telerik.Sitefinity.Web.UI.ContentUI.Views.Backend.Master.Config.DataColumnElement, Telerik.Sitefinity" />
			</columns>
		</add>
	</viewModes>
	<sidebar>
		<sections>
			<section visible="False" name="ManageAlso" config:flags="1" />
			<section name="recycleBinWidget" config:flags="1">
				<items>
					<item navigateUrl="/#/filter/type/Telerik.Sitefinity.News.Model.NewsItem" name="ExternalLink2" config:flags="1" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>