<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<profiles>
		<add defaultSenderEmailAddress="sales@sitefinity.com" host="localhost" profileName="Default" />
		<add defaultSenderEmailAddress="sales@sitefinity.com" profileName="SendGrid" />
		<add defaultSenderEmailAddress="sales@sitefinity.com" profileName="Mandrill" />
		<add defaultSenderEmailAddress="sales@sitefinity.com" profileName="MailGun" />
	</profiles>
</notificationsConfig>