<?xml version="1.0" encoding="utf-8"?>
<orderConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<providers>
		<add title="Reseller Template Ecommerce Orders" applicationName="orderProvider2" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Data.OpenAccessOrdersDataProvider, Telerik.Sitefinity.Ecommerce" enabled="True" name="orderProvider2" />
		<add title="Axel Ecommerce Orders" applicationName="orderProvider3" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Data.OpenAccessOrdersDataProvider, Telerik.Sitefinity.Ecommerce" enabled="True" name="orderProvider3" />
	</providers>
</orderConfig>