<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.0.7000.0" defaultFrontendTemplateId="f669d9a7-009d-4d83-bbbb-000000000003" defaultBackendTemplateId="f669d9a7-009d-4d83-cccc-000000000001" enableBrowseAndEdit="False" />