<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7822.0" defaultFrontendTemplateId="f669d9a7-009d-4d83-bbbb-000000000003" defaultBackendTemplateId="f669d9a7-009d-4d83-cccc-000000000001" pageTemplatesFrameworks="HybridAndMvc">
	<errorPages>
		<errorTypes>
			<add pageName="error-pages/404" httpStatusCode="404" config:flags="1" />
			<add pageName="error-pages/403" httpStatusCode="403" />
			<add pageName="error-pages/500" httpStatusCode="500" />
		</errorTypes>
	</errorPages>
</pagesConfig>