<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6400.0" defaultFrontendTemplateId="a2f5f3a4-1d60-6822-81ac-ff0000da1875" defaultBackendTemplateId="f669d9a7-009d-4d83-cccc-000000000001" enableBrowseAndEdit="False">
	<scriptManager>
		<scriptReferences>
			<reference path="http://kendo.cdn.telerik.com/2016.2.607/js/kendo.all.min.js" key="KendoAll" config:flags="1" />
			<reference path="http://kendo.cdn.telerik.com/2016.2.607/js/kendo.web.min.js" key="KendoWeb" config:flags="1" />
		</scriptReferences>
	</scriptManager>
</pagesConfig>