<?xml version="1.0" encoding="utf-8"?>
<personalizationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<criteria>
		<criteria title="MarketoLeadScore" resourceClassId="MarketoConnectorResources" criterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoLeadScoreEditor.ascx" consoleCriterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoFieldConsoleEditor.ascx" criterionVirtualPathPrefix="~/MarketoConnector/" moduleName="MarketoConnector" isHidden="False" name="MarketoLeadScore" />
		<criteria title="MarketoField" resourceClassId="MarketoConnectorResources" criterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoFieldEditor.ascx" consoleCriterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoFieldConsoleEditor.ascx" criterionVirtualPathPrefix="~/MarketoConnector/" moduleName="MarketoConnector" isHidden="False" name="MarketoField" />
		<criteria title="CampaignCriterionTitle" resourceClassId="DataIntelligenceResources" consoleCriterionEditorUrl="Telerik.Sitefinity.DataIntelligenceConnector.Personalization.CriterionEditors.Console.CampaignConsoleEditor.ascx" criterionVirtualPathPrefix="~/DataIntelligenceConnector/" moduleName="DataIntelligenceConnector" isHidden="True" name="CampaignCriterion" />
		<criteria title="PersonaCriterionTitle" resourceClassId="DataIntelligenceResources" criterionEditorUrl="Telerik.Sitefinity.DataIntelligenceConnector.Personalization.CriterionEditors.PersonaEditor.ascx" consoleCriterionEditorUrl="Telerik.Sitefinity.DataIntelligenceConnector.Personalization.CriterionEditors.Console.PersonaConsoleEditor.ascx" criterionVirtualPathPrefix="~/DataIntelligenceConnector/" moduleName="DataIntelligenceConnector" isHidden="False" name="PersonaCriterion" />
	</criteria>
</personalizationConfig>