<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0" projectName="Quantum" dateCreated="2011-12-01 10:39:50Z">
	<defaultSite id="34c08ad3-81d1-4b36-82b5-4610ef8204bc" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="87ee39ce-a576-4cf7-8349-a983a663a743" />
</projectConfig>