<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" projectName="QunatumNext" dateCreated="2016-06-19 20:08:40Z">
	<defaultSite id="024a0b9d-7049-4ca9-81d3-ea2a9497b4ac" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>