<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.2.7900.0" defaultCultureKey="">
	<cultures>
		<add culture="es" uiCulture="es" key="spanish-es" />
		<add culture="af" uiCulture="af" key="afrikaans-af" />
		<add culture="ar" uiCulture="ar" key="arabic-ar" />
	</cultures>
</resourcesConfig>