<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5600.0" multilingual="True">
	<cultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
		<add culture="es" uiCulture="es" key="spanish-es" />
	</cultures>
	<backendCultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
		<add culture="es" uiCulture="es" key="spanish-es" />
	</backendCultures>
	<urlLocalizationStrategySettings>
		<clear />
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.SubFolderUrlLocalizationStrategy, Telerik.Sitefinity" urlLocalizationStrategyName="SubFolderUrlLocalizationStrategy">
			<urlLocalizationStrategySettings>
				<add setting="en" cultureKey="english-en" />
			</urlLocalizationStrategySettings>
		</add>
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.DomainUrlLocalizationStrategy, Telerik.Sitefinity" urlLocalizationStrategyName="DomainUrlLocalizationStrategy">
			<urlLocalizationStrategySettings>
				<add setting="en.quantum" cultureKey="english-en" />
			</urlLocalizationStrategySettings>
		</add>
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.TranslatedUrlsLocalizationStrategy, Telerik.Sitefinity" urlLocalizationStrategyName="TranslatedUrlsLocalizationStrategy" />
	</urlLocalizationStrategySettings>
</resourcesConfig>