<?xml version="1.0" encoding="utf-8"?>
<responsiveDesignConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7822.0">
	<controlTransformationElements>
		<add transformationCss="{{selector}} .sfNavSelect&#xA;{&#xA;       display: block;&#xA;}&#xA;{{selector}} .sfNavList,{{selector}} .sfNavList.sfShown, {{selector}} .sfNavToggle&#xA;{&#xA;       display: none;&#xA;}&#xA;" name="ToDropDown" config:flags="1" />
	</controlTransformationElements>
</responsiveDesignConfig>