<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0" authCookieName=".SFAUTH-Quantum" rolesCookieName=".SFROLES-Quantum" validationKey="09605CCB53DBD3D2EE87FF4634319B178DE4155859F94947C0CC495F3D48731584915118E2908968F530D0FFB98E10C710069A1830AEFB2AA09D6ECBE8750967" decryptionKey="575FF6C7E821CD46C256FB710CD25D3C04A0EA1113094B4DA9BF130126F7F89B" loggingCookieName=".SFLOG-Quantum" filterQueriesByViewPermissions="True">
	<securityTokenIssuers>
		<add key="F582C2CB2BFC309AB1CD19F970B3A5C1D959C34276AC188BF5C1358B08506E25" encoding="Hexadecimal" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="F582C2CB2BFC309AB1CD19F970B3A5C1D959C34276AC188BF5C1358B08506E25" encoding="Hexadecimal" realm="http://localhost" />
		<add key="F9D86C3C2BBAE48C10F163314B5F365F7EC0D04D746CCC46DA7B4DCF9B63585E10D739570FB928D8F327CA1250308898AE29DFA061C85D0DF98A31885266710F74BE6C07353770D9AABBBE79730E5AEC90D7453CC5084E2E2A88A0F2A2B00680EA13E50F04B754DE79B5DFA13E10BE9D33B1A80EF778B2C03A4E0DFA449C4727413DFB55DC6FB0D2475893FFFD2464A3FF6E174B35520991A6183F9E4FD49BA481DD994177FE3A3AA85DD6AF4E1C807F66176E2CE20D95E6731BDE9268ED7B0371B7D65D839C9EB81B9984D620B24C57FCE24EC67C5634898F5D9ABAFEB0D9F33D3C76DFD23F1EF877E7E0A0AD135A2E8EDACFC5687D37D559D64DB9679076C3" encoding="Hexadecimal" membershipProvider="Default" realm="https://api.everlive.com" />
	</relyingParties>
	<permissions>
		<permission title="ForumGroupPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="ForumGroup">
			<actions>
				<add title="CreateForumGroupAction" description="CreateForumGroupActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateGroup" />
				<add title="ModifyForumGroupAction" description="ModifyForumGroupActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyGroup" />
				<add title="DeleteForumGroupAction" description="DeleteForumGroupActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteGroup" />
				<add title="ChangeGroupPermissionsAction" description="ChangeGroupPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Forum">
			<actions>
				<add title="ViewForumAction" description="ViewForumActionDescription" resourceClassId="ForumsResources" type="View" name="ViewForum" />
				<add title="CreateForumAction" description="CreateForumActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateForum" />
				<add title="ModifyForumAction" description="ModifyForumActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyForum" />
				<add title="DeleteForumAction" description="DeleteForumActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteForum" />
				<add title="CreateThreadAction" description="CreateThreadActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateThread" />
				<add title="ModifyThreadAction" description="ModifyThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyThread" />
				<add title="ManageThreadAction" description="ManageThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ManageThread" />
				<add title="DeleteThreadAction" description="DeleteThreadActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteThread" />
				<add title="CreatePostAction" description="CreatePostActionDescription" resourceClassId="ForumsResources" type="Create" name="CreatePost" />
				<add title="ModifyPostAction" description="ModifyPostActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyPost" />
				<add title="DeletePostAction" description="DeletePostActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeletePost" />
				<add title="ChangeForumPermissionsAction" description="ChangeForumPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<config:link name="Blog" path="blogsConfig/permissions/Blog" module="Blogs" />
		<config:link name="BlogPost" path="blogsConfig/permissions/BlogPost" module="Blogs" />
		<config:link name="List" path="listsConfig/permissions/List" module="Lists" />
		<config:link name="ListItem" path="listsConfig/permissions/ListItem" module="Lists" />
		<permission title="Offices permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office">
			<actions>
				<add title="View Offices" description="Allows or denies viewing Offices." type="View" name="View" />
				<add title="Create Offices" description="Allows or denies the creation of new Offices." type="Create" name="Create" />
				<add title="Modify Offices" description="Allows or denies changes to existing Offices." type="Modify" name="Modify" />
				<add title="Delete Offices" description="Allows or denies deleting Offices." type="Delete" name="Delete" />
				<add title="Change a Offices permissions" description="Allows or denies changing the permissions of Offices." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Title permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-Title">
			<actions>
				<add title="View Title" description="Allows or denies viewing Title." type="View" name="View" />
				<add title="Modify Title" description="Allows or denies changes to existing Title." type="Modify" name="Modify" />
				<add title="Change a Title permissions" description="Allows or denies changing the permissions of Title." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Address1 permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-Address1">
			<actions>
				<add title="View Address1" description="Allows or denies viewing Address1." type="View" name="View" />
				<add title="Modify Address1" description="Allows or denies changes to existing Address1." type="Modify" name="Modify" />
				<add title="Change a Address1 permissions" description="Allows or denies changing the permissions of Address1." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Address2 permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-Address2">
			<actions>
				<add title="View Address2" description="Allows or denies viewing Address2." type="View" name="View" />
				<add title="Modify Address2" description="Allows or denies changes to existing Address2." type="Modify" name="Modify" />
				<add title="Change a Address2 permissions" description="Allows or denies changing the permissions of Address2." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="City permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-City">
			<actions>
				<add title="View City" description="Allows or denies viewing City." type="View" name="View" />
				<add title="Modify City" description="Allows or denies changes to existing City." type="Modify" name="Modify" />
				<add title="Change a City permissions" description="Allows or denies changing the permissions of City." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ZIPCode permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-ZIPCode">
			<actions>
				<add title="View ZIPCode" description="Allows or denies viewing ZIPCode." type="View" name="View" />
				<add title="Modify ZIPCode" description="Allows or denies changes to existing ZIPCode." type="Modify" name="Modify" />
				<add title="Change a ZIPCode permissions" description="Allows or denies changing the permissions of ZIPCode." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Country permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-Country">
			<actions>
				<add title="View Country" description="Allows or denies viewing Country." type="View" name="View" />
				<add title="Modify Country" description="Allows or denies changes to existing Country." type="Modify" name="Modify" />
				<add title="Change a Country permissions" description="Allows or denies changing the permissions of Country." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Phone permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-Phone">
			<actions>
				<add title="View Phone" description="Allows or denies viewing Phone." type="View" name="View" />
				<add title="Modify Phone" description="Allows or denies changes to existing Phone." type="Modify" name="Modify" />
				<add title="Change a Phone permissions" description="Allows or denies changing the permissions of Phone." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Email permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-Email">
			<actions>
				<add title="View Email" description="Allows or denies viewing Email." type="View" name="View" />
				<add title="Modify Email" description="Allows or denies changes to existing Email." type="Modify" name="Modify" />
				<add title="Change a Email permissions" description="Allows or denies changing the permissions of Email." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="OfficePictures permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-OfficePictures">
			<actions>
				<add title="View OfficePictures" description="Allows or denies viewing OfficePictures." type="View" name="View" />
				<add title="Modify OfficePictures" description="Allows or denies changes to existing OfficePictures." type="Modify" name="Modify" />
				<add title="Change a OfficePictures permissions" description="Allows or denies changing the permissions of OfficePictures." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Job Openings permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-JobOpening">
			<actions>
				<add title="View Job Openings" description="Allows or denies viewing Job Openings." type="View" name="View" />
				<add title="Create Job Openings" description="Allows or denies the creation of new Job Openings." type="Create" name="Create" />
				<add title="Modify Job Openings" description="Allows or denies changes to existing Job Openings." type="Modify" name="Modify" />
				<add title="Delete Job Openings" description="Allows or denies deleting Job Openings." type="Delete" name="Delete" />
				<add title="Change a Job Openings permissions" description="Allows or denies changing the permissions of Job Openings." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Title permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-JobOpening-Title">
			<actions>
				<add title="View Title" description="Allows or denies viewing Title." type="View" name="View" />
				<add title="Modify Title" description="Allows or denies changes to existing Title." type="Modify" name="Modify" />
				<add title="Change a Title permissions" description="Allows or denies changing the permissions of Title." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="JobDescription permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-JobOpening-JobDescription">
			<actions>
				<add title="View JobDescription" description="Allows or denies viewing JobDescription." type="View" name="View" />
				<add title="Modify JobDescription" description="Allows or denies changes to existing JobDescription." type="Modify" name="Modify" />
				<add title="Change a JobDescription permissions" description="Allows or denies changing the permissions of JobDescription." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Summary permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-JobOpening-Summary">
			<actions>
				<add title="View Summary" description="Allows or denies viewing Summary." type="View" name="View" />
				<add title="Modify Summary" description="Allows or denies changes to existing Summary." type="Modify" name="Modify" />
				<add title="Change a Summary permissions" description="Allows or denies changing the permissions of Summary." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="FileAttachment permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-JobOpening-FileAttachment">
			<actions>
				<add title="View FileAttachment" description="Allows or denies viewing FileAttachment." type="View" name="View" />
				<add title="Modify FileAttachment" description="Allows or denies changes to existing FileAttachment." type="Modify" name="Modify" />
				<add title="Change a FileAttachment permissions" description="Allows or denies changing the permissions of FileAttachment." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Category permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-JobOpening-Category">
			<actions>
				<add title="View Category" description="Allows or denies viewing Category." type="View" name="View" />
				<add title="Modify Category" description="Allows or denies changes to existing Category." type="Modify" name="Modify" />
				<add title="Change a Category permissions" description="Allows or denies changing the permissions of Category." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Tags permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-JobOpening-Tags">
			<actions>
				<add title="View Tags" description="Allows or denies viewing Tags." type="View" name="View" />
				<add title="Modify Tags" description="Allows or denies changes to existing Tags." type="Modify" name="Modify" />
				<add title="Change a Tags permissions" description="Allows or denies changing the permissions of Tags." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="State permissions" description="Represents the most common application security permissions." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Offices-Office-State">
			<actions>
				<add title="View State" description="Allows or denies viewing State." type="View" name="View" />
				<add title="Modify State" description="Allows or denies changes to existing State." type="Modify" name="Modify" />
				<add title="Change a State permissions" description="Allows or denies changing the permissions of State." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="Dynamic field permissions" description="Represents the permissions for dynamic fields." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="DynamicFields">
			<actions>
				<add title="View {0}" description="Allows or denies viewing a dynamic field." type="View" name="View" />
				<add title="Modify {0}" description="Allows or denies changes to existing dynamic field." type="Modify" name="Modify" />
				<add title="Change a {0} permissions" description="Allows or denies changing the permissions of a dynamic field." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" path="newsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" module="News" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Events.Model.Event" path="eventsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Events.Model.Event" module="Events" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Pages">
			<securedObjectCustomPermissionSets>
				<securedObjectType securedObjectIds="f669d9a7-009d-4d83-ddaa-000000000002,f669d9a7-009d-4d83-ddaa-000000000003,21b8e30d-515d-67af-8bab-ff0100a58543,cdf2e30d-515d-67af-8bab-ff0100a58543" typeName="Telerik.Sitefinity.Pages.Model.PageNode" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ForumGroup">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.ForumGroup">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateGroup" />
						<customSecurityAction showActionInList="True" title="ModifyThisGroupAction" resourceClassId="ForumsResources" name="ModifyGroup" />
						<customSecurityAction showActionInList="True" title="DeleteThisGroupAction" resourceClassId="ForumsResources" name="DeleteGroup" />
						<customSecurityAction showActionInList="True" title="ChangeThisGroupPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Forum">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.Forum">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateForum" />
						<customSecurityAction showActionInList="True" title="ViewThisForumAction" resourceClassId="ForumsResources" name="ViewForum" />
						<customSecurityAction showActionInList="True" title="ModifyThisForumAction" resourceClassId="ForumsResources" name="ModifyForum" />
						<customSecurityAction showActionInList="True" title="DeleteThisForumAction" resourceClassId="ForumsResources" name="DeleteForum" />
						<customSecurityAction showActionInList="True" title="ChangeThisForumPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/Blog/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.BlogPost" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.BlogPost" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="List">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/List/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ListItem">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
				<config:link typeName="Telerik.Sitefinity.Lists.Model.ListItem" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.ListItem" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role id="3f7e3bd6-26f3-4c94-8d6d-496f26389c5b" name="Everyone" />
		<role id="f07be047-31cc-41d7-9387-cd1f27cbac5f" name="Anonymous" />
		<role id="a6cf30a5-5a5f-4192-a2b8-f2293c1c7bc9" name="Authenticated" />
		<role id="47f703f8-b24a-4f21-b839-50dceaf8c152" name="Owner" />
		<role id="83af05cb-11d1-4e52-bf2e-8951b4411322" name="Administrators" />
		<role id="3b9f5f52-bf2c-4e6e-9845-6e9f2c0258c3" name="BackendUsers" />
		<role id="5098c6e4-39c8-478c-aab0-6f85e0423e6d" name="Authors" />
		<role id="44d9903c-82fe-4c0c-aefe-933ebaf0138d" name="Editors" />
		<role id="b6b3b835-1350-4b1b-8aa4-9371df91026f" name="Designers" />
		<role id="dd7ee299-dfcf-459e-a0f4-467971641e5b" name="Users" />
	</applicationRoles>
	<membershipProviders>
		<add minRequiredPasswordLength="5" newPasswordLength="5" name="Default" />
		<config:link name="OpenAccessMembership37Provider" path="migrationModuleConfig/membershipProviders/OpenAccessMembership37Provider" module="Migration" />
	</membershipProviders>
</securityConfig>