<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="1F86EB8C9A1B595533BD3239BC1211E51AAFFF9166A2BB9FD9BC9CC326DE6571FF7794E13A534D95C5D85C79995C4751B8C8610550ACCDA37A09E2C57A93958B" decryptionKey="3F6A94501D636BAD78BF82D9447BF353508DCE8D5229A0A49A1A8139F0BF5187" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="63B228E351E553F32A931C23E57B355150ECFF66FD60BA6D8A92A1CAA3049CEF" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="63B228E351E553F32A931C23E57B355150ECFF66FD60BA6D8A92A1CAA3049CEF" realm="http://localhost" />
	</relyingParties>
</securityConfig>