<?xml version="1.0" encoding="utf-8"?>
<shippingConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.1.5200.0">
	<providers>
		<add title="Reseller Template Ecommerce Shipping" type="Telerik.Sitefinity.Modules.Ecommerce.Shipping.Data.OpenAccessShippingDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="shippingProvider2" enabled="True" name="shippingProvider2" />
		<add title="Axel Ecommerce Shipping" type="Telerik.Sitefinity.Modules.Ecommerce.Shipping.Data.OpenAccessShippingDataProvider, Telerik.Sitefinity.Ecommerce" applicationName="shippingProvider3" enabled="True" name="shippingProvider3" />
	</providers>
	<ShippingCarrierProviders>
		<add url="https://wsbeta.fedex.com:443/web-services/rate" username="Teresamiller908" password="IS0utL1w4Fq0BARq5XIrETOS6" licenseKey="UPGGGiC4eMAYoGea" meterID="118543800" accountNumber="510087801" isActive="True" name="FedEx" />
	</ShippingCarrierProviders>
</shippingConfig>