<?xml version="1.0" encoding="utf-8"?>
<siteSyncConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6400.0" enabledAsTarget="False">
	<notifications siteSyncCompletedSubmittedNotificationTemplateId="b1f7f3a4-1d60-6822-81ac-ff0000da1875" />
	<receivingServers>
		<clear />
		<add serverAddress="http://prod" userName="admin" password="passwordv" serverId="13de6e8d-6368-4dcc-9d4e-e681bdb68e8a" />
	</receivingServers>
</siteSyncConfig>