<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5600.0">
	<siteConfigs>
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Manual" siteName="quantum" dayToStart="1" timeToStart="00:00" pingGoogle="True" pingBing="True" siteId="34c08ad3-81d1-4b36-82b5-4610ef8204bc" />
	</siteConfigs>
</sitemapConfig>