<?xml version="1.0" encoding="utf-8"?>
<startupConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0" initialized="True" dbType="SqlServer" sqlInstance=".\SQLExpress" dbName="DB_11_0_6700_0_OfficialReleases_Release_11_0_Setup_15_15_28" password="admin@2" siteUrl="http://localhost:18002/Sitefinity/" username="admin@test.test" />