<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.1.5200.0" build="5200" previousBuild="5100">
	<applicationModules>
		<add version="7.1.5200.0" name="Multisite" />
		<add version="7.1.5200.0" name="Scheduling" />
		<add version="7.1.5200.0" name="Search" />
		<add version="7.1.5200.0" name="News" />
		<add version="7.1.5200.0" name="Blogs" />
		<add version="7.1.5200.0" name="Events" />
		<add version="7.1.5200.0" name="Libraries" />
		<add version="7.1.5200.0" name="Forms" />
		<add version="7.1.5200.0" name="Lists" />
		<add version="7.1.5200.0" name="Analytics" />
		<add version="7.1.5200.0" name="Dashboard" />
		<add version="7.1.5200.0" name="AuditTrail" />
		<add version="7.1.5200.0" name="Newsletters" />
		<add version="7.1.5200.0" name="GenericContent" />
		<add version="7.1.5200.0" name="ControlTemplates" />
		<add version="7.1.5200.0" name="Ecommerce" />
		<add version="7.1.5200.0" name="ModuleBuilder" />
		<add version="7.1.5200.0" name="ResponsiveDesign" />
		<add version="7.1.5200.0" name="Publishing" />
		<add version="7.1.5200.0" name="Forums" />
		<add version="7.1.5200.0" name="Thunder" />
		<add version="7.1.5200.0" name="Personalization" />
		<add version="7.1.5200.0" name="SitemapGenerator" />
		<add version="6.2.4910.0" name="Migration" />
		<add startupType="OnApplicationStart" version="7.1.5200.0" name="Synchronization" />
		<add startupType="Disabled" version="7.1.5200.0" name="SitefinityDAM" />
		<add version="7.1.5200.0" name="MobileAppBuilder" />
		<add version="7.1.5200.0" name="SharepointConnector" />
		<add version="7.1.5200.0" name="EverliveConnector" />
		<add version="7.1.5200.0" name="MarketoConnector" />
		<add version="7.1.5200.0" name="SalesForceConnector" />
		<add version="7.1.5200.0" name="Comments" />
		<add version="7.1.5200.0" name="RecycleBin" />
	</applicationModules>
	<smtpSettings host="192.168.0.125" userName="test4e@telerik.com" password="123microphone43k" domain="telerik.com" DefaultSenderEmailAddress="sales@sitefinity.com" />
	<uiTimeZoneSettings timeZoneId="Pacific Standard Time" />
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductTypeFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductOtherFilterOptionsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.OrderStatusFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.NavigateToTaxLogsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
	</typeImplementationsMapping>
	<outputCacheSettings defaultProfile="Long Caching">
		<profiles>
			<add duration="86400" maxSize="2048" name="Long Caching" />
		</profiles>
	</outputCacheSettings>
	<cacheManagers>
		<add pollWhetherItemsAreExpiredIntervalSeconds="60" startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" cacheStore="InMemory" name="MarketoConnectorCache" />
	</cacheManagers>
	<geoLocationSettings googleMapApiV3Key="AIzaSyCKP_DsimIlPT9uwxumfjeVUkDh8mW8TY4" />
	<contentLocationsSettings disabled="True" enabled="True" enableSingleItemModeWidgetsBackwardCompatibilityMode="True" />
</systemConfig>