<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7822.0">
	<applicationModules>
		<add startupType="OnApplicationStart" hidden="False" name="ResponsiveDesign" config:flags="1" />
		<add startupType="OnApplicationStart" name="ProtectionShield" config:flags="1" />
		<add startupType="OnApplicationStart" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="MarketoConnector" config:flags="1" />
		<add title="Ucommerce" type="Ucommerce.Sitefinity.Module.UcommerceModule, Ucommerce.Sitefinity" startupType="OnApplicationStart" name="Ucommerce" />
	</applicationModules>
	<smtpSettings host="192.168.0.125" userName="test4e@telerik.com" domain="telerik.com" DefaultSenderEmailAddress="sales@sitefinity.com" />
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity" config:key="2" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1" />
	</typeImplementationsMapping>
</systemConfig>