<configuration>
  <components>
    <!-- DIBS -->
    <component id="DIBS"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Dibs.DibsPaymentMethodService, Ucommerce.Transactions.Payments.Dibs" />

    <component id="DibsMd5Computer"
               service="Ucommerce.Transactions.Payments.Dibs.DibsMd5Computer, Ucommerce.Transactions.Payments.Dibs"
               type="Ucommerce.Transactions.Payments.Dibs.DibsMd5Computer, Ucommerce.Transactions.Payments.Dibs" />

    <component id="DibsPageBuilder"
               service="Ucommerce.Transactions.Payments.Dibs.DibsPageBuilder, Ucommerce.Transactions.Payments.Dibs"
               type="Ucommerce.Transactions.Payments.Dibs.DibsPageBuilder, Ucommerce.Transactions.Payments.Dibs">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>
    
  </components>
</configuration>