<configuration>
  <components>
    <!-- DIBS -->
    <component id="DIBS"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Dibs.DibsPaymentMethodService, UCommerce.Transactions.Payments.Dibs" />

    <component id="DibsMd5Computer"
               service="UCommerce.Transactions.Payments.Dibs.DibsMd5Computer, UCommerce.Transactions.Payments.Dibs"
               type="UCommerce.Transactions.Payments.Dibs.DibsMd5Computer, UCommerce.Transactions.Payments.Dibs" />

    <component id="DibsPageBuilder"
               service="UCommerce.Transactions.Payments.Dibs.DibsPageBuilder, UCommerce.Transactions.Payments.Dibs"
               type="UCommerce.Transactions.Payments.Dibs.DibsPageBuilder, UCommerce.Transactions.Payments.Dibs">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>
    
  </components>
</configuration>