<configuration>
  <components>
    <!-- Quickpay -->
    <component id="Quickpay"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Quickpay.QuickpayPaymentMethodService, UCommerce.Transactions.Payments.Quickpay" />

    <component id="QuickpayPageBuilder"
               service="UCommerce.Transactions.Payments.Quickpay.QuickpayPageBuilder, UCommerce.Transactions.Payments.Quickpay"
               type="UCommerce.Transactions.Payments.Quickpay.QuickpayPageBuilder, UCommerce.Transactions.Payments.Quickpay">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>

    <component id="QuickpayMd5Computer"
               service="UCommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, UCommerce.Transactions.Payments.Quickpay"
               type="UCommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, UCommerce.Transactions.Payments.Quickpay" />

  </components>
</configuration>