<configuration>
  <components>
    <!-- Quickpay -->
    <component id="Quickpay"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Quickpay.QuickpayPaymentMethodService, Ucommerce.Transactions.Payments.Quickpay" />

    <component id="QuickpayPageBuilder"
               service="Ucommerce.Transactions.Payments.Quickpay.QuickpayPageBuilder, Ucommerce.Transactions.Payments.Quickpay"
               type="Ucommerce.Transactions.Payments.Quickpay.QuickpayPageBuilder, Ucommerce.Transactions.Payments.Quickpay">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>

    <component id="QuickpayMd5Computer"
               service="Ucommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, Ucommerce.Transactions.Payments.Quickpay"
               type="Ucommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, Ucommerce.Transactions.Payments.Quickpay" />

  </components>
</configuration>