<configuration>
  <components>
    <!-- SagePay -->
    <component id="SagePayV3"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.SagePay.SagePayV3PaymentMethodService, Ucommerce.Transactions.Payments.SagePay" />

    <component id="SagePayMd5Computer"
               service="Ucommerce.Transactions.Payments.SagePay.SagePayMd5Computer, Ucommerce.Transactions.Payments.SagePay"
               type="Ucommerce.Transactions.Payments.SagePay.SagePayMd5Computer, Ucommerce.Transactions.Payments.SagePay" />

  </components>
</configuration>