<configuration>
  <components>
    <!-- SagePay -->
    <component id="SagePayV3"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.SagePay.SagePayV3PaymentMethodService, UCommerce.Transactions.Payments.SagePay" />

    <component id="SagePayMd5Computer"
               service="UCommerce.Transactions.Payments.SagePay.SagePayMd5Computer, UCommerce.Transactions.Payments.SagePay"
               type="UCommerce.Transactions.Payments.SagePay.SagePayMd5Computer, UCommerce.Transactions.Payments.SagePay" />

  </components>
</configuration>