/*-------------Image Gallery--------------*/

.sfimagesTmbList {
	position: relative;
	float: left;
	width: 100%;
	list-style: none;
	list-style-type: none;
}

.sfimagesTmbList li {o
	position: relative;
	float: left;
	margin: 5px;
	list-style-position: inside;
}

.sfimagesTmbList li img {
padding: 6px;
background-color: white;
border-right: 1px solid #666;
border-bottom: 1px solid #666;
}


.sfimagesTmbList li a:hover img { 
background-color: #aaa;
}
/*-------------Image Gallery--------------*/
.button {
background-image: url(../img/button_bg.jpg);
border-radius: 5px;
box-shadow: 0px 0px 5px #999;
border: 0px;
padding: 6px 20px;
line-height: 18px;
float: left;
text-decoration: none;
position: relative;
background-color: #008eee;
color: #fff;
font-weight: normal;
font-size: 15px;
margin: 5px;
text-decoration: none;
font-family: 'Ropa Sans';
}

