.propertypane {
    _width: 95%;
    position: relative;
    display: block;
    line-height: 1.1;
    padding: 5px;
    margin: 7px 7px 7px 7px;
    border: 10px solid #d9d7d7;
    text-align: left;
    clear: both;
    float: none;
    font-family: open_sansregular, Arial, Helvetica, sans-serif !important;
}

    .propertypane th {
        vertical-align: top;
        text-align: left;
        font-weight: bold;
        font-size: 12px;
        width: 16%;
    }

div.inline {
    display: inline-block;
}

.propertypane, .propertypane td {
    font-size: 12px;
}

    .propertypane small {
        font-weight: normal;
        color: #666;
    }

.propertyItem {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding-right: 24px;
    margin-bottom: 12px;
}

.propertyItemHeader {
    margin-bottom: 6px;
    margin-top: 6px;
    color: black;
    font-size: 13px;
    font-family: open_sanssemibold,sans-serif;
    padding-right: 24px;
}

.propertyItemDropDown {
    width: 204px;
}

.propertyItemContent input[type="text"], .propertyItemContent textarea {
    box-sizing: border-box;
    min-height: 32px;
    font-size: 14px;
    padding: 4px 8px;
}

    .propertyItemContent input[type="text"].hasDatepicker {
    }

    .propertyItemContent input[type="text"]:focus, .propertyItemContent textarea:focus {
        border-bottom: 2px solid #1175ae;
        background-color: #fff;
        outline: 0;
    }

.propertyItemContent textarea {
    width: 100%;
    height: 52px;
    box-sizing: border-box;
}

.propertyItemContent select, .variantContainer select, .dataList tbody tr td select {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    border-color: rgb(204, 204, 204);
    font-family: open_sansregular, Arial, Helvetica, sans-serif;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
}

/*.propertyItemContent select:focus, .variantContainer select:focus, .dataList tbody tr td select:focus
{
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}*/

.propertyItemContent {
    font-family: open_sansregular,sans-serif;
    display: block;
    width: 100%;
}

.propertyItemContent span {
    display: inline-block;
}

h2.propertyPaneTitel {
    margin: 0;
    color: #262524;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    font-family: open_sanssemibold,sans-serif;
}

div.propertyPaneFooter {
    clear: both;
    height: 0px;
    overflow: hidden;
    color: #fff;
    margin-bottom: 12px;
}

.boxbody div.propertyPaneFooter {
    display: none;
}

.scrollable .propertyPane .propertyItem:first-of-type {
    margin-top: 16px;
}

.propertyItem .propertyItemHeader {
    display: block;
}

.scrollable {
    background-color: #F4F6F7;
}

.scrollable .propertyPane {
    border-bottom: 1px solid #e4e4e4;
    margin: 20px 20px 0 20px;
    background-color: white;
}

div.propertyPane.categoriesForProducts div.propertyItemHeader{
    display:none;
}

div.propertyPane.shippingPane {
    padding: 10px;
}
