@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@model UCommerce.Sitefinity.UI.Mvc.ViewModels.ConfirmationMessageViewModel

<div>
    @if (string.IsNullOrEmpty(Model.Headline))
    {
        Model.Headline = Html.Resource("ThankYou", "UcommerceResources");
    }
    <h1>@Model.Headline</h1>
    <br />
    @if (string.IsNullOrEmpty(Model.Message))
    {
        Model.Message = Html.Resource("OrderConfirmation", "UcommerceResources");
    }
    <p>@Model.Message</p>
</div>