<configuration>
  <components>
    <!-- WorldPay -->
    <component id="WorldPay"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.WorldPay.WorldPayPaymentMethodService, UCommerce.Transactions.Payments.WorldPay" />

    <component id="WorldPayPageBuilder"
               service="UCommerce.Transactions.Payments.WorldPay.WorldPayPageBuilder, UCommerce.Transactions.Payments.WorldPay"
               type="UCommerce.Transactions.Payments.WorldPay.WorldPayPageBuilder, UCommerce.Transactions.Payments.WorldPay" />

    <component id="WorldPayMd5Computer"
               service="UCommerce.Transactions.Payments.WorldPay.WorldPayMd5Computer, UCommerce.Transactions.Payments.WorldPay"
               type="UCommerce.Transactions.Payments.WorldPay.WorldPayMd5Computer, UCommerce.Transactions.Payments.WorldPay" />


  </components>
</configuration>