<configuration>
  <components>
    <!-- WorldPay -->
    <component id="WorldPay"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.WorldPay.WorldPayPaymentMethodService, Ucommerce.Transactions.Payments.WorldPay" />

    <component id="WorldPayPageBuilder"
               service="Ucommerce.Transactions.Payments.WorldPay.WorldPayPageBuilder, Ucommerce.Transactions.Payments.WorldPay"
               type="Ucommerce.Transactions.Payments.WorldPay.WorldPayPageBuilder, Ucommerce.Transactions.Payments.WorldPay" />

    <component id="WorldPayMd5Computer"
               service="Ucommerce.Transactions.Payments.WorldPay.WorldPayMd5Computer, Ucommerce.Transactions.Payments.WorldPay"
               type="Ucommerce.Transactions.Payments.WorldPay.WorldPayMd5Computer, Ucommerce.Transactions.Payments.WorldPay" />


  </components>
</configuration>