@charset "UTF-8";
/* Import Theme Styles */
/* COLORS */
/* Complementary and Supporting Brand Colors */
/*
NOTE: Extend brand color names to use in Website Colors
so that they are easy to change globally and not tied to a color name.
*/
/* Website Colors */
/*
Use these variables when setting colors in theme.
Inherit values from above if necessary.
*/
/* FONTS */
/* MIXINS & HELPERS */
.color-primary {
  color: #00b4c9; }

.color-secondary {
  color: #81dfb0; }

.color-bright {
  color: #ffae00; }

.clearfix:after, .bg-default:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }

.font-display {
  font-family: "Open Sans", sans-serif; }

.bg-default {
  background-color: #eeeeee; }

.main-color {
  color: #00b4c9; }
  .main-color a {
    color: #00b4c9; }

.text-light {
  color: white; }
  .text-light a {
    color: #ffae00; }
    .text-light a:hover {
      color: #ff9839; }
  .text-light .btn {
    background: #ffae00;
    color: white; }
    .text-light .btn:hover {
      background: #ff9839;
      color: white; }

.center-text {
  text-align: center; }

/********* @group Global Layout Styles **********/
* {
  box-sizing: border-box; }

body.main-body {
  font-family: "Open Sans", sans-serif;
  background-image: url("../../Quantum/Images/graphic_black.svg");
  background-size: 100.1%; }
  @media (max-width: 715px) {
    body.main-body {
      background-repeat: no-repeat; } }

p {
  color: #555555;
  font-size: 16px; }

.blue-big p {
  color: white; }

h1 {
  color: #00b4c9; }

h3 {
  color: #00b4c9; }

@media (max-width: 885px) {
  em {
    font-size: 1em !important; } }

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none; }

.blue-big h3, .green-big h3 {
  color: white; }

main > .row:not(:first-child):not(:last-child) {
  padding-top: 5%;
  padding-bottom: 5%; }

main img {
  max-width: 100%; }

.more {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: lighter;
  color: #A9A9A9;
  padding-top: 6px; }

.quantum {
  font-size: 29px; }

.sfPublicWrapper {
  max-width: 1900px;
  margin: auto; }

/* @end Global Layout Styles */
/********* @group Header **********/
header {
  max-width: 1400px;
  margin: auto;
  padding-top: 10px; }

.header_group {
  padding-top: 1%; }

.logo:hover {
  text-decoration: none !important; }

.loginn {
  margin-bottom: 10px; }

.language_select {
  border: none;
  text-transform: uppercase;
  color: #00b4c9;
  background: transparent;
  margin-bottom: 10px; }

.language_select:focus {
  border: none;
  outline: none; }

.language_select:hover {
  cursor: pointer; }

.glyphicon-search {
  position: absolute;
  top: 6px;
  right: 5px;
  color: #00b4c9;
  font-size: 1.5em; }

.glyphicon-search:hover {
  cursor: pointer !important; }

.searchbar {
  border-radius: 20px;
  padding: 5px;
  border: 2px solid #00b4c9;
  color: #00b4c9; }

.HomepageHeader-hgroup2 {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 140px;
  text-align: center;
  text-shadow: 0 0 30px rgba(8, 58, 61, 0.2); }
  @media (max-width: 885px) {
    .HomepageHeader-hgroup2 {
      top: 20%; } }
  @media (max-width: 415px) {
    .HomepageHeader-hgroup2 {
      top: 10%; } }

.HomepageHeader-hgroup2 h1 {
  font-size: 70px;
  font-weight: bold; }
  @media (max-width: 885px) {
    .HomepageHeader-hgroup2 h1 {
      font-size: 30px; } }
  @media (max-width: 415px) {
    .HomepageHeader-hgroup2 h1 {
      font-size: 22px; } }

.HomepageHeader-hgroup2 h2 {
  font-size: 40px;
  color: white; }
  @media (max-width: 885px) {
    .HomepageHeader-hgroup2 h2 {
      font-size: 20px;
      margin-top: 0; } }
  @media (max-width: 415px) {
    .HomepageHeader-hgroup2 h2 {
      display: none; } }

.HomepageHeader2 {
  position: relative; }

.sflanguagesDropDown {
  color: #00b4c9;
  text-transform: uppercase;
  border: none; }

.rsRow {
  height: 100px; }

.logged-test a {
  color: #00b4c9;
  margin-right: 5px; }

/* @end Header */
/********* @group Main Content **********/
/* @end Main Content */
/********* @group Footer **********/
footer {
  margin: auto; }

.footer_social {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%; }

.footer_social a:nth-child(odd) {
  color: #00b4c9; }

.footer_social a:nth-child(even) {
  color: #81dfb0; }

.footer_social a:hover {
  text-decoration: none;
  color: #ffae00; }

.footer_social a span {
  padding-left: 1%;
  padding-right: 1%; }

.qsitemap {
  max-width: 1240px;
  margin: auto;
  text-align: center;
  padding-bottom: 2%; }

.nav-sitemap > li {
  border: 0; }

.nav-stacked a:hover {
  background-color: transparent !important;
  color: #ffae00; }

.nav-sitemap a, .nav-stacked a {
  color: #00b4c9; }

.foot_nav {
  padding-top: 2%;
  padding-bottom: 2%;
  list-style: none;
  display: inline-block;
  text-align: center; }

.copyright {
  text-align: center; }

@media (max-width: 415px) {
  .nav-stacked li {
    display: none; } }

/* @end Footer */
/*CHANGES TO SITEFINITY STYLES*/
.sfL100Blue {
  background-image: url("/ResourcePackages/Bootstrap/assets/icons/blue.png") !important; }

.sfL100Green {
  background-image: url("/ResourcePackages/Bootstrap/assets/icons/green.png") !important; }

.sf-FileField-input {
  border-radius: 4px;
  height: 34px;
  padding: 5px;
  width: 100%;
  margin-top: 5px; }

.subscribe_button {
  margin-top: 3%; }

.form-control {
  width: 100% !important; }

.RadScheduler_Metro .rsHeader {
  background: #00b4c9; }

.sf-lang-selector a, .sf-lang-selector a.selected {
  text-transform: capitalize;
  background-color: inherit !important;
  color: #00b4c9; }

.sf-lang-selector a.selected {
  font-weight: bold; }

.sf-img-thmb img {
  height: 40px !important;
  width: 40px !important; }

.sf-lang-selector a {
  padding: 0; }

.sf-Comment-count {
  margin-left: 0;
  margin-bottom: 10px; }

.sf-list-item a {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #00b4c9;
  font-size: 20px; }

.sf-Image-wrapper img {
  max-width: 100%; }

.sf-list-content {
  color: gray;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 !important;
  border-bottom: 1px solid lightgray; }

.video-banner {
  height: auto; }

.viewMapLnk {
  color: #00B4C9;
  font-size: 16px;
  font-weight: bold; }

.viewMapLnk:hover {
  cursor: pointer; }

.form-group {
  position: relative; }

.form-group input {
  border: 1px solid #00b4c9; }

.pagination {
  margin: 2%; }

.btn-quantum {
  background-color: #ffae00;
  border-color: #ffae00; }

.btn-quantum:hover {
  background-color: #ff9839;
  border-color: #ff9839; }

.carousel-control.right, .carousel-control.left {
  background-image: none !important; }

.custom-slider {
  margin: auto;
  padding: 2%;
  width: 90%; }

video {
  max-width: 100%; }

/*CHANGES TO SITEFINITY STYLES END*/
/********* @group Navigation **********/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: inherit !important; }

@media (max-width: 885px) {
  .navbar-nav {
    margin: 0px !important; } }

.blue-horizontal {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 16px; }

.blue-horizontal li {
  text-align: center; }
  @media (max-width: 775px) {
    .blue-horizontal li {
      text-align: left; } }

.navbar-collapse {
  padding: 0 !important; }

.dropdown-toggle {
  padding-left: 0 !important;
  padding-right: 30px !important; }

/* @end Navigation */
/********* @group Mega Menu **********/
.mega-menu {
  border-radius: 0;
  margin-top: 0px;
  width: 650px; }
  @media (max-width: 1085px) {
    .mega-menu {
      width: 370px; } }
  @media (max-width: 775px) {
    .mega-menu {
      width: 100%; } }

.mega-menu li {
  display: inline-block;
  padding: 7px; }

.mega-menu li.mega-menu-column {
  width: 210px; }
  @media (max-width: 1085px) {
    .mega-menu li.mega-menu-column {
      width: 115px; } }
  @media (max-width: 775px) {
    .mega-menu li.mega-menu-column {
      width: 100%; } }

.mega-menu .nav-header {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #eeeeee; }

.mega-menu img {
  padding-bottom: 10px;
  width: 60%; }
  @media (max-width: 775px) {
    .mega-menu img {
      display: none; } }

.mega-menu a {
  color: #777; }

@media (max-width: 885px) {
  .mega-menu span {
    display: none; } }
@media (max-width: 775px) {
  .mega-menu span {
    display: none; } }

.mega-menu-column ul {
  padding: 0; }

.mega-menu-column span {
  text-transform: none; }

.mega-menu-column:hover {
  background-color: azure;
  cursor: pointer; }

.even-menu {
  width: 430px; }

/* @end Mega Menu */
/********* @group Events **********/
.sfcalendarEventPreviewTitle {
  margin-top: 0px; }

.event_details {
  border: 1px solid #ccc;
  padding: 2%; }

.event_date_place {
  background-color: #00b4c9;
  padding: 1%;
  margin: 3%; }

.event_date_place p {
  color: white; }

.event_date_place address {
  color: white; }

.k-header {
  background-color: inherit;
  border-bottom-width: 0px; }

/* @end Events */
/********* @group Slider **********/
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  margin: auto !important; }

.glyphicon-chevron-right, .glyphicon-chevron-left {
  color: #00b4c9;
  font-size: 1.5em; }

.glyphicon-chevron-right {
  right: 30% !important; }

.glyphicon-chevron-left {
  left: 30% !important; }

.glyphicon-chevron-right, .glyphicon-chevron-left {
  font-size: 3em;
  color: #00b4c9;
  position: absolute;
  top: 50%; }
  @media (max-width: 885px) {
    .glyphicon-chevron-right, .glyphicon-chevron-left {
      font-size: 1em; } }

.feat_text {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: 10%;
  padding: 2%; }

.feat_text_2 {
  position: absolute;
  top: 40%;
  left: 5%;
  margin-left: 5%;
  padding: 2%; }

.inverted, .splash-text {
  background: rgba(0, 0, 0, 0.4); }

.feat_text.inverted, .feat_text.inverted, .blue-big, .blue-big a, .blue-big a:visited, .blue-big a:link, .blue-big a:hover, .blue-big a:active {
  color: white; }

.blue-big strong {
  color: black; }

.blue-big a:hover {
  background-color: inherit; }

.feat_heading {
  text-transform: uppercase;
  font-size: 52px;
  color: #00b4c9; }
  @media (max-width: 1085px) {
    .feat_heading {
      font-size: 40px; } }
  @media (max-width: 885px) {
    .feat_heading {
      text-transform: uppercase;
      font-size: 21px; } }
  @media (max-width: 415px) {
    .feat_heading {
      font-size: 14px; } }

.inverted .feat_heading {
  color: white;
  text-shadow: 0 5px 10px #00b4c9; }

.feat_content {
  font-size: 30px;
  color: grey; }
  @media (max-width: 1085px) {
    .feat_content {
      font-size: 20px; } }
  @media (max-width: 885px) {
    .feat_content {
      font-size: 12px; } }
  @media (max-width: 415px) {
    .feat_content {
      display: none; } }

.inverted .feat_content {
  color: white;
  text-shadow: 0 5px 10px #00b4c9; }

@media (max-width: 885px) {
  .carousel-indicators {
    bottom: 0; } }

.carousel-indicators li {
  background-color: #00b4c9;
  border: 2px solid grey; }

.carousel-control {
  display: block;
  width: 5% !important; }

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.1) 100%); }

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.0001) 100%); }

.carousel-inner {
  width: 97%;
  margin: auto;
  position: relative; }

.active {
  color: #00b4c9; }

.active a {
  background-color: white !important;
  color: #00b4c9 !important; }

.buttons-position {
  position: absolute;
  bottom: 5%;
  left: 7%; }

.buttons-position span {
  color: #00b4c9; }

.pause-button, .play-button:hover {
  cursor: pointer; }

@media (max-width: 775px) {
  .slick-slide .news_container li:not(:first-child),
  .slick-slide .showcase-list-item:not(:first-child) {
    display: none; } }

@media (max-width: 415px) {
  .slick-slide .showcase-list {
    padding: 0; } }

/* @end Slider */
/********* @group News **********/
.shop_news {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%; }

.news_container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.news_item, .news_item_recent {
  width: 100%;
  margin: 1%;
  padding: 1%;
  border: 1px solid #eeeeee;
  background: rgba(255, 255, 255, 0.8); }
  @media (max-width: 775px) {
    .news_item, .news_item_recent {
      width: 100%; } }

.news_item_recent:hover {
  box-shadow: 0 4px 15px #eeeeee; }

.news_image {
  text-align: center;
  margin-top: 20px; }

.news_item a {
  color: #565656; }

.news_item_recent a, .featured_news_recent a {
  color: #ffae00; }

.news_heading {
  color: #00b4c9; }

.news_author {
  padding-top: 2%;
  padding-bottom: 2%;
  text-transform: uppercase; }

.news_summary {
  background-color: #81dfb0;
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
  font-style: italic;
  border-radius: 10px; }

.news_column {
  padding: 2%; }

.download_item {
  width: 350px;
  margin: auto;
  text-align: center; }

.download_item img {
  width: 75%;
  padding-top: 3%; }

.download_item a {
  color: #00b4c9; }

.featured_news, .featured_news_recent {
  width: 100%;
  margin: 1%;
  padding: 1%;
  background: #00b4c9;
  border: 1px solid #eeeeee;
  color: white;
  position: relative; }
  @media (max-width: 775px) {
    .featured_news, .featured_news_recent {
      width: 100%; } }

.featured_news_recent:hover {
  box-shadow: 0 4px 15px #00b4c9; }

.featured_news a, .featured_news_recent a {
  color: white; }

.featured_news img {
  width: 100%; }

.blog_item {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: 2%; }

.blog_item a {
  color: #00b4c9; }

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right; }

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FFAE00 0%, #A7822B 100%);
  box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 19px;
  right: -21px; }

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #A7822B;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A7822B; }

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #A7822B;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A7822B; }

/* @end News */
/********* @group Services Styles **********/
.devs {
  padding: 3%; }
  @media (max-width: 885px) {
    .devs {
      text-align: center; } }

.devs img {
  width: 100%; }
  @media (max-width: 885px) {
    .devs img {
      width: 50%; } }

.design_column {
  padding: 2%;
  text-align: center; }

.design_column img {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 60%; }

.request_form {
  width: 50%;
  margin-left: 25%; }
  @media (max-width: 885px) {
    .request_form {
      width: 100%;
      margin-left: 0; } }

.request_quote {
  text-align: center;
  padding: 1%; }

.request_quote textarea {
  height: 200px;
  width: 50%;
  border-color: #00b4c9;
  border-radius: 4px;
  padding: 6px 12px; }
  @media (max-width: 885px) {
    .request_quote textarea {
      width: 100%; } }

.request_quote label {
  display: none; }

.splash {
  position: relative;
  width: 100%; }

.splash-text {
  position: absolute;
  width: 60%;
  top: 35%;
  margin-left: 20%;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 885px) {
    .splash-text {
      margin: 0;
      top: 70%;
      width: 100%; } }

.splash-text h3 {
  font-size: 70px;
  color: white; }
  @media (max-width: 885px) {
    .splash-text h3 {
      font-size: 40px; } }
  @media (max-width: 415px) {
    .splash-text h3 {
      font-size: 16px; } }

.splash-text p {
  font-size: 24px;
  color: white; }
  @media (max-width: 1085px) {
    .splash-text p {
      font-size: 16px; } }
  @media (max-width: 885px) {
    .splash-text p {
      display: none; } }

.about_us_card {
  padding: 2%;
  margin: 2%;
  width: 95%;
  height: 500px;
  border: 1px solid #00b4c9;
  background: white; }

.about_us_card p {
  font-size: 14px; }

.careers {
  padding: 3%; }

.marketing_channels {
  padding: 4%; }

/* @end Services */
/********* @group Showcase Styles **********/
.showcase_heading {
  text-align: center;
  padding-bottom: 3%; }

.showcase_image {
  text-align: center; }

.showcase_image img {
  margin-bottom: 6%; }

.showcase_download a {
  padding: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #ffae00;
  border-color: #ffae00;
  color: white;
  border-radius: 5px; }

.showcase_download a:hover {
  background-color: #ff9839; }

.showcase_summary div {
  margin-bottom: 3%; }

@media (max-width: 775px) {
  .showcase_summary {
    margin-top: 5%; } }

.showcase-list {
  list-style: none;
  display: flex;
  padding-left: 0; }

.showcase-list-item {
  align-self: center;
  text-align: center; }

.showcase-list-item h3 a {
  color: #ffae00; }

.showcase-list-item img {
  width: 60%;
  margin: auto; }

.slider-description {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%; }

.caption h3, .caption span {
  color: white; }

/* @end Showcase */
/********* @group Landing Page Styles **********/
.blue_landing {
  background-color: #6dcff6;
  max-height: 250px; }

.blue_landing img {
  max-width: 100%; }

.landing_footer {
  padding: 15px 0 15px 0;
  text-align: center;
  background-color: #333;
  font-weight: 100;
  border-top: 2px solid #fff; }

.landing_card {
  background: #2D6576;
  padding: 5%;
  text-align: center;
  border-top: 2px solid #fff; }

.landing_card img {
  margin: auto;
  margin-top: 50px; }

.landing_card h3 {
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 40px; }

.landing_card h3:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: white;
  height: 1px;
  width: 8%;
  text-align: left;
  left: 0;
  margin-right: 10px; }

.landing_card h3::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: white;
  height: 1px;
  width: 8%;
  text-align: left;
  left: 0;
  margin-left: 10px; }

.landing_card p {
  font-size: 38px;
  color: white;
  font-weight: 800;
  margin-bottom: 0;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 80px;
  font-style: normal; }

textarea {
  height: 200px;
  width: 100%;
  border-color: #00b4c9;
  border-radius: 4px;
  padding: 6px 12px; }

.retailer {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 3%;
  border: 1px solid white;
  border-radius: 8px; }

.retailer:hover {
  text-decoration: none;
  color: #ccc; }

.landing_light {
  background: #dff5f0;
  padding: 5%; }

.landing_light h2 {
  padding-bottom: 20px;
  margin-bottom: 60px;
  border-bottom: 3px solid white; }

.sflanding {
  border: 1px solid grey;
  padding: 5%; }

.sflanding h3 {
  color: black;
  margin-top: 0;
  margin-bottom: 40px; }

.sflanding button {
  width: 100%;
  margin-top: 25px; }

/* @end Landing Page */
/*DIFFERENT HOMEPAGE STYLES*/
.blue-big {
  position: relative;
  background-color: #00b4c9; }

.green-big {
  position: relative;
  background-color: #81dfb0; }

.product-container {
  text-align: center;
  padding: 4%; }

.product-container img {
  width: 75%; }

.product-heading {
  color: white;
  margin: 5%;
  font-size: 28px;
  font-weight: bold; }

.product_details {
  color: white;
  font-size: 16px;
  font-weight: lighter;
  height: 150px; }

.see_more a {
  color: white;
  font-size: 28px;
  font-weight: lighter; }

.whitepaper_part h1 {
  padding-top: 3%;
  padding-bottom: 3%; }

.whitepaper_container {
  text-align: center; }

.whitepaper_image img {
  padding-top: 10%;
  padding-bottom: 10%; }

.download_whitepaper {
  color: #00B4C9;
  font-size: 16px;
  border: 5px solid #00B4C9;
  padding: 1% 5% 1% 5%; }

.quote {
  background-color: #00B4C9;
  color: white;
  text-align: center;
  font: "FaktSlabPro-Blond", Arial,Helvetica,sans-serif; }

.quotation {
  font-size: 2em; }

.heading {
  text-align: center; }

.shop-item {
  width: 100%; }

.testimonial {
  padding: 1%;
  text-align: center;
  margin-bottom: 20px;
  color: white; }

.testimonial img {
  border-radius: 50%;
  margin: auto;
  max-width: 160px; }

.testimonial-author {
  text-align: center; }

.testimonial-author p {
  color: white; }

.slider-testimonial-img {
  width: 100%;
  border-radius: 50%;
  max-width: 200px;
  margin: auto; }
  @media (max-width: 600px) {
    .slider-testimonial-img {
      display: none !important; } }

.slider-testimonial {
  background-color: rgba(0, 180, 0, 0.5);
  padding: 1%; }

blockquote {
  border-left: 10px solid #ccc;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: white;
  quotes: "“" "”" "‘" "’";
  font-size: 24px; }
  @media (max-width: 1185px) {
    blockquote {
      font-size: 18px; } }

blockquote:before {
  color: white;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

.article_wrapper {
  padding: 2%;
  margin: 1%;
  border: 1px solid lightgray; }

/*END DIFFERENT HOMEPAGE STYLES*/
/*OTHER PAGES STYLES*/
.media-left {
  float: left; }

.thumbnail {
  border: none;
  position: relative;
  padding: 0; }

.comments_header {
  padding-top: 5%; }

.expand {
  margin-bottom: 2%; }

.expand a {
  text-transform: uppercase;
  color: #00b4c9;
  font-weight: 700; }

.faq {
  padding: 2%; }

.login_reg {
  padding: 3%; }

.loginn a {
  margin-right: 2%;
  color: #00b4c9; }

.loginn a:hover {
  cursor: pointer; }

.subscribe {
  margin-top: 2%; }

.location_details {
  margin: 1%;
  padding: 1%; }

.location_item {
  padding: 1%;
  margin: 1%;
  border: 1px solid #eeeeee; }

.location_item div {
  padding-top: 3%;
  padding-bottom: 3%; }

.highlights li {
  float: left;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%; }
  @media (max-width: 775px) {
    .highlights li {
      width: 100%; } }

.highlights ul {
  list-style: none;
  padding: 0; }

@media (max-width: 885px) {
  .highlights img {
    max-width: 50%; } }

#map {
  width: 100%;
  height: 750px;
  border: 3px solid #eeeeee; }

.promo {
  color: #00b4c9;
  border: 3px solid #00b4c9;
  padding: 2%; }

/*OTHER PAGES STYLES END*/
/* Slick styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  align-self: center; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/slider-fonts/slick.eot");
  src: url("../fonts/slider-fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slider-fonts/slick.woff") format("woff"), url("../fonts/slider-fonts/slick.ttf") format("truetype"), url("../fonts/slider-fonts/slick.svg#slick") format("svg"); }
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←';
  color: #ffae00; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→';
  color: #ffae00; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  display: block;
  width: 94%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 8px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

/*# sourceMappingURL=quantum-style.css.map */
