<configuration>
  <components>

    <component
      id="CurrencyExchangeRateService"
      service="Ucommerce.Catalog.ICurrencyExchangeRateService, Ucommerce"
      type="Ucommerce.ExchangeRateAPICurrencyConversion.ExchangeRateAPICurrencyExchangeRateService, Ucommerce.ExchangeRateAPICurrencyConversion"/>
  </components>
</configuration>
