<configuration>
  <components>

    <component
      id="CurrencyExchangeRateService"
      service="UCommerce.Catalog.ICurrencyExchangeRateService, UCommerce"
      type="UCommerce.ExchangeRateAPICurrencyConversion.ExchangeRateAPICurrencyExchangeRateService, UCommerce.ExchangeRateAPICurrencyConversion"/>
  </components>
</configuration>
