@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web;
@using Newtonsoft.Json;

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    string pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    string currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

<div data-component="mini-basket" id="mini-basket" class="sfcartSummaryWrp sfcartSummaryExpandableWrp">
    <script type="application/json" purl="true">
        { "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)) }
    </script>
    <div v-if="model" class="pull-xs-right navbar-collapse js-mini-basket">
        <ul class="nav navbar-nav">
            <li>
                <div class="p-relative">
                    <a class="shopping-cart" :href="model.CartPageUrl">
                        <i class="fa fa-shopping-cart margin-right-small" aria-hidden="true"></i><span class="n-items" v-if="model.NumberOfItems > 0">{{ model.NumberOfItems }}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>