@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services

@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="mini-basket" id="mini-basket">
    <div v-if="model" class="pull-xs-right navbar-collapse js-mini-basket">
        <ul class="nav navbar-nav">
            <li>
                <div class="p-relative">
                    <a class="shopping-cart" :href="model.CartPageUrl">
                        <i class="fa fa-shopping-cart margin-right-small" aria-hidden="true"></i><span class="n-items" v-if="model.NumberOfItems > 0">{{ model.NumberOfItems }}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>