<!--
	Settings for Ucommerce components.
-->
<configuration>
  <properties>
    <!-- Set database isolation level for NHibernate connections-->
    <databaseConnectionIsolationLevel>ReadUncommitted</databaseConnectionIsolationLevel>

    <!-- Security foundation can be disabled if set to false-->
    <securityFoundationEnabled>True</securityFoundationEnabled>

    <!-- 
      Overriding this connection string will force NHibernate to use this
      Connectionstring element in web.config named Ucommerce will superseed this configuration
    -->
    <connectionString>(auto)</connectionString>

    <!--Cache configuration for NHibernate-->
    <enableCache>True</enableCache>

    <!-- Cache provider used for NHibernate. Can be swaped out to a distributed cache or anything else-->
    <cacheProvider>NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache, Version=5.5.0.0, Culture=neutral, PublicKeyToken=6876f2ea66c9f443</cacheProvider>

    <!-- If nothing else is found, default to this culture code for multi lingual data-->
    <defaultCultureCode>en-US</defaultCultureCode>

    <!-- If set to true, multiple categories with the same name within a catalog is not possible-->
    <enforceCategoryNameUniquenessWithinCatalogs>True</enforceCategoryNameUniquenessWithinCatalogs>
  </properties>
  <components>
    <!-- Do not change any of these values directly. This file WILL be overridden during install or upgrades.
         Instead override values using partial components. -->

    <!-- Settings -->
    <component
      id="BasketSettings"
      service="Ucommerce.Settings.BasketSettings, Ucommerce"
      type="Ucommerce.Settings.BasketSettings, Ucommerce">
      <parameters>
        <!-- How many days should the customer retain the basket -->
        <BasketLifeTimeDays>30</BasketLifeTimeDays>
        <!-- Basket retention time should be reset whenever the basket is loaded -->
        <EnableSlidingWindowLifeTime>true</EnableSlidingWindowLifeTime>
      </parameters>
    </component>

    <component
      id="PriceCalculationSettings"
      service="Ucommerce.Settings.PriceCalculationSettings, Ucommerce"
      type="Ucommerce.Settings.PriceCalculationSettings, Ucommerce">
      <parameters>
        <NumberOfDigitsPrecision>2</NumberOfDigitsPrecision>
      </parameters>
    </component>

  </components>
</configuration>