<configuration>
  <components>
    <!-- Authorize.Net -->
    <component id="Authorize.Net"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPaymentMethodService, UCommerce.Transactions.Payments.Authorizedotnet" />

    <component id="AuthorizeNetPageBuilder"
               service="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, UCommerce.Transactions.Payments.Authorizedotnet"
               type="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, UCommerce.Transactions.Payments.Authorizedotnet" />
  </components>
</configuration>