<configuration>
  <components>
    <!-- Authorize.Net -->
    <component id="Authorize.Net"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPaymentMethodService, Ucommerce.Transactions.Payments.Authorizedotnet" />

    <component id="AuthorizeNetPageBuilder"
               service="Ucommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, Ucommerce.Transactions.Payments.Authorizedotnet"
               type="Ucommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, Ucommerce.Transactions.Payments.Authorizedotnet" />
  </components>
</configuration>