<configuration>
  <components>
    <!-- PayPal -->
    <component id="PayPal Express"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.PayPal.PayPalExpressPaymentMethodService, Ucommerce.Transactions.Payments.PayPal" />

    <component id="PayPal Subscriptions"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.PayPal.PayPalRecurringPaymentMethodService, Ucommerce.Transactions.Payments.PayPal" />

    <component id="PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder"
               service="Ucommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, Ucommerce.Transactions.Payments.PayPal"
               type="Ucommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, Ucommerce.Transactions.Payments.PayPal"/>

  </components>
</configuration>