<configuration>
  <components>
    <!-- PayPal -->
    <component id="PayPal Express"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.PayPal.PayPalExpressPaymentMethodService, UCommerce.Transactions.Payments.PayPal" />

    <component id="PayPal Subscriptions"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.PayPal.PayPalRecurringPaymentMethodService, UCommerce.Transactions.Payments.PayPal" />

    <component id="PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder"
               service="UCommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, UCommerce.Transactions.Payments.PayPal"
               type="UCommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, UCommerce.Transactions.Payments.PayPal"/>

  </components>
</configuration>