<configuration>
	<components>

		<component id="ToCompletedOrder.AcquirePaymentTask"
			 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
			 type="Ucommerce.Pipelines.Transactions.Orders.ToCompleted.AcquirePaymentTask, Ucommerce.Pipelines" />

		<partial-component id="ToCompletedOrder">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${ToCompletedOrder.AcquirePaymentTask}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>
	</components>
</configuration>