<configuration>
	<components>

		<component id="ToCompletedOrder.AcquirePaymentTask"
			 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
			 type="UCommerce.Pipelines.Transactions.Orders.ToCompleted.AcquirePaymentTask, UCommerce.Pipelines" />

		<partial-component id="ToCompletedOrder">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${ToCompletedOrder.AcquirePaymentTask}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>
	</components>
</configuration>