<configuration>
	<components>

		<component id="ToCancelled.CancelPaymentTask"
					 service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.EntitiesV2.PurchaseOrder, Ucommerce]], Ucommerce"
					 type="Ucommerce.Pipelines.Transactions.Orders.ToCancelled.CancelPaymentTask, Ucommerce.Pipelines" />

		<partial-component id="ToCancelled">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${ToCancelled.CancelPaymentTask}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

	</components>
</configuration>
