<configuration>
	<components>

		<component id="ToCancelled.CancelPaymentTask"
					 service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
					 type="UCommerce.Pipelines.Transactions.Orders.ToCancelled.CancelPaymentTask, UCommerce.Pipelines" />

		<partial-component id="ToCancelled">
			<parameters>
				<tasks>
					<array>
						<value insert="last">${ToCancelled.CancelPaymentTask}</value>
					</array>
				</tasks>
			</parameters>
		</partial-component>

	</components>
</configuration>
