<configuration>
  <components>
    <!-- Netaxept -->
    <component id ="Netaxept"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Netaxept.NetaxeptPaymentMethodService, Ucommerce.Transactions.Payments.Netaxept" />

  </components>
</configuration>