<configuration>
  <components>
    <!-- Netaxept -->
    <component id ="Netaxept"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Netaxept.NetaxeptPaymentMethodService, UCommerce.Transactions.Payments.Netaxept" />

  </components>
</configuration>