<configuration>
	<components>
		<component
			id="OrderListWidget"
			service="Ucommerce.Presentation.UI.Widget, Ucommerce.Presentation"
			type="Ucommerce.Presentation.UI.Widget, Ucommerce.Presentation">
			<parameters>
				<DefaultWidth>6</DefaultWidth>
				<DefaultHeight>4</DefaultHeight>
				<Properties>
					<dictionary>
						<entry key="Interval">_</entry>
						<entry key="OrderStatus">_</entry>
					</dictionary>
				</Properties>
				<Name>Orders</Name>
				<View>/Apps/Widgets/OrderList/view.html</View>
				<EditView>/Apps/Widgets/OrderList/edit.html</EditView>
				<ShowLoadingCover>True</ShowLoadingCover>
				<EnableReload>True</EnableReload>
				<Css>
					<array>
						<value>/Apps/Widgets/OrderList/OrderList.css</value>
					</array>
				</Css>
				<Javascript>
					<array>
						<value>/Apps/Widgets/OrderList/OrderList.controller.js</value>
						<value>/Apps/Widgets/OrderList/OrderList.js</value>
						<value>/Apps/Widgets/OrderList/Scroll.js</value>
					</array>
				</Javascript>
			</parameters>
		</component>
	</components>
</configuration>
