<configuration>
	<components>
		<component 
			id="TurnOverByCurrency"
			service="Ucommerce.Presentation.UI.Widget, Ucommerce.Presentation"
			type="Ucommerce.Presentation.UI.Widget, Ucommerce.Presentation">
			<parameters>
				<DefaultWidth>1</DefaultWidth>
				<DefaultHeight>1</DefaultHeight>
				<Name>Turnover by currency</Name>
				<View>/Apps/Widgets/turnoverByCurrency/view.html</View>
				<ShowLoadingCover>True</ShowLoadingCover>
				<EnableReload>True</EnableReload>
				<Css>
					<array>
						<value>/Apps/Widgets/turnoverByCurrency/turnoverByCurrency.css</value>
					</array>
				</Css>
				<Javascript>
					<array>	
						<value>/Apps/Widgets/turnoverByCurrency/turnoverByCurrency.controller.js</value>
						<value>/Apps/Widgets/turnoverByCurrency/turnoverByCurrency.js</value>
					</array>
				</Javascript>
			</parameters>
		</component>
	</components>
</configuration>
