<configuration>
	<components>
		<component
			id="OrdersCount"
			service="Ucommerce.Presentation.UI.Widget, Ucommerce.Presentation"
			type="Ucommerce.Presentation.UI.Widget, Ucommerce.Presentation">
			<parameters>
				<DefaultWidth>2</DefaultWidth>
				<DefaultHeight>1</DefaultHeight>
				<Name>Orders Count</Name>
				<View>/Apps/Widgets/OrdersCount/view.html</View>
				<EditView>/Apps/Widgets/OrdersCount/edit.html</EditView>
				<ShowLoadingCover>True</ShowLoadingCover>
				<EnableReload>True</EnableReload>
				<Properties>
					<dictionary>
						<entry key="Interval">_</entry>
						<entry key="OrderStatus">_</entry>
					</dictionary>
				</Properties>
				<Css>
					<array>
						<value>/Apps/Widgets/OrdersCount/OrdersCount.css</value>
					</array>
				</Css>
				<Javascript>
					<array>
						<value>/Apps/Widgets/OrdersCount/OrdersCount.controller.js</value>
						<value>/Apps/Widgets/OrdersCount/OrdersCount.js</value>
					</array>
				</Javascript>
			</parameters>
		</component>
	</components>
</configuration>