<configuration>
	<components>
		<component 
			id="CatalogSearch"
			service="UCommerce.Presentation.UI.Widget, UCommerce.Presentation"
			type="UCommerce.Presentation.UI.Widget, UCommerce.Presentation">
			<parameters>
				<DefaultWidth>4</DefaultWidth>
				<DefaultHeight>4</DefaultHeight>
				<Name>Catalog search</Name>
				<View>/Apps/Widgets/CatalogSearch/view.html</View>
				<ShowLoadingCover>True</ShowLoadingCover>
				<EnableReload>False</EnableReload>
				<Css>
					<array>
						<value>/Apps/Widgets/CatalogSearch/CatalogSearchStyle.css</value>
					</array>
				</Css>
				<Javascript>
					<array>
						<value>/Apps/Widgets/CatalogSearch/CatalogSearch.controller.js</value>
						<value>/Apps/Widgets/CatalogSearch/CatalogSearch.js</value>
					</array>
				</Javascript>
			</parameters>
		</component>
	</components>
</configuration>
