div.catalogSearch.catalogSearchResult {
    width: 100%;
    height: 100%;
    padding-bottom: 17px !important;
    margin-bottom: -17px !important;
    margin-top: -51px !important;
    padding-top: 51px !important;
    box-sizing: border-box;
}

.catalogSearch.catalogSearchResult li {
	padding: 5px;
	cursor: pointer;
}

.catalogSearch.catalogSearchResult li span.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.searchHeader {
    padding: 10px 5px 10px 5px;
}

.noResults {
	margin-left: 5px;
}

.availableSuggestions {
	margin-top: 10px;
}

.catalogSearchResult ul li .productName {
	display: inline-block\9;
	display: inline-block\0/;
}