<configuration>
	<components>
		<component 
			id="MarketingTimelineWidget"
			service="UCommerce.Presentation.UI.Widget, UCommerce.Presentation"
			type="UCommerce.Presentation.UI.Widget, UCommerce.Presentation">
			<parameters>
				<DefaultWidth>6</DefaultWidth>
				<DefaultHeight>3</DefaultHeight>
				<Name>Active Campaigns</Name>
				<View>/Apps/Widgets/MarketingTimeline/view.html</View>
				<ShowLoadingCover>True</ShowLoadingCover>
				<EnableReload>True</EnableReload>
				<Css>
					<array>
						<value>/Apps/Widgets/MarketingTimeline/TimelineStyles.css</value>
					</array>
				</Css>
				<Javascript>
					<array>
						<value>/Apps/Widgets/MarketingTimeline/MarketingTimeline.controller.js</value>
						<value>/Apps/Widgets/MarketingTimeline/MarketingTimeline.js</value>
					</array>
				</Javascript>
			</parameters>
		</component>
	</components>
</configuration>
