@using UCommerce.Extensions
@model UCommerce.Sitefinity.UI.Mvc.ViewModels.CategoryNavigationViewModel
@{
	var currentCategory = UCommerce.Runtime.SiteContext.Current.CatalogContext.CurrentCategory;
	var categoryName = string.Empty;
	if (currentCategory != null)
	{
		categoryName = currentCategory.DisplayName();
	}
}
@if (Model.Categories.Any())
{
	foreach (var category in Model.Categories)
	{
		<li>
			<ul>
				<li class="@GetClass(category, categoryName)"><a href="@category.Url" class="nav-header">@category.DisplayName</a></li>
			</ul>
		</li>
	}
}
@helper GetClass(UCommerce.Sitefinity.UI.Mvc.ViewModels.CategoryNavigationCategoryViewModel category, string categoryName)
{
	if (category.DisplayName.Equals(categoryName))
	{
		@Html.Raw("active");
	}
}