@using Ucommerce.Api
@using Ucommerce.Extensions
@using Ucommerce.Infrastructure
@model UCommerce.Sitefinity.UI.Mvc.ViewModels.CategoryNavigationViewModel
@{
	var catalogLibrary = ObjectFactory.Instance.Resolve<ICatalogContext>();
	var currentCategory = catalogLibrary.CurrentCategory;
	var categoryName = string.Empty;
	if (currentCategory != null)
	{
		categoryName = currentCategory.DisplayName;
	}
}
@if (Model.Categories.Any())
{
	foreach (var category in Model.Categories)
	{
		<li>
			<ul>
				<li class="@GetClass(category, categoryName)"><a href="@category.Url" class="nav-header">@category.DisplayName</a></li>
			</ul>
		</li>
	}
}
@helper GetClass(UCommerce.Sitefinity.UI.Mvc.ViewModels.CategoryNavigationCategoryViewModel category, string categoryName)
{
	if (category.DisplayName.Equals(categoryName))
	{
		@Html.Raw("active");
	}
}