<configuration>
	<components>

    <partial-component id="SaveLanguage">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${Language.CreateIndex}</value>
            <value insert="first">${Language.CreateIndexForFacets}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <partial-component id="DeleteLanguage">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${Language.DeleteIndex}</value>
            <value insert="first">${Language.DeleteIndexForFacets}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <!-- Pipeline Tasks-->
    <component id="Language.CreateIndex"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
				   type="UCommerce.RavenDB25.Pipelines.Globalization.CreateIndexTask, UCommerce.RavenDB25" />

    <component id="Language.CreateIndexForFacets"
			   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
			   type="UCommerce.RavenDB25.Pipelines.Globalization.CreateIndexForFacetsTask, UCommerce.RavenDB25" />

    <component id="Language.DeleteIndex"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
				   type="UCommerce.RavenDB25.Pipelines.Globalization.DeleteIndexTask, UCommerce.RavenDB25" />

    <component id="Language.DeleteIndexForFacets"
				   service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Infrastructure.Globalization.Language, UCommerce.Infrastructure]], UCommerce"
				   type="UCommerce.RavenDB25.Pipelines.Globalization.DeleteIndexForFacetsTask, UCommerce.RavenDB25" />

    <!-- Full text search and suggestions. -->
    <component id="Search.FullTextSearchProductsByName"
				   service="UCommerce.Search.IFullTextSearchProductsByName, UCommerce"
				   type="UCommerce.RavenDB25.Search.FullTextSearchProductsByName, UCommerce.RavenDB25" />

    <component id="Search.SuggestOtherSearchTerms"
         service="UCommerce.Search.ISuggestOtherSearchTerms, UCommerce"
         type="UCommerce.RavenDB25.Search.SuggestOtherSearchTerms, UCommerce.RavenDB25" />

    <!-- Search -->

    <!-- SessionProvider -->
    <component id="SearchSessionProvider"
				service="UCommerce.RavenDB25.Search.IRavenDbStoreProvider, UCommerce.RavenDB25"
				type="UCommerce.RavenDB25.Search.RavenDbIisStoreProvider, UCommerce.RavenDB25">
      <parameters>
        <DatabaseName>DatabaseName</DatabaseName>
        <Url>Url</Url>
      </parameters>
    </component>

    <component id="SearchSessionProvider"
				service="UCommerce.RavenDB25.Search.IRavenDbStoreProvider, UCommerce.RavenDB25"
				type="UCommerce.RavenDB25.Search.RavenDbStoreProvider, UCommerce.RavenDB25">
      <parameters>
        <anonymousUserAccessMode>None</anonymousUserAccessMode>
        <ravenDatabasePath>~/App_Data/RavenDatabases/uCommerce</ravenDatabasePath>
      </parameters>
    </component>

    <!-- Repository -->
    <component id="SearchRepository"
				service="UCommerce.EntitiesV2.IRepository, UCommerce"
				type="UCommerce.RavenDB25.Search.RavenDbRepository, UCommerce.RavenDB25" />

    <!-- Faceted Search Engine -->
    <component id="FacetedSearch"
				service="UCommerce.Search.IFacetedSearch, UCommerce"
				type="UCommerce.RavenDB25.Search.RavenFacetedSearch, UCommerce.RavenDB25" />

    <component id="EnsureIndexesAreCreated"
				service="UCommerce.RavenDB25.Search.IEnsureTheExistenceOfRavenIndexes, UCommerce.RavenDB25"
				type="UCommerce.RavenDB25.Search.EnsureTheExistenceOfRavenIndexes, UCommerce.RavenDB25">
      <parameters>
        <saveLanguagePipeline>${SaveLanguage}</saveLanguagePipeline>
        <languageService>${LanguageService}</languageService>
      </parameters>
    </component>

    <component
			id="RavenLastIndexingTime"
			service="UCommerce.Search.Indexers.ILastIndexingTime, UCommerce"
			type="UCommerce.RavenDB25.Search.RavenLastIndexingTime, UCommerce.RavenDB25" />

    <!-- Indexers-->
    <!-- This is the main scratch indexer registered on the new IScratchIndexer interface. -->
    <component id="ScratchIndexer"
				service="UCommerce.Search.Indexers.IScratchIndexer, UCommerce"
				type="UCommerce.RavenDB25.Search.Indexers.ScratchIndexer, UCommerce.RavenDB25">
      <parameters>
        <BatchSize>200</BatchSize>
        <ShouldOnlyIndexDeltas>False</ShouldOnlyIndexDeltas>
        <ShouldClearCacheAfterEachBatch>False</ShouldClearCacheAfterEachBatch>
        <saveLanguagePipeline>${SaveLanguage}</saveLanguagePipeline>
      </parameters>
    </component>

    <component id="FacetProvider"
				service="UCommerce.Search.IFacetProvider, UCommerce"
				type="UCommerce.RavenDB25.Search.RavenFacetProvider, UCommerce.RavenDB25" />

    <component id="FacetIndexer"
    service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.Search.Facets.Facet, UCommerce]], mscorlib]], UCommerce"
    type="UCommerce.RavenDB25.Search.Indexers.RavenFacetIndexer, UCommerce.RavenDB25" />

    <component id="FacetDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.Search.Facets.Facet, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.RavenDB25.Search.Indexers.RavenFacetIndexer, UCommerce.RavenDB25" />

    <component id="RangeFacetIndexer"
				service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.Search.Facets.RangeFacet, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.RavenDB25.Search.Indexers.RavenRangeFacetIndexer, UCommerce.RavenDB25" />

    <component id="SingleRangeFacetIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.Search.Facets.RangeFacet, UCommerce]], UCommerce"
				type="UCommerce.RavenDB25.Search.Indexers.RavenRangeFacetIndexer, UCommerce.RavenDB25" />

    <component id="RangeFacetDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.Search.Facets.RangeFacet, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.RavenDB25.Search.Indexers.RavenRangeFacetIndexer, UCommerce.RavenDB25" />

    <component id="SingleRangeFacetDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.Search.Facets.RangeFacet, UCommerce]], UCommerce"
				type="UCommerce.RavenDB25.Search.Indexers.RavenRangeFacetIndexer, UCommerce.RavenDB25" />

    <component id="ProductPriceRangeFacetIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.ProductIndexers.ProductPriceRangeFacetIndexer, UCommerce">
      <parameters>
        <numberOfRanges>5</numberOfRanges>
      </parameters>
    </component>

    <component id="ProductPriceRangeFacetDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.ProductIndexers.ProductPriceRangeFacetIndexer, UCommerce">
      <parameters>
        <numberOfRanges>5</numberOfRanges>
      </parameters>
    </component>

    <component id="ProductRatingFacetIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.ProductIndexers.ProductRatingIndexer, UCommerce">
      <parameters>
        <numberOfRanges>5</numberOfRanges>
      </parameters>
    </component>

    <component id="ProductRatingDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.ProductIndexers.ProductRatingIndexer, UCommerce">
      <parameters>
        <numberOfRanges>5</numberOfRanges>
      </parameters>
    </component>

    <!-- Facet indexing -->
    <component id="DefaultProductFacetIndexer"
				service="UCommerce.Search.IIndexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.ProductDefinitionFieldIndexers.DefaultProductFacetIndexer, UCommerce" />

    <component id="DefaultSingleProductFacetIndexer"
				service="UCommerce.Search.IIndexer`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.ProductDefinitionFieldIndexers.DefaultProductFacetIndexer, UCommerce" />

    <component id="DefaultProductFacetDeindexer"
				service="UCommerce.Search.IDeindexer`1[[System.Collections.Generic.IEnumerable`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], mscorlib]], UCommerce"
				type="UCommerce.Search.Indexers.ProductDefinitionFieldIndexers.DefaultProductFacetIndexer, UCommerce" />

    <component id="DefaultSingleProductFacetDeindexer"
				service="UCommerce.Search.IDeindexer`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
				type="UCommerce.Search.Indexers.ProductDefinitionFieldIndexers.DefaultProductFacetIndexer, UCommerce" />
    
    <!-- Indexing -->
    <component id="ProductDefinitionField.Index"
     service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
     type="UCommerce.Pipelines.Search.FacetIndexerTask, UCommerce.Pipelines">
      <parameters>
        <defaultProductFacetIndexer>${DefaultSingleProductFacetIndexer}</defaultProductFacetIndexer>
      </parameters>
    </component>

    <partial-component id="SaveProductDefinitionField">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${ProductDefinitionField.Index}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <partial-component id="DeleteProductDefinitionField">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${ProductDefinitionField.DeIndex}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <component id="ProductDefinitionField.DeIndex"
       service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.ProductDefinitionField, UCommerce]], UCommerce"
       type="UCommerce.Pipelines.Search.FacetDeindexerTask, UCommerce.Pipelines" />

    <!-- Search Library -->
    <!-- Overrides the default empty implementation of the service. -->
    <component
			id="SearchLibraryInternal"
			service="UCommerce.Search.SearchLibraryInternal, UCommerce"
			type="UCommerce.RavenDB25.Search.SearchLibraryInternalRaven, UCommerce.RavenDB25">
			<interceptors>
				<interceptor>${ExceptionLoggingInterceptor}</interceptor>
			</interceptors>
		</component>

	  <!-- Full text with suggested terms -->
	  <component id="FullTextSearchProductsByName"
	             service="UCommerce.Search.IFullTextSearchProductsByName, UCommerce"
	             type="UCommerce.RavenDB25.Search.FullTextSearchProductsByName, UCommerce.RavenDB25" />

	  <component id="SuggestOtherSearchTerms"
	             service="UCommerce.Search.ISuggestOtherSearchTerms, UCommerce"
	             type="UCommerce.RavenDB25.Search.SuggestOtherSearchTerms, UCommerce.RavenDB25" />

	  <!-- Full text search in products and variants -->
	  <component id="FullTextSearchByName"
	             service="UCommerce.Search.IFullTextSearchByName, UCommerce"
	             type="UCommerce.RavenDB25.Search.FullTextSearchByName, UCommerce.RavenDB25" />

	  <component id="GetFullTextIndex"
	             service="UCommerce.Search.IGetFullTextSearchIndex, UCommerce"
	             type="UCommerce.RavenDB25.Search.GetFullTextIndex, UCommerce.RavenDB25" />
  </components>
</configuration>
