<configuration>
  <components>
    <!-- Headless -->
    <component
               id="Headless.InitParameters"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
               type="Ucommerce.Headless.API.Initialize, Ucommerce.Headless.API" />

    <partial-component id="Initialize">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${Headless.InitParameters}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
  </components>
</configuration> 
	