<configuration>
	<components>
		<component
				id="StartPageDashboard"
				service="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation"
				type="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation">
			<parameters>
				<section>StartPage</section>
				<defaultWidgets>
					<array>
						<value>${OrdersCount}</value>
						<value>${TurnOverByCurrency}</value>
						<value>${OrdersPerDayWidget}</value>
					</array>
				</defaultWidgets>
			</parameters>
		</component>

		<component
		id="StoresStartPageDashboard"
		service="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation"
		type="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation">
			<parameters>
				<section>StoresStartPage</section>
				<defaultWidgets>
					<array>
					</array>
				</defaultWidgets>
			</parameters>
		</component>

		<component
		id="OrdersStartPageDashboard"
		service="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation"
		type="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation">
			<parameters>
				<section>OrdersStartPage</section>
				<defaultWidgets>
					<array>
						<value>${OrderListWidget}</value>
					</array>
				</defaultWidgets>
			</parameters>
		</component>

		<component
				id="MarketingStartPageDashboard"
				service="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation"
				type="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation">
			<parameters>
				<section>MarketingStartPage</section>
				<defaultWidgets>
					<array>
						<value>${MarketingTimelineWidget}</value>
					</array>
				</defaultWidgets>
			</parameters>
		</component>

		<component
		id="AnalyticsStartPageDashboard"
		service="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation"
		type="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation">
			<parameters>
				<section>AnalyticsStartPage</section>
				<defaultWidgets>
					<array>
					</array>
				</defaultWidgets>
			</parameters>
		</component>

		<component
		id="SettingsStartPageDashboard"
		service="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation"
		type="Ucommerce.Presentation.UI.Dashboard, Ucommerce.Presentation">
			<parameters>
				<section>SettingsStartPage</section>
				<defaultWidgets>
					<array>
					</array>
				</defaultWidgets>
			</parameters>
		</component>
	</components>
</configuration>
