<configuration>
  <components>
    <!-- Ogone -->
    <component id="Ogone"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Ogone.OgonePaymentMethodService, UCommerce.Transactions.Payments.Ogone" />

    <component id="OgonePageBuilder"
               service="UCommerce.Transactions.Payments.Ogone.OgonePageBuilder, UCommerce.Transactions.Payments.Ogone"
               type="UCommerce.Transactions.Payments.Ogone.OgonePageBuilder, UCommerce.Transactions.Payments.Ogone">
    </component>

  </components>
</configuration>