<configuration>
  <components>
    <!-- Ogone -->
    <component id="Ogone"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Ogone.OgonePaymentMethodService, Ucommerce.Transactions.Payments.Ogone" />

    <component id="OgonePageBuilder"
               service="Ucommerce.Transactions.Payments.Ogone.OgonePageBuilder, Ucommerce.Transactions.Payments.Ogone"
               type="Ucommerce.Transactions.Payments.Ogone.OgonePageBuilder, Ucommerce.Transactions.Payments.Ogone">
    </component>

  </components>
</configuration>