<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <components>
        <component id="DefaultPriceGroupsIndex"
                   service="Ucommerce.Search.IIndex`1[[Ucommerce.Search.Models.PriceGroup,  Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Index`1[[Ucommerce.Search.Models.PriceGroup,  Ucommerce.Search]], Ucommerce.Search">
            <forwardedTypes>
                <add service="Ucommerce.Search.NonGeneric.IIndex, Ucommerce.Search" />
            </forwardedTypes>
            <parameters>
                <Definition>${PriceGroupIndexDefinition}</Definition>
                <Fetcher>${PriceGroupFetcher}</Fetcher>
            </parameters>
        </component>

        <component id="PriceGroupIndexDefinition"
                   service="Ucommerce.Search.IIndexDefinition`1[[Ucommerce.Search.Models.PriceGroup, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Definitions.DefaultPriceGroupsIndexDefinition, Ucommerce.Search">
        </component>

        <component id="PriceGroupFetcher"
                   service="Ucommerce.Search.IFetcher`1[[Ucommerce.Search.Models.PriceGroup, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Fetchers.PriceGroups.PriceGroupFetcher, Ucommerce.Search">
            <parameters>
                <PriceGroupFetcherBatchSize>#{priceGroupFetcherBatchSize}</PriceGroupFetcherBatchSize>
            </parameters>
        </component>
    </components>
</configuration>