<configuration>
	<components>
		<component 
			id="OrdersPerDayWidget"
			service="UCommerce.Presentation.UI.Widget, UCommerce.Presentation"
			type="UCommerce.Presentation.UI.Widget, UCommerce.Presentation">
			<parameters>
				<Name>Orders Per Day</Name>
				<View>/Apps/Widgets/OrdersByDates/view.html</View>
				<ShowLoadingCover>True</ShowLoadingCover>
				<EnableReload>True</EnableReload>
				<DefaultWidth>6</DefaultWidth>
				<DefaultHeight>3</DefaultHeight>
				<Css>
					<array>
						<value>/Apps/Widgets/OrdersByDates/OrdersByDates.css</value>
					</array>
				</Css>
				<Javascript>
					<array>
						<value>/Apps/Widgets/OrdersByDates/OrdersByDates.controller.js</value>
						<value>/Apps/Widgets/OrdersByDates/OrdersByDates.js</value>
					</array>
				</Javascript>
			</parameters>
		</component>
	</components>
</configuration>
