<configuration>
    <components>
        <component id="SearchProvider"
                   service="Ucommerce.Search.ISearchProvider, Ucommerce.Search"
                   type="Ucommerce.Search.ElasticSearch.SearchProvider, Ucommerce.Search.ElasticSearch">
        </component>

        <component id="ElasticSearchProvider"
                   service="Ucommerce.Search.ElasticSearch.IElasticSearchProvider, Ucommerce.Search.ElasticSearch"
                   type="Ucommerce.Search.ElasticSearch.SearchProvider, Ucommerce.Search.ElasticSearch">
        </component>


        <!-- This settings provider connects to a development setup with a single Elasticsearch node -->
        <component id="ConnectionSettingsProvider"
                   service="Ucommerce.Search.ElasticSearch.IConnectionSettingsProvider, Ucommerce.Search.ElasticSearch"
                   type="Ucommerce.Search.ElasticSearch.SingleNodeConnectionSettingsProvider, Ucommerce.Search.ElasticSearch">
            <parameters>
                <uri>http://localhost:9200</uri>
                <debug>False</debug>
            </parameters>
        </component>


        <!-- This settings provider connects to an Elasticsearch cluster such as a cluster on elastic.co. 
             Replace the value of the 'cloudId', 'username' and 'password' parameters with those matching your Elasticsearch cluster. 
             Copy the snippet to your application specific .config file.
        -->
        <!-- <component id="ConnectionSettingsProvider" -->
        <!--            service="Ucommerce.Search.ElasticSearch.IConnectionSettingsProvider, Ucommerce.Search.ElasticSearch" -->
        <!--            type="Ucommerce.Search.ElasticSearch.CloudConnectionSettingsProvider, Ucommerce.Search.ElasticSearch"> -->
        <!--     <parameters> -->
        <!--         <cloudId>cloudId</cloudId>  -->
        <!--         <userName>username</userName> -->
        <!--         <password>password</password> -->
        <!--         <debug>False</debug> -->
        <!--     </parameters> -->
        <!-- </component> -->


        <!-- Scratch Indexers -->
        <component id="DefaultScratchIndexer"
                   service="Ucommerce.Search.Indexers.IScratchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.ElasticSearch.Indexers.ScratchIndexer, Ucommerce.Search.ElasticSearch" />

        <component id="IndexToggle"
                   service="Ucommerce.Search.ElasticSearch.Toggle.IIndexToggle, Ucommerce.Search.ElasticSearch"
                   type="Ucommerce.Search.ElasticSearch.Toggle.IndexToggle, Ucommerce.Search.ElasticSearch" />
    </components>
</configuration>