<configuration>
    <components>
        <component id="SearchProvider"
                   service="Ucommerce.Search.ISearchProvider, Ucommerce.Search"
                   type="Ucommerce.Search.ElasticSearch.SearchProvider, Ucommerce.Search.ElasticSearch">
        </component>

        <component id="ElasticSearchProvider"
                   service="Ucommerce.Search.ElasticSearch.IElasticSearchProvider, Ucommerce.Search.ElasticSearch"
                   type="Ucommerce.Search.ElasticSearch.SearchProvider, Ucommerce.Search.ElasticSearch">
        </component>
        
        <component id="ConnectionSettings"
                    service="Nest.ConnectionSettings, Nest, Version=7.0.0.0, Culture=neutral, PublicKeyToken=96c599bbe3e70f5d"
                   type="Ucommerce.Search.ElasticSearch.ConnectionSettings, Ucommerce.Search.ElasticSearch">
            <parameters>
                <Debug>false</Debug>
                <connectionPool>${ConnectionPool}</connectionPool>
            </parameters>
        </component>

        <component id="ConnectionPool"
                   service="Elasticsearch.Net.SingleNodeConnectionPool, Elasticsearch.Net, Version=7.0.0.0, Culture=neutral, PublicKeyToken=96c599bbe3e70f5d"
                   type="Ucommerce.Search.ElasticSearch.ConnectionPool, Ucommerce.Search.ElasticSearch">
            <parameters>
                <uri>http://localhost:9200/</uri>
            </parameters>
        </component>

        <!-- Scratch Indexers -->
        <component id="DefaultScratchIndexer"
                   service="Ucommerce.Search.Indexers.IScratchIndexer, Ucommerce.Search"
                   type="Ucommerce.Search.ElasticSearch.Indexers.ScratchIndexer, Ucommerce.Search.ElasticSearch" />

        <component id="IndexToggle"
                   service="Ucommerce.Search.ElasticSearch.Toggle.IIndexToggle, Ucommerce.Search.ElasticSearch"
                   type="Ucommerce.Search.ElasticSearch.Toggle.IndexToggle, Ucommerce.Search.ElasticSearch" />
    </components>
</configuration>