<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <components>
        <component id="DefaultCategoriesIndex"
                   service="Ucommerce.Search.IIndex`1[[Ucommerce.Search.Models.Category,  Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexes.LuceneDiskIndex`1[[Ucommerce.Search.Models.Category,  Ucommerce.Search]], Ucommerce.Search.Lucene">
            <forwardedTypes>
                <add service="Ucommerce.Search.IIndexAutomatically, Ucommerce.Search" />
            </forwardedTypes>
            <parameters>
                <Definition>${CategoryIndexDefinition}</Definition>
                <Fetcher>${CategoryFetcher}</Fetcher>
            </parameters>
        </component>

        <component id="CategoryIndexDefinition"
                   service="Ucommerce.Search.IIndexDefinition`1[[Ucommerce.Search.Models.Category, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Definitions.DefaultCategoriesIndexDefinition, Ucommerce.Search">
        </component>

        <component id="CategoryFetcher"
                   service="Ucommerce.Search.IFetcher`1[[Ucommerce.Search.Models.Category, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Fetchers.Categories.CategoryFetcher, Ucommerce.Search">
        </component>
    </components>
</configuration>