<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <components>
        <component id="DefaultProductsIndex"
                   service="Ucommerce.Search.IIndex`1[[Ucommerce.Search.Models.Product,  Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexes.LuceneDiskIndex`1[[Ucommerce.Search.Models.Product,  Ucommerce.Search]], Ucommerce.Search.Lucene">
            <forwardedTypes>
                <add service="Ucommerce.Search.IIndexAutomatically, Ucommerce.Search" />
            </forwardedTypes>
            <parameters>
                <Definition>${ProductsIndexDefinition}</Definition>
                <Fetcher>${ProductFetcher}</Fetcher>
            </parameters>
        </component>

        <component id="ProductsIndexDefinition"
                   service="Ucommerce.Search.IIndexDefinition`1[[Ucommerce.Search.Models.Product, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Definitions.DefaultProductsIndexDefinition, Ucommerce.Search">
        </component>

        <component id="ProductFetcher"
                   service="Ucommerce.Search.IFetcher`1[[Ucommerce.Search.Models.Product, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Fetchers.Products.ProductFetcher, Ucommerce.Search">
        </component>
    </components>
</configuration>