<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <components>
        <component id="DefaultProductCatalogIndex"
                   service="Ucommerce.Search.IIndex`1[[Ucommerce.Search.Models.ProductCatalog,  Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexes.LuceneDiskIndex`1[[Ucommerce.Search.Models.ProductCatalog,  Ucommerce.Search]], Ucommerce.Search.Lucene">
            <forwardedTypes>
                <add service="Ucommerce.Search.IIndexAutomatically, Ucommerce.Search" />
            </forwardedTypes>
            <parameters>
                <Definition>${ProductCatalogsIndexDefinition}</Definition>
                <Fetcher>${ProductCatalogFetcher}</Fetcher>
            </parameters>
        </component>

        <component id="ProductCatalogsIndexDefinition"
                   service="Ucommerce.Search.IIndexDefinition`1[[Ucommerce.Search.Models.ProductCatalog, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Definitions.DefaultProductCatalogsIndexDefinition, Ucommerce.Search">
        </component>

        <component id="ProductCatalogFetcher"
                   service="Ucommerce.Search.IFetcher`1[[Ucommerce.Search.Models.ProductCatalog, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Fetchers.ProductCatalogs.ProductCatalogFetcher, Ucommerce.Search">
        </component>
    </components>
</configuration>