<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <components>
        <component id="DefaultProductCatalogGroupsIndex"
                   service="Ucommerce.Search.IIndex`1[[Ucommerce.Search.Models.ProductCatalogGroup,  Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Lucene.Indexes.LuceneDiskIndex`1[[Ucommerce.Search.Models.ProductCatalogGroup,  Ucommerce.Search]], Ucommerce.Search.Lucene">
            <forwardedTypes>
                <add service="Ucommerce.Search.IIndexAutomatically, Ucommerce.Search" />
            </forwardedTypes>
            <parameters>
                <Definition>${ProductCatalogGroupsIndexDefinition}</Definition>
                <Fetcher>${ProductCatalogGroupFetcher}</Fetcher>
            </parameters>
        </component>

        <component id="ProductCatalogGroupsIndexDefinition"
                   service="Ucommerce.Search.IIndexDefinition`1[[Ucommerce.Search.Models.ProductCatalogGroup, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Definitions.DefaultProductCatalogGroupsIndexDefinition, Ucommerce.Search">
        </component>

        <component id="ProductCatalogGroupFetcher"
                   service="Ucommerce.Search.IFetcher`1[[Ucommerce.Search.Models.ProductCatalogGroup, Ucommerce.Search]], Ucommerce.Search"
                   type="Ucommerce.Search.Fetchers.ProductCatalogGroups.ProductCatalogGroupFetcher, Ucommerce.Search">
        </component>
    </components>
</configuration>