@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services

@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="mini-basket" id="mini-basket">
    <div v-if="model" class="navbar-collapse js-mini-basket">
        <ul class="nav navbar-nav">
            <li>
                <div class="m-3">
                    <a class="text-black" :href="model.CartPageUrl">
                        <span>&#128722;</span><span class="js-mini-basket-number-of-items">{{ model.NumberOfItems }}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
