@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web;
@using Newtonsoft.Json;

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    string pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    string currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
}

<div data-component="mini-basket" id="mini-basket">
    <script type="application/json" purl="true">
        { "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)) }
    </script>
    <div v-if="model" class="js-mini-basket">
        <ul>
            <li>
                <template v-if="model.IsEmpty">
                    <div>@Html.Resource("EmptyBasket", "UcommerceResources")</div>
                </template>
                <template v-else>
                    <div>
                        <a :href="model.CartPageUrl">
                            <span>&#128722;</span><span class="js-mini-basket-number-of-items">{{ model.NumberOfItems }}</span> item(s): <span class="js-mini-basket-total">{{ model.Total }}</span>
                        </a>
                    </div>
                </template>
            </li>
        </ul>
    </div>
</div>
