@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web;
@using Newtonsoft.Json;

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    string pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    string currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

<div data-component="mini-basket" id="mini-basket">
    <script type="application/json" purl="true">
        { "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)) }
    </script>
    <div v-if="model" class="navbar-collapse js-mini-basket">
        <ul class="nav navbar-nav">
            <li>
                <div class="m-3">
                    <a class="text-black" :href="model.CartPageUrl">
                        <span>&#128722;</span><span class="js-mini-basket-number-of-items">{{ model.NumberOfItems }}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
