<configuration>
  <components>
    <!-- Ideal (Ing Bank) -->
    <component id="Ideal (Ing Bank)"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Ideal.IdealPaymentMethodService, UCommerce.Transactions.Payments.Ideal" />

    <component id="IdealIngPageBuilder"
               service="UCommerce.Transactions.Payments.Ideal.IdealPageBuilder, UCommerce.Transactions.Payments.Ideal"
               type="UCommerce.Transactions.Payments.Ideal.IdealPageBuilder, UCommerce.Transactions.Payments.Ideal">
      <parameters>
        <Debug>True</Debug>
      </parameters>
    </component>

  </components>
</configuration>