<configuration>
  <components>
    <!-- Ideal (Ing Bank) -->
    <component id="Ideal (Ing Bank)"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Ideal.IdealPaymentMethodService, Ucommerce.Transactions.Payments.Ideal" />

    <component id="IdealIngPageBuilder"
               service="Ucommerce.Transactions.Payments.Ideal.IdealPageBuilder, Ucommerce.Transactions.Payments.Ideal"
               type="Ucommerce.Transactions.Payments.Ideal.IdealPageBuilder, Ucommerce.Transactions.Payments.Ideal">
      <parameters>
        <Debug>True</Debug>
      </parameters>
    </component>

  </components>
</configuration>